<style type="text/css">
.lm_container2{
	width:80%;
	height:90%;
}
.lm_top2{
	width:90%;
	height:4%;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	width:100%;
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
.pagination a,span{
color:#000000;
}
.scrollingtext{
	height:810px;
	width:950px;
	border:0;
	overflow:auto;
}
</style>

<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
		<form action="/<%=controller.controller_name%>/<%= controller.action_name %>" method="get">
			<td align="CENTER"> <font class="binhthuong"><b style="color:#ffffff;">Trade Date :</b></font>
					<input readonly="readonly" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>" name="trade_date" id="trade_date" size="10"  type="text" onchange="check_Time(this)">
					
					<img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2"  name="ical2" /> 
						&nbsp;&nbsp;
					<input type="submit" value="   Apply   ">  
			</td>
		 </form>		
		</div>		
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
        		
			<table style="background-color:#ffffff;" class="tbl1" width="100%" border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td width="200" valign="TOP">
						<% @flag_to_show=false %>
						<% if @log_files.size < 1 %> 
							<strong> No Log File Found. </strong>
						<%else%>       	
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:10pt">
						
							<tr>
								<td  class="tdheader"  background="/images/background_bold.gif" align="CENTER" style="color:#ffffff"> Log Files
								</td>
							</tr>
							   <% 
									@log_files.sort!{|server1, server2| server1[0] <=> server2[0]}
								
									@log_files.each do |server| %> 
							 
							<tr>
								<td align="LEFT" class="tdheader"  background="/images/background_light.gif" align="CENTER" style="color:#ffffff; padding-left:2px"> <%= server[0].upcase %> </td>
							</tr> 
									<% server[1].each do |file_name| 
											file_name_only =  file_name.split("/").last.strip
									%>
							<tr class="highlighter" onclick="this.style.backgroundColor='#99CCCC';">
						  
								<td align="LEFT"> <a href="#" onclick="show_log_viewer('<%= file_name_only.strip %>', '<%= server[0] %>'); " style="margin-left:7px;margin-top:5px"><%= file_name_only %></a> </td>
							</tr>
							<% @flag_to_show=true %>
							<% end %>
						  <% end %>
						</table>        
						<%end%>
					</td>
					<td valign="top">
						<div id="log_container" style="width:100%; background:transparent;">
							 <% if @flag_to_show==true %>
									Please select a file to view.
							 <%	end %>
						</div>										
					</td>
				</tr>
			</table>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->


<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
    window.onload=function(el){
		Calendar.setup({
			inputField     :    "trade_date",
			ifFormat       :    '%m/%d/%Y',
			button         :    "ical2",
			align          :    "B1",
			singleClick    :    true
		});
		
		page1 = document.getElementById("log1");
		swap(page1);
		document.getElementById('trade_date').onchange=function(el){};
	}
	function focus_current_hit()
	{
		if ($("current_hit_index")) {
			$("current_hit_index").focus();
		}
	}
  	function please_wait()
	{	
		var pos = $('log_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'			
		};	

		var url = "/log/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});

	}
	function show_log_viewer(filename,servername)
	{	
		please_wait();
		
	    //remove highlight
		var allATags = new Array();
		var allATags = document.getElementsByTagName('TR');
		
		for (i = 0; i < allATags.length; i++) {
			if (allATags[i].className == 'highlighter') {
				allATags[i].style.backgroundColor = '#ffffff';
			}
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: filename,
			server: servername
		};		

		var url = "/log/show_detail" ;
		new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update("");
									//refresh side bar of menu
									refresh_menu_data(); }});	
		
	}
	function get_params()
	{
		if ($("key_word").value == '') 
		{
			show_log_viewer($("filename").value,$("server").value);
		}
		else
		{
			search_string();
		}
	}
	function search_string()
	{	
		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1
		};		

		var url = "/log/show_detail" ;
		new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});	
		
	}
	function get_hit(hit_value){
		if ($("key_word").value == '') 
		{
			show_log_viewer($("filename").value,$("server").value);
		}
		else
		{
			go_to_hit(hit_value);
		}
	}
	function go_to_hit(hit_value){
		
		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1,
			hit: hit_value
		};		

		var url = "/log/show_detail" ;
		new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function go_to_this_hit()
	{
		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1,
			hit: document.getElementById("current_index").value
		};		

		var url = "/log/show_detail" ;
		new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function page_view(id)
	{	
		please_wait();
		var param;
		if ($("key_word").value == '') {
			param = {
				authenticity_token: '<%= form_authenticity_token %>',
				page: document.getElementById(id).value,
				file_name: document.getElementById('filename').value,
				s: 0,
				server: document.getElementById('server').value
			};
		}
		else {
			param = {
				authenticity_token: '<%= form_authenticity_token %>',
				page: document.getElementById(id).value,
				file_name: document.getElementById('filename').value,
				s: 0,
				server: document.getElementById('server').value,
				key_word: document.getElementById("key_word").value,
				hit: document.getElementById("current_index").value
			};
		}
		var url = "/log/show_detail" ;
		new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function enter_page_view(id,e)
	{	
	    var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;
		else return true;
		var param ;
		if (keycode == 13) {
			please_wait();
				if ($("key_word").value == '') {
					param = {
						authenticity_token: '<%= form_authenticity_token %>',
						page: document.getElementById(id).value,
						file_name: document.getElementById('filename').value,
						s: 0,
						server: document.getElementById('server').value
					};
				}
				else {
					param = {
						authenticity_token: '<%= form_authenticity_token %>',
						page: document.getElementById(id).value,
						file_name: document.getElementById('filename').value,
						s: 0,
						server: document.getElementById('server').value,
						key_word: document.getElementById("key_word").value,
						hit: document.getElementById("current_index").value
					};
				}
			var url = "/log/show_detail";
			new Ajax.Updater('log_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
			return false;
		}
		else
   			return true;
	}
</script>
