<style type="text/css">
.floatdiv
{
	position:absolute;
	left:10px;
	top:277px;
	background: transparent;
	height:20px;
	white-space:nowrap;
	color:#CCCCCC;
}
.floatdiv2
{
	position:absolute;
	right:15px;
	top:277px;
	background: transparent;
	height:20px;
	white-space:nowrap;
	color:#CCCCCC;
}
</style>
<style type="text/css">
.lm_container2{
	width:80%;
	height:90%;
}
.lm_top2{
	width:90%;
	height:4%;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	/*width:100%;
	overflow:auto;*/
	overflow: hidden;
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
.scrollingtext{
	height:810px;
	width:950px;
	border:0;
	overflow:auto;
}
</style>
<% list_traders = ["All"]
	ret = Trader.find_by_sql("select username from user_login_info")
	i = 0
	ret.each { |value|
		i = i + 1
		st_user = value.username.capitalize
		a = [st_user]
		list_traders << a
	}
%>

<!--  add to move paging out of scroll -->
<script type="text/javascript" src="/javascripts/layout_paging_zone.js"></script>
<!-- # -->
<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" style="margin-bottom:30px">
		<div style="width:100%; align:center; text-align:center;">
		<table width="100%" border="0" cellspacing="1" cellpadding="1" >			
			<tr class="text_filter" style="color:white;">		  
			  <td align="center" >
			  <input name="status" value="<%= @uc.trade_status %>" type="hidden" maxlength="4" id="status" size="2">
					<span id="lbl_time_from" style="color:#FFFFFF;" >Time From:</span>
					<input name="trade_start_time" id="trade_start_time" type="text" size="6" maxlength="5" class="txt_number" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_start_time%>">
					<span id="lbl_time_to" style="color:#FFFFFF;">To:</span>
					<input name="trade_end_time" id="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">
				Trade Date:
				<input readonly="readonly" name="start_time" id="start_time" value="<%= @uc.start_time.strftime("%m/%d/%Y") %>"  size="10"  type="text">
				<img src="/images/calenda.gif" width="20" alt="calendar" align="ABSBOTTOM" name="ical1" id="ical1"/>
				
				Trader:
					<select name="list_traders" id="list_traders" style="width:100px;">
								<%= options_for_select(list_traders,@list_traders.to_s)%>
					</select>
				<input name="btnSubmit" type="button" value=" Apply " id="btnSubmit" onclick="show_activity();">
			    <input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td>				
			</tr>		
		</table>
		</div>
	</div> <!--end top2-->
	<div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart" id="activity-center-div">
		<div id="activity_container" style="width:100%;background:transparent;" class="width-auto" > </div>
   </div>   
   <div class="lm_right lm_right2"></div>
</div><!--end container 2-->
 
 <div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Loading ... &nbsp;
    <br>
</div>
  

<script language="javascript">
	
	//  add event resize on window
	var rtime = new Date(1, 1, 2000, 12,00,00);
	var timeout = false;
	var delta = 200;
	window.onresize = function() {
	    rtime = new Date();
	    if (!timeout) {
	        timeout = true;
	        setTimeout(resizeend, delta);
	    }
	}

	function resizeend() {
	    if (new Date() - rtime < delta) {
	        setTimeout(resizeend, delta);
	    } else {
	        timeout = false;
	        setPositionOfTradeViewContent("activity-content", "activity-center-div", "activity_container", "activity-paging-top");
	    }               
	}
	// --------------------------------

    window.onload = function(e){
    Calendar.setup({
      inputField     :    "start_time",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical1",
      align          :    "B1",
      singleClick    :    true
    });
	
    page1 = document.getElementById("activity1");
    swap(page1);      
	
	show_activity();
	//trade_result_show_statistic();
	//trade_result_show_trade();

	
  }
  function please_wait()
	{	
		var pos = $('activity_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	/*********************************************************************************
   * Method name 		: refresh_menu_data
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: KhanhTT
   * Description		: function refresh menu (date: 2011/05/06)
  **********************************************************************************/
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'			
		};	
		var url = "/activity/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
	function show_activity()
	{
		please_wait();
		check_time();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			list_traders: document.getElementById("list_traders").value,
			
		};
		var url = "/activity/show_activity" ;
		new Ajax.Updater('activity_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update("");
				//refresh menu side bar
				refresh_menu_data();
				setPositionOfTradeViewContent("activity-content", "activity-center-div", "activity_container", "activity-paging-top");
				resizeScrollDivWhenClick("activity-paging-top", "activity-paging-bottom", "activity-content", "activity-center-div", "activity_container", "activity-paging-top");
			}
		});
	}
	
	function page_view(pa)
	{
		please_wait();
		
		if (pa == 1)
		{
			document.getElementById('page2').value = document.getElementById('page1').value;
		}
		else
		{
			document.getElementById('page1').value = document.getElementById('page2').value;
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,	
			page: document.getElementById('page1').value,
			list_traders: document.getElementById("list_traders").value,
			
		};				
		
		var url = "/activity/show_activity" ;
		new Ajax.Updater('activity_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){
				$('please_wait').update("");
				setPositionOfTradeViewContent("activity-content", "activity-center-div", "activity_container", "activity-paging-top");
				resizeScrollDivWhenClick("activity-paging-top", "activity-paging-bottom", "activity-content", "activity-center-div", "activity_container", "activity-paging-top");
			}
		});
	}
	function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			show_activity();
		}
		return;
	}
	
	function isTimeNumber(evt)
    {
		
        var charCode = (evt.which) ? evt.which : event.keyCode;
		
		if (charCode == 58)
            return true;
		
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	
	function check_time()
	{
		var _start_time = document.getElementById("trade_start_time").value;
		var _end_time = document.getElementById("trade_end_time").value;

		var start_time_arr = _start_time.split(":");
		var end_time_arr = _end_time.split(":");
		
		/* Check start time */
		if (_start_time == "")
		{
			document.getElementById("trade_start_time").value = "6:00";
		}
		else
		{
			if (start_time_arr.length==1)
			{
				
				if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
				{
					 document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
				}
				else if (start_time_arr[0]<0 || start_time_arr[0]>23)
				{
					document.getElementById("trade_start_time").value = "6:00";
				}
			}
			else if (start_time_arr.length==2)
			{
		
				if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
					document.getElementById("trade_start_time").value = "6:00";
				else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
						document.getElementById("trade_start_time").value = "6:00";
					else if (start_time_arr[0] == "")
						document.getElementById("trade_start_time").value = "6:00";
			}
		}

		/* Check end time */
		if (_end_time == "")
		{
			document.getElementById("trade_end_time").value = "19:00";
		}
		else
		{
			if (end_time_arr.length==1)
			{
				if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
				{
					 document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
				}
				else if (end_time_arr[0]<0 || end_time_arr[0]>23)
				{
					document.getElementById("trade_end_time").value = "19:00";
				}
			}
			else if (end_time_arr.length==2)
			{
				if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
					document.getElementById("trade_end_time").value = "19:00";
				else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
						document.getElementById("trade_end_time").value = "19:00";
					else if (end_time_arr[0] == "")
						document.getElementById("trade_end_time").value = "19:00";
			}
		}
		
	
	}
	
	// Reset filter
	function reset_filter()
	{	
		document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("trade_start_time").value = "2:00";
		document.getElementById("trade_end_time").value = "19:00";		
		document.getElementById("list_traders").value = "All";
	}
		

</script>
	