<% 
	hash_param = {:start_time => @uc.start_time.strftime('%m/%d/%Y'), 
		:trade_start_time => @uc.trade_start_time,  
		:trade_end_time => @uc.trade_end_time, 
		:list_traders => @list_traders
	}

	end_index = @offset + @items_per_page
	start_index = 0
	if  @count > 0
		start_index = @offset + 1
	end
	if end_index > @count
		end_index = @count
	end		
%>	
<div class="center-layout-paging" id="activity-paging-top">
	<div class="left center-layout-paging-item">
		<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="activity-link-list-top">
		<%= will_paginate @object_pages,:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'activity_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0 %>
	</div>
	<span class="txtpagingoff">
		<% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		%>
			<div class="left center-layout-paging-item">
				<% form_tag({:controller => 'activity'}, {:method => :get, :id => 'form1'}) do
					params.each{|k, v|
						if k != 'page' && k != 'action' && k != 'controller' %>
							<%= hidden_field_tag k, v %>
						<%end
					}%>								
				<% end -%>
				<%= text_field_tag 'page1', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\')'} %>
			</div>
			<div class="left center-layout-paging-item">
				<%= link_to_remote(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\')'}) %>
			</div>
		<% end %>
	</span>
</div>
<div class="clear-both center-layout-content" id="activity-content">
	<table width="100%" border="1" class="table_normal">
        <tr class="table_trheader" >
          <td nowrap class="table_tdheader"  align="CENTER" width="3%">#</td>
          <td nowrap class="table_tdheader" align="CENTER" width="6%">Trader</td>
          <td nowrap class="table_tdheader" align="CENTER" width="15%">State</td>
          <td nowrap class="table_tdheader" align="CENTER" width="30%">Action</td>
          <td nowrap class="table_tdheader" align="CENTER" width="10%">Time Stamp</td>
        </tr>
		 <% 
		
        i = 0
        @act_view.each{ |an_act|  
          i += 1
        %>
          <tr  id="<%= i %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>> 
            <td class="text_normal" align="CENTER"><%= number_with_delimiter(@offset + i, :delimiter =>",")%>&nbsp;</td>
            <td class="text_normal" align="CENTER"><%= an_act[0].capitalize%></td>
            <td class="text_normal" align="left"><%= an_act[1] %></td>
            <td class="text_normal" align="left"><%= an_act[2] %></td>
            <td class="text_normal" align="CENTER"><%= an_act[3] %></td>
          </tr>
        <%}%>
    </table>
</div>
<div class="center-layout-paging" id="activity-paging-bottom">
	<div class="left center-layout-paging-item">
		<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="activity-link-list-bottom">
		<%= will_paginate @object_pages,{:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'activity_container'}, :previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %>
	</div>
	<% 
		page_count = 0
		page_count = @object_pages.total_pages
		if page_count > 1
			next_page = (params[:page] || 1).to_i + 1 
			next_page = page_count if next_page > page_count
	%>
		<div class="left center-layout-paging-item">
			<% form_tag({:controller => 'order_view'}, {:method => :get, :id => 'form2'}) do
				params.each{|k, v|
					if k != 'page' && k != 'action' && k != 'controller' %>
						<%= hidden_field_tag k, v %>
					<%end
				}%>
				
			<% end -%>
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10,:class=>"input0",:onchange=>'page_view(\'2\')'} %>
		</div>
		<div class="left center-layout-paging-item">
			<%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title =>"Go to this page"}), '#', {:onclick => 'page_view(\'2\')'}) %>
		</div>
	<% end %>
</div>