<!-- LuuNN add partial multi trade servers selection -->
<link rel="stylesheet" type="text/css" href="/stylesheets/multi_trade_servers_selection.css">
<!-- #LuuNN -->
<!-- LuuNN add partial multi trade servers selection -->
<script type="text/javascript" src="/javascripts/multi_trade_servers_selection.js"></script>
<!-- #LuuNN -->
<button type="button" data-toggle="dropdown" id="btn-dropdown" class="btn" onclick="show_hide_dropdown();" title="All servers">
	<div class="criteria-wrap"><span id="ts_status" class="ts_status">All servers</span></div>
	<span class="caret"></span>
</button>
<div class="list_trade_servers display_none" id="list_trade_servers">
	<div class="clear_selection">
		<a href="#" id="a_clear_selection" onclick="clear_selection();">Clear selected items</a>
	</div>
	<li class="ts_item" id="all_ts_li"><input type="checkbox" name="all_ts" value="0"  class="input_ts">All servers</li>
	<li class="ts_item divider"></li>
	<div class="selections_content">
		<% list_trade_servers.each do |l| %>
			<li class="ts_item" onclick="addOrRemoveSelectedClass(this);"><input type="checkbox" name="<%= l[0] %>" value="<%=l[1]%>" class="input_ts"><div><%= l[0] %></div></li>
		<% end %>
	</div>
</div>