<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<%
	title_names = [['home','Home'],
					['fill_rate','Fill Rates'],
					['trade_result','Trade Results'],
					['trade_view','Trade View'],
					['order_view','Order View'],
					['position_summary', 'Position Summary'],
					['utilities','Order Editor'],
					['ack_fill','Ack And Fill'],
					['activity','Activity Viewer'],
					['server_management','System Utilities'],
					['hidden_liquidity','Hidden Liquidity']
				  ]
%>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Trader Web Tool 2 - <%= controller.controller_name.gsub("_"," ").titlecase%><%= if controller.controller_name == 'fill_rate' || controller.controller_name == 'trade_result' then 's' end %> </title>  
	<link href="/stylesheets/main.css" type="text/css" rel="stylesheet" />
	<link href="/stylesheets/css/default.css" type="text/css" rel="stylesheet" />
	<link href="/stylesheets/custom.css" type="text/css" rel="stylesheet" />
</head>

	<!--<%= javascript_include_tag :defaults %>  -->
	<!--<script type="text/javascript" src="/layoutmanager/lib/prototype.js"></script>
    <script type="text/javascript" src="/layoutmanager/src/layout_manager.js"></script> -->

<body topmargin="0" leftmargin="0" rightmargin ="0" >
	<div class="lm_container lm_container1">    
       <div class="lm_top lm_top1" ></div>
     
       <div class="lm_left lm_left1">

			<div id="menu">
						<div id="menu_item">
							<ul>
							  <li><a id="home1" href="/home" onclick="swap(this)">HOME</a></li>
							  <li ><a id="fill_rate1" href="/fill_rate" onclick="swap(this)">FILL RATES</a></li>
							  <li><a id="trade_result1" href="/trade_result" onclick="swap(this)">TRADE RESULTS</a></li>
							  <li><a id="trade_view1" href="/trade_view" onclick="swap(this)">TRADE VIEW</a></li>
							  <li><a id="order_view1" href="/order_view" onclick="swap(this)">ORDER VIEW</a></li>
							  <li><a id="position_summary1" href="/position_summary" onclick="swap(this)">POSITION SUMMARY</a></li>
							  <li><a id="utilities1" href="/utilities" onclick="swap(this)">ORDER EDITOR</a></li>
							  <li><a id="ack_fill1" href="/ack_fill" onclick="swap(this)">ACK AND FILL</a></li>
							  <li><a id="activity1" href="/activity" onclick="swap(this)">ACTIVITY VIEWER</a></li>
							  <li><a id="server_management1" href="/server_management" onclick="swap(this)">SYSTEM UTILITIES</a></li>
							  <li><a id="hidden_liquidity1" href="/hidden_liquidity" onclick="swap(this)">HIDDEN LIQUIDITY</a></li>
							</ul>
						</div>
						<%
							if  !session[:uc_us]
								session[:uc_us] = UserContext.new
							end
							uc = session[:uc_us]
							summary = RiskManagement.summary(uc.start_time, uc.end_time)
						%>
						<div id="menu_summary_info">

							<div id="menu_summary_info1">
								<table cellspacing="1" cellpadding="1" width="100%" class="menu-text-normal">
									<tr>
										<td align="left">Shares:</td>
										<td align="right"><%= number_with_delimiter(summary["total_shares_traded"],:delimiter=>",") %>&nbsp;</td>
									</tr>
									<tr>
										<td align="left">Gross P&L:</td>
										<td align="right"><%=
											if summary["gross_profit"] < 0
											"(" << number_to_currency(-summary["gross_profit"],:precision=>2, :unit=>"") << ")"
											else
											 number_to_currency(summary["gross_profit"],:precision=>2, :unit=>"")
										 end %>&nbsp;</td>
									</tr>
									<tr>
										<td align="left">Net P&L:</td>
										<td align="right"><%=  
											if summary["net_profit"] < 0
											"(" << number_to_currency(-summary["net_profit"],:precision=>2, :unit=>"") << ")"
											else
												number_to_currency(summary["net_profit"],:precision=>2, :unit=>"")
											end
										  %>&nbsp;</td>
									</tr>
									<tr>
										<td align="left">Market Value:</td>
										<td align="right"><%=  number_to_currency(summary["market_value"],:precision=>2, :unit=>"") %>&nbsp;</td>
									</tr>
								</table>
							</div>
							<div id="menu_summary_info2"> 
								<% 	open_positions = RiskManagement.get_list_open_position	%>
								<table cellspacing="1" cellpadding="1" width="100%" class="menu-text-normal">
									<tr>
										<td align="left" colspan="4">List of open position:</td>
									</tr>

									<% open_positions.each{|value| %>

									<tr><td align="left"><%= value.symbol.upcase %></td>
										<td align="left" style="padding-right:6px; color:<%= color_mapping[value.account.to_i] %>"><%= account_mapping[value.account.to_i] %></td>
										<td align="left"><%= number_with_delimiter(value.net_quantity) %></td>
										<td align="right"><%= number_to_currency(value.average_price,:precision=>2, :unit=>"") %>&nbsp;</td></tr>
									<% } %>

								</table>

							</div>
							<div id="indicator_trader"> <!--  list traders-->
							    <span>List Of Current Traders</span>
								<table width="100%">
								<% user = Trader.show_trader_indicator
									if user.size > 0
								%>

								<%

										user.each { |user_t|
											x = user_t.status
											if user_t.status == 4
													role = "Logged Out"
											elsif user_t.status == 1
													role = "Active"
											elsif user_t.status == 2
													role = "Active Assist"
											else
													role = "Monitoring"
											end
								%>
								<tr>
									<td class="text_normal" style="font-weight:bold; font-size:9pt; <%if x==4 %> color:#F00F01 <%elsif x==1 %> color:#0474E4 <%elsif x==2 %> color:#04D215 <% else %> color:#8C00FF <% end %>" align="left"><%= user_t.username.capitalize %>&nbsp;</td>
									<td class="text_normal" style="font-weight:bold; font-size:9pt; <%if x==4 %> color:#F00F01 <%elsif x==1 %> color:#0474E4 <%elsif x==2 %> color:#04D215 <% else %> color:#8C00FF <% end %>" align="left"><%= role %></td>
								</tr>

								<% }

									else
								%>
									</br>
									</br>

									<tr> <span>There is no trader</span></tr>
								<% end %>
								</table>
							</div> <!-- end of lis traders -->
						</div>
			</div>
	   </div>
	   
     
		<script type="text/javascript" src="/javascripts/default.js"></script>
		<script type="text/javascript" src="/javascripts/layoutmanager.js"></script>

       <div class="lm_center lm_center1">
			<div id="content"><%= yield %></div>
	   </div>  
     
       <div class="lm_right lm_right1" style="width:auto"></div>
      <div class="lm_bottom lm_bottom1" id="footer" style="text-align:center; height:auto;"><span id="version">Copyright &copy <%= Time.now.year %>; RGM Advisors, LLC. All rights reserved - v20140527</span></div> 
    </div>
</body>

</html>
