<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Trader Web Tool 2</title>
  <%= javascript_include_tag :defaults %>
  <link href="/stylesheets/default.css" type="text/css" rel="stylesheet" />

</head>
<body topmargin="0" leftmargin="0" rightmargin="0" >
	<table cellpadding="0" cellspacing="0" width="100%"> 
		<!-- banner & Menu-->
		<tr valign="top">
			<td width="100%" valign="top"> 
				<table cellpadding="0" cellspacing="0" width="100%">
					<!-- banner-->
					<tr>
						<td width="100%" height="5" background="/images/bannerbg.gif" align="right" class="bannertext" colspan="2"></td>
					</tr>

					<!-- Menu-->
					<tr>
						<td width="100%" height="100%">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td width="10%" id="menu" bgcolor="#00000A"> <!-- bgcolor="#FFCC99" bgcolor="#F0F0F0"-->
									<table width="100%" border="0" cellspacing="0" cellpadding="2" class="tdheader">
										<tr><td class="entryexit"><a href="#" >&nbsp;&nbsp;Home</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Fill Rates</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Trade Results</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Trade View</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Order View</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Position Summary</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Utilities</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Ack and Fill</a></td></tr>
										<tr><td class="tdheader"><a href="#">&nbsp;&nbsp;Log Viewer</a></td></tr>
										<tr><td>&nbsp;</td></tr>
										<tr><td>&nbsp;</td></tr>
										<tr><td class="tdheader">Shares: 1,167,084</td></tr>
										<tr><td class="tdheader">Gross P&L: 13,816.99</td></tr>
										<tr><td>Net P&L: 9,848.90</td></tr>
										<tr><td>List of Open Position:</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;AA: 75</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;GOOG: 120</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;IBM: 200</td></tr>
									</table>
								</td>
								<td width="90%" id="content" align="center">
									<table cellspacing="0" cellpadding="0" border="0">
										<tr><td>HELLO EAA</td></tr>
									</table>
								</td>
							  </tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>

</html>
