<table width="100%" border="0" cellspacing="0" cellpadding="0"> <tr><td>
<table  width="100%" border="1" style="border-collapse:collapse" class="table_normal"  >
     <tr class="table_trheader">
        <td class="table_tdheader" align="CENTER" width="3%">#</td>
        <td class="table_tdheader" align="CENTER" width="5%">SYMBOL</td>
        <td class="table_tdheader" align="CENTER" width="8%">Action</td>
        <td class="table_tdheader" align="CENTER" width="8%">Order Size</td>
		<td class="table_tdheader" align="CENTER" width="9%">Shares Traded</td>
		<td class="table_tdheader" align="CENTER" width="8%">Cancelled</td>
		<td class="table_tdheader" align="CENTER" width="8%">Price</td>
        <td class="table_tdheader" align="CENTER" width="8%">AVG Price</td>
        <td class="table_tdheader" align="CENTER" width="6%">ECN</td>
        <td class="table_tdheader" align="CENTER" width="8%">OID</td>
        <td class="table_tdheader" align="CENTER" width="10%">Status</td>
        <td class="table_tdheader" align="CENTER" width="9%">Time</td>
		<td class="table_tdheader" align="CENTER" width="9%">Date</td>
      </tr>
 <%     
	i = 0
	@order_detail.each{ |an_order|  
		i += 1
		status = ""
		if an_order.lvs.to_i == 0
			status = "Fully Filled"
		elsif an_order.qty.to_i > an_order.lvs.to_i
			status = "Partially Filled"
		elsif an_order.status[0..5] == "Cancel"
			status = "Cancelled"
		else
			status = an_order.status
		end
	%>
	  <tr onmouseover="n_over(this)" onmouseout="n_out(this)"  id="<%= i%>__<%=an_order.id%>" onclick="display_detail_order(this)" style="cursor:pointer;<% if status == "Broken"%> background:#996666 <% end %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %> >
	    <td class="text_normal" align="right"><%=  i%>&nbsp;&nbsp;</td>
        <td class="text_normal" align="left"><%= an_order.symbol%></td>
        <td class="text_normal" align="left"><%= an_order.action2 %></td>
        <td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.qty ) %></td>
		<td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.qty - an_order.lvs) %></td>
		<td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.lvs) %></td>
		<td class="text_normal" align="RIGHT"><%= number_to_currency(an_order.price.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
		<td class="text_normal" align="RIGHT"><%= number_to_currency(an_order.avg_price.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
        <td class="text_normal" align="center"> <%= display_ecn(an_order.ecn) %> </td>
        <td class="text_normal" align="RIGHT"> <%= an_order.seqid %></td>
        <td class="text_normal" align="left"><%= status %></td>
        <td class="text_normal" align="RIGHT"><%= an_order.trade_time.strftime("%H:%M:%S.") %><%= "%06d" % (an_order.trade_time.usec.to_i % 1000000) %>
		</td>
        <td class="text_normal" align="center"><%= an_order.trade_date %></td>
	  </tr>
<%}%> 
  
</table>
</td></tr></table>
