 <%= javascript_include_tag 'swfobject' %>
 
 <%
 list_share_sizes = [["0",0],["< 100",-100],["100+",100],["200+",200],["300+",300],["500+",500],["1000+",1000],
					["2000+",2000],["5000+",5000],["10000+",10000],["20000+",20000] ]

  list_launch_share = [["0",0],["< 100",-100],["100+",100],["200+",200],["300+",300],["500+",500],["1000+",1000],
					["2000+",2000],["5000+",5000],["10000+",10000],["20000+",20000] ]
 expected_profits = [["0",0],["5+",5],["25+",25],["50+",50],["100+",100],["200+",200] ]


 list_iso_orders = [["All Orders", "0"], ["ISO Orders", "1"], ["Non-ISO Orders","2"]]
 
 standing_filter_type = [["Not Use","0"], [">=","1"], ["<=", "2"]]
 
 list_cross_size = [["0",0],[".01",1],[".02",2],[".03",3],[".04",4],[".05",5],[".06",6],[".07",7],[".08",8],[".09",9],[".10",10],[">.10",11] ]

%>


<style type="text/css">
.floatdiv
{
	position:absolute;
	left:8px;
	top:27px;
	background: transparent;
	height:20px;
	white-space:nowrap;
	color:#CCCCCC;
}
.floatdiv2
{
	position:absolute;
	right:9px;
	top:27px;
	background: transparent;
	height:20px;
	white-space:nowrap;
	color:#CCCCCC;
}

</style>
<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:31%;
}
.lm_left2{
	width:0px;
	height:100%;
}
.lm_center2{
	width:100%;
	overflow:auto;
	margin-right:-8px;
	margin-left:5px;
}
.lm_right2{
	width:0px;
	height:100%;
}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>

<script type="text/javascript">
	// Init variable for multiple filter selection
	var events = new Array();
	var defEvent = window.onclick;
	if(defEvent != null && typeof defEvent == 'function') {
		events.push(defEvent);
	}
</script>

<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" style="padding-bottom:5px; height:auto;">
		<div style="width:100%; align:center; text-align:center;">
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
			<tr class="text_filter">		  
			  <td align="center">
			  <input name="status" value="<%= @uc.trade_status %>" type="hidden" maxlength="4" id="status" size="2">
					<span id="lbl_time_from">Time From:</span>
					<input name="trade_start_time" id="trade_start_time" type="text" size="6" maxlength="5" class="txt_number" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_start_time%>">
					<span id="lbl_time_to">To:</span>
					<input name="trade_end_time" id="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">
				Date From:
				<input readonly="readonly" name="start_time" id="start_time" value="<%= @uc.start_time.strftime("%m/%d/%Y") %>"  size="10"  type="text" onchange="check_date_and_step_type(this)">
				<img src="/images/calenda.gif" width="20" alt="calendar" align="ABSBOTTOM" name="ical1" id="ical1"/>
				To:
				<input readonly="readonly" name="end_time" id="end_time" value="<%= @uc.end_time.strftime("%m/%d/%Y") %>"  size="10"  type="text" onchange="check_date_and_step_type(this)">
				<img src="/images/calenda.gif" width="20" alt="calendar" align="ABSBOTTOM" name="ical2" id="ical2"/>

			  </td>
			</tr>
			<tr>
			<td align = "center">  <table border="0" cellspacing="0" cellpadding="2">
			<tr class="text_filter">		  
			  <td align="left">

				<div class="trade-servers-td left">
					<div class="btn-group" id="btn-group">
						<span class="left margin-label-td">Trade Server:</span>
						<%= render :partial => 'layouts/multi_filter_selection', :locals => {:list_filter_options => ts_list_plus_pm[1..(ts_list_plus_pm.size-1)], :multi_default_status => "All servers", :default_all_filter => 0, :max_height_of_content => 160, :filter_for => "ts" } %>
					</div>
				</div>
        <div class="left trade-result-ecn-filter">
					<div class="btn-group" id="btn-group">
						<span class="left margin-label-td">ECN Entry/Exit:</span>
						<%= render :partial => 'layouts/multi_filter_selection', :locals => {:list_filter_options => list_ecn_filters_trade_result[1..(list_ecn_filters_trade_result.size-1)], :multi_default_status => "All", :default_all_filter => 0, :max_height_of_content => 160, :filter_for => "ecn_filter" } %>
					</div>
				</div>
				<div id="exclusive_container" onload="display_exclusive();" class="left">
					<input type="checkbox" id="exclusive" value="1" onclick="show_data();" title="Include Exclusive" class="remove-margin-top"/> Exclusive
				</div>
				<div class="left trade-result-order-filter"> 
					  <select name="iso_order" id="iso_order" style="width:125px;"  class="remove-margin-top">
							<%= options_for_select(list_iso_orders,@iso_order.to_s) %>
					  </select>
				</div>
				<td >
					Symbol: <input name="symbol" value="<%=  @symb.to_s %>" type="text" class="txt" maxlength="8" id="symbol" size="8" style="width:70px;" onkeypress = "getEnterKey(event)"></td>
					<td >Bt Shares >=<input name="bought_shares" value="<%= params[:bought_shares] if @bt_shares.to_i == 0 || @bt_shares.to_i %>" type="text" class="txt remove-margin-top" maxlength="9" id="bought_shares" size="6" style="width:70px;" onkeydown = "getEnterKey(event)" onkeypress = "return isNumberKey(event)"></td>
					<td align="right">Sd Shares >=<input name="sold_shares" value="<%= params[:sold_shares] if @sd_shares.to_i == 0 || @sd_shares.to_i %>" type="text" class="txt remove-margin-top" maxlength="9" id="sold_shares" size="6" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress = "return isNumberKey(event)"></td>
			</table>

			  </td>
			</tr>
			</td>
			</tr>
			<tr>
			  <td align="center"><table border="0" cellspacing="0" cellpadding="2">			 			  
				  <tr class="text_filter">
			  <td align="left">
        <div class="launch-shares-td left">
						<div class="btn-group" id="btn-group">
							<span class="left margin-label-td">Launch Shares:</span>
							<%= render :partial => 'layouts/multi_filter_selection', :locals => {:list_filter_options => list_launch_share[1..(list_launch_share.size-1)], :multi_default_status => "0", :default_all_filter => 0, :max_height_of_content => 140, :filter_for => "launch_shares" } %>    
						</div>
				</div>
        <div class="share_size-td left">
						<div class="btn-group" id="btn-group">
							<span class="left margin-label-td">Detected Shares:</span>
							<%= render :partial => 'layouts/multi_filter_selection', :locals => {:list_filter_options => list_share_sizes[1..(list_share_sizes.size-1)], :multi_default_status => "0", :default_all_filter => 0, :max_height_of_content => 140, :filter_for => "share_size" } %>    
						</div>
				</div>
				<div class="cross_size-td left">
						<div class="btn-group" id="btn-group">
							<span class="left margin-label-td">Cross:</span>
							<%= render :partial => 'layouts/multi_filter_selection', :locals => {:list_filter_options => list_cross_size[1..(list_cross_size.size-1)], :multi_default_status => "0", :default_all_filter => 0, :max_height_of_content => 140, :filter_for => "cross_size" } %>    
						</div>
				</div>
					<td align="right">Exp Profit: <select name="expected_profit" id="expected_profit" style="width:60px;">
						<%= options_for_select(expected_profits,@uc.expected_profit.to_i) %>
					</select>  </td>
					<td align="right" ><label>ECN Launch:
					  <select name="cecn" id="cecn" style="width:70px;">
						<%= options_for_select(book_ecns_list,@uc.cecn.to_s) %>
					  </select>
					</label></td>
					<td >Step:
						<select id="step_type" name="step_type" class="cmbx_filter_step" >
						  <%= options_for_select(step_type, @uc.step_type.to_i ) %>
					  </select> 
					</td>
					<td >&nbsp;&nbsp;<input name="btnSubmit" type="button" value=" Apply " id="btnSubmit" onclick="show_data();"></td>
					<td >&nbsp;&nbsp;<input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td>
				  </tr>
			  </table></td>
			</tr>	  
		  </table>
		</div>

   </div><!--end top2-->
 
    <div class="lm_left lm_left2"> </div> 
    <div class="lm_center lm_center2 scroll_div_with_chart" style="padding-bottom:2px; height:auto;">

		<div id="chart_container" style="width:100%; background:transparent; height:40%;"> 
			<div id="trade_result_statistics_container" style="width:100%; background:transparent;"> </div>
				<div style="width:100%; position:relative;">
					<div id="chart1" style="width:40%; float:left;" class="chart_container"><strong></strong> 

					</div> 
					<div id="chart2" style="width:59.6%; float:right;" class="chart_container"><strong></strong>

					</div>
					<div class="floatdiv">

						<input type="checkbox" id="include_repriced" value="1" onclick="trade_result_pie_charts()" title="Include Repriced" />&nbsp; &nbsp;Include Repriced
					</div>
					<div class="floatdiv2">

						<input type="checkbox" id="include_repriced2" value="1" onclick="trade_result_by_time_charts()" title="Include Repriced" />&nbsp; &nbsp;Include Repriced
					</div>

				</div>
		</div>

		</br>
		<div id="trade_result_table_container" style="width:100%; background:transparent; float:left;" class="text_filter"> 

		</div>
   </div> <!--end center2-->  
   <div class="lm_right lm_right2" style="position: absolute; margin-top: 25px"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->


<div id="mydlg_order" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Detail Trade Tracking</div>
  <div class="x-dlg-bd">
    <div id="center_order" class="x-layout-inactive-content">
      <div id="tree_panel" style="text-align:left"></div>

    </div>
  </div>
  <div class="x-dlg-ft" >
	<INPUT TYPE="checkbox" NAME="pmCheckbox" id="pmCheckbox" checked="true" onClick="refresh_popup()"/>  For PM orders, only show orders with some fills
	<INPUT TYPE="hidden" id="pmCheckboxId" value=""/>
  </div>
</div>

<!--    <hr/>
        <table cellpadding="0" cellspacing="0" width="50%">
                <div id="center">Containt here</div>
        </table>   -->
<div id="mydlg_order_detail" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Detail Order Tracking </div>
  <div class="x-dlg-bd">
    <div id="west_order_detail" class="x-layout-inactive-content">
      <div id="tree_panel_order_detail" style="text-align:left"></div>

    </div>
    <div id="center_order_detail" class="x-layout-inactive-content" style="margin-right:0;padding:0;">
    </div>
  </div>
</div>
<div  class="text_filter" id='please_wait' style="display:none; position:absolute; background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>

<script language="javascript">

  window.onload = function(e){
    Calendar.setup({
      inputField     :    "start_time",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical1",
      align          :    "B1",
      singleClick    :    true
    });
	Calendar.setup({
        inputField     :    "end_time", 
        ifFormat       :    '%m/%d/%Y',
        button         :    "ical2",
        align          :    "Bl",
        singleClick    :    true
    });
 
    page1 = document.getElementById("trade_result1");
    swap(page1);      
	// Get params when click in fill rate
    var paramsTS = '<%= @uc.ts ? @uc.ts : "" %>';
	setFilterfromParams_ts(paramsTS, 0, "ts", "All servers");

	//trade_result_show_statistic();
	//trade_result_show_trade();
	display_exclusive();
	check_date_and_step_type(document.getElementById("start_time"));
	//on_standing_change(document.getElementById("standing_filter"));

	show_data();

  }
	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
            start_time: document.getElementById("start_time").value,
            end_time:document.getElementById("end_time").value
		};
		var url = "/trade_result/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
  	function please_wait()
	{
		var pos = $('trade_result_statistics_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top - 20;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	//apply button
	function show_data()
	{
		//please_wait();
		check_time();
		trade_result_show_statistic();
		trade_result_show_trade();
		trade_result_pie_charts();
		trade_result_by_time_charts();
	}
	//show statistics table
	function trade_result_show_statistic()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			//ts_id: document.getElementById("ts_id").value,
			ts_id: getFilterOptions_ts(), // Multi trade servers selections
			cecn: $("cecn").value,
			status: $("status").value,
			bought_shares: $("bought_shares").value,
			sold_shares: $("sold_shares").value,
      share_size: getFilterOptions_share_size(),
      launch_shares: getFilterOptions_launch_shares(),
			expected_profit: $("expected_profit").value,
      ecn_filter: getFilterOptions_ecn_filter(),
			exclusive: document.getElementById("exclusive").checked,
			iso_order: $('iso_order').value,
			cross_size: getFilterOptions_cross_size()
		};

		var url = "/trade_result/show_statistic" ;
		new Ajax.Updater('trade_result_statistics_container',url,{parameters: param, method: "GET", evalScripts:true,
				onComplete:function(){
					refresh_menu_data();
				}});
	}
	//show trade table
	function trade_result_show_trade()
	{
		var date_start = document.getElementById("start_time").value;
		var date_end = document.getElementById("end_time").value;
		var start = new Date(Date.parse(date_start));
		var end = new Date(Date.parse(date_end));
	   var check_date = Math.abs(end.getFullYear() - start.getFullYear()) + Math.abs(end.getMonth() - start.getMonth());
		if(check_date == 0)
		{
			please_wait();
			var param = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				status: $("status").value,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
				share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				//standing_filter: $("standing_filter").value,
				//standing_value: $("standing_value").value,
				exclusive: document.getElementById("exclusive").checked,
				iso_order: $('iso_order').value,
				//cross_size: $("cross_size").value
				cross_size: getFilterOptions_cross_size() 
			};

			var url = "/trade_result/show_trade" ;
			new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,
				onComplete:function(){$('please_wait').update("");}});
		}
		else
		{
			//Ext.MessageBox.alert("Viewing Trades Note", "Viewing trades in detail for multiple dates is not supported.",false,false);
			//$('trade_result_table_container').update("Viewing trades in detail for multiple months is not supported.");
			please_wait();
			var param = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				status: $("status").value,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
				share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				exclusive: document.getElementById("exclusive").checked,
				iso_order: $('iso_order').value,
				//cross_size: $("cross_size").value
				cross_size: getFilterOptions_cross_size() 
			};

			var url = "/trade_result/show_trade_multiple_months" ;
			new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,
				onComplete:function(){$('please_wait').update("");}});
		}

	}

	//Show trade result by pie chart
	function trade_result_pie_charts()
	{
			please_wait();
			var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			include_repriced: document.getElementById("include_repriced").checked,
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			//ts_id: document.getElementById("ts_id").value,
			ts_id: getFilterOptions_ts(), // Multi trade servers selections
			cecn: $("cecn").value,
			status: $("status").value,
			bought_shares: $("bought_shares").value,
			sold_shares: $("sold_shares").value,
			share_size: getFilterOptions_share_size(),
      launch_shares: getFilterOptions_launch_shares(),
			expected_profit: $("expected_profit").value,
      ecn_filter: getFilterOptions_ecn_filter(),
			//standing_filter: $("standing_filter").value,
			//standing_value: $("standing_value").value,
			exclusive: document.getElementById("exclusive").checked,
			iso_order: $('iso_order').value,
			//cross_size: $('cross_size').value
			cross_size: getFilterOptions_cross_size() 
		};

			var url = "/trade_result/trade_result_pie" ;
			new Ajax.Updater('chart1',url,{parameters: param, method: "GET", evalScripts:true, onComplete:function(){$('please_wait').update("");}});

	}

	//Show trade result by line-area chart
	function trade_result_by_time_charts()
	{		please_wait();
			var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			//ts_id: document.getElementById("ts_id").value,
			ts_id: getFilterOptions_ts(), // Multi trade servers selections
			cecn: $("cecn").value,
			status: $("status").value,
			bought_shares: $("bought_shares").value,
			sold_shares: $("sold_shares").value,
			share_size: getFilterOptions_share_size(),
      launch_shares: getFilterOptions_launch_shares(),
			expected_profit: $("expected_profit").value,
      ecn_filter: getFilterOptions_ecn_filter(),
			//standing_filter: $("standing_filter").value,
			//standing_value: $("standing_value").value,
			include_repriced: document.getElementById("include_repriced2").checked,
			step_type: $("step_type").value,
			exclusive: document.getElementById("exclusive").checked,
			iso_order: $('iso_order').value,
			//cross_size: $("cross_size").value
			cross_size: getFilterOptions_cross_size() 
		};

		var url = "/trade_result/trade_result_by_time" ;
		new Ajax.Updater('chart2',url,{parameters: param, method: "GET", evalScripts:true, onComplete:function(){$('please_wait').update("");}});
	}

	//show trade table by status
	function trade_result_show_trade_by_status(status)
	{
		var date_start = document.getElementById("start_time").value;
		var date_end = document.getElementById("end_time").value;
		var start = new Date(Date.parse(date_start));
		var end = new Date(Date.parse(date_end));
	    var check_date = Math.abs(end.getFullYear() - start.getFullYear()) + Math.abs(end.getMonth() - start.getMonth());
		if(check_date == 0)
		{	var pos = $('trade_result_table_container').cumulativeOffset();
			var _wait = $('please_wait');
				_wait.update("Please wait...");
				_wait.style.position = "absolute";
				_wait.style.top = pos.top;
				_wait.style.left = pos.left - 150;
				_wait.show();
			var param = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				cross_size: getFilterOptions_cross_size(), 
				status: status,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
        share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				//standing_filter: $("standing_filter").value,
				//standing_value: $("standing_value").value,
				iso_order: $('iso_order').value,
				exclusive: document.getElementById("exclusive").checked,
				sort_default: "1"
			};
			//Update hidden field 'status'
			$('status').value = status;
			//alert(status);
			var i = 0;
			while(i < 9)
			{
				$('status__' + i ).className = 'locationlink';
				i = i + 1;
			}
			$('status__' + status).className = 'location m_over';

			var url = "/trade_result/show_trade" ;
			new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});

		}
		else
		{
			 //alert("Viewing trades in detail for multiple dates is not supported.");
			//Ext.MessageBox.alert("Viewing Trades Note", "Viewing trades in detail for multiple dates is not supported.",false,false);
			//$('trade_result_table_container').update("Viewing trades in detail for multiple dates is not supported.");
			var pos = $('trade_result_table_container').cumulativeOffset();
			var _wait = $('please_wait');
				_wait.update("Please wait...");
				_wait.style.position = "absolute";
				_wait.style.top = pos.top;
				_wait.style.left = pos.left - 150;
				_wait.show();
			var param = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				cross_size: getFilterOptions_cross_size(), 
				status: status,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
				share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				//standing_filter: $("standing_filter").value,
				//standing_value: $("standing_value").value,
				iso_order: $('iso_order').value,
				exclusive: document.getElementById("exclusive").checked,
				sort_default: "1"
			};
			//Update hidden field 'status'
			$('status').value = status;
			//alert(status);
			var i = 0;
			while(i < 8)
			{
				$('status__' + i ).className = 'locationlink';
				i = i + 1;
			}
			$('status__' + status).className = 'location m_over';

			var url = "/trade_result/show_trade_multiple_months" ;
			new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});

		}
	}
	//show trade table =>page_view
	function page_view( pa )
	{
		var pos = $('trade_result_table_container').cumulativeOffset();
		if (pa == 1)
		{
			$('page2').value = $('page1').value;
		}
		else
		{
			$('page1').value = $('page2').value;
		}
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			//ts_id: document.getElementById("ts_id").value,
			ts_id: getFilterOptions_ts(), // Multi trade servers selections
			cecn: $("cecn").value,
			cross_size: getFilterOptions_cross_size(),
			status: $("status").value,
			bought_shares: $("bought_shares").value,
			sold_shares: $("sold_shares").value,
			share_size: getFilterOptions_share_size(),
      launch_shares: getFilterOptions_launch_shares(),
			expected_profit: $("expected_profit").value,
      ecn_filter: getFilterOptions_ecn_filter(),
			//standing_filter: $("standing_filter").value,
			//standing_value: $("standing_value").value,
			page: $('page1').value,
			exclusive: document.getElementById("exclusive").checked,
			iso_order: $('iso_order').value
		};

		var url = "/trade_result/show_trade" ;
		new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
	}


	//show trade table multiple months =>page_view
	function page_view_multiple_months( pa )
	{
		var pos = $('trade_result_table_container').cumulativeOffset();
		if (pa == 1)
		{
			$('page2').value = $('page1').value;
		}
		else
		{
			$('page1').value = $('page2').value;
		}
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			//ts_id: document.getElementById("ts_id").value,
			ts_id: getFilterOptions_ts(), // Multi trade servers selections
			cecn: $("cecn").value,
			cross_size: getFilterOptions_cross_size(),
			status: $("status").value,
			bought_shares: $("bought_shares").value,
			sold_shares: $("sold_shares").value,
			share_size: getFilterOptions_share_size(),
      launch_shares: getFilterOptions_launch_shares(),
			expected_profit: $("expected_profit").value,
      ecn_filter: getFilterOptions_ecn_filter(),
			//standing_filter: $("standing_filter").value,
			//standing_value: $("standing_value").value,
			page: $('page1').value,
			exclusive: document.getElementById("exclusive").checked,
			iso_order: $('iso_order').value
		};

		var url = "/trade_result/show_trade_multiple_months" ;
		new Ajax.Updater('trade_result_table_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
	}
	//sort by title of trade table data
	function sort_fields(field,dir_param, dir_value)
	{  
		var pos = $('trade_result_table_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
		var params = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				cross_size: getFilterOptions_cross_size(),
				status: $("status").value,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
				share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				order_field: field,
				//standing_filter: $("standing_filter").value,
				//standing_value: $("standing_value").value,
				exclusive: document.getElementById("exclusive").checked,
				has_sorted_column: "1",
				iso_order: $('iso_order').value
			};
		params[dir_param] = dir_value;
		var url = "/trade_result/show_trade";
		new Ajax.Updater('trade_result_table_container',url,{parameters: params, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
	}

	//sort by title of trade table data
	function sort_field_multiple_months(field,dir_param, dir_value)
	{    
		var pos = $('trade_result_table_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
		var params = {
				authenticity_token: '<%= form_authenticity_token %>',
				start_time: document.getElementById("start_time").value,
				end_time: document.getElementById("end_time").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				//ts_id: document.getElementById("ts_id").value,
				ts_id: getFilterOptions_ts(), // Multi trade servers selections
				cecn: $("cecn").value,
				cross_size: getFilterOptions_cross_size(), 
				status: $("status").value,
				bought_shares: $("bought_shares").value,
				sold_shares: $("sold_shares").value,
				share_size: getFilterOptions_share_size(),
        launch_shares: getFilterOptions_launch_shares(),
				expected_profit: $("expected_profit").value,
        ecn_filter: getFilterOptions_ecn_filter(),
				order_field: field,
				//standing_filter: $("standing_filter").value,
				//standing_value: $("standing_value").value,
				exclusive: document.getElementById("exclusive").checked,
				has_sorted_column: "1",
				iso_order: $('iso_order').value
			};
		params[dir_param] = dir_value;
       	 
		var url = "/trade_result/show_trade_multiple_months";
		new Ajax.Updater('trade_result_table_container',url,{parameters: params, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
	}

  ///////////////////////////////
  function ecn_submit(el){
    $('hecn').value = el.id;
    $('frm_filter').submit();
  }
  //Function show_detail_order
  var dialog_order;

  function show_detail_order(el){
    //Ext.MessageBox.alert("ts_cid : ts_id", "I am done.");
    //Ext.MessageBox.alert("ts_cid : ts_id", e1.id);
    //Ext.MessageBox.alert("ts_cid : ts_id",e1.id.split("__")[1] + " : " + e1.id.split("__")[2]);


    if(!dialog_order){ // lazy initialize the dialog and only create it once
      dialog_order = new Ext.LayoutDialog("mydlg_order", {
        modal:false,
        width:900,
        height:300,
        shadow:false,
        minWidth:300,
        minHeight:300,
        proxyDrag: false,
        fixedcenter: true,

        center: {
          autoScroll:true  }
      });

      dialog_order.addKeyListener(27, dialog_order.hide, dialog_order); 

	 dialog_order.addButton('Close', dialog_order.hide, dialog_order);
     //dialog_order.footer.update('<INPUT TYPE="checkbox" NAME="pmCheckbox" checked="true" value="Show/Hide PM Orders Cancelled"/>');	  

      var layout = dialog_order.getLayout();
      layout.beginUpdate();
      //layout.add('west', new Ext.ContentPanel('west'));
      layout.add('center', new Ext.ContentPanel('center_order'));
      layout.endUpdate();
    }
    //  alert(showBtn.dom);
    //   showBtn = Ext.get(el.id);
    if (Ext.isIE){
      dialog_order.hide();
    };


    dialog_order.show();
    if (Ext.isGecko){
      //dialog_order.moveTo(150,420);
    }
    //  alert(el.id);
    $("center_order").innerHTML = "";
    var cross_id = el.id.split("__")[1];
    var ts_id = el.id.split("__")[2];
    var trade_date = el.id.split("__")[3];
	var symbol = el.id.split("__")[4];
	//alert($("pmCheckbox").checked);
	var checkid = 0;
	if($("pmCheckbox").checked)
	{
		checkid = 1;
	}
	$("pmCheckboxId").value =  el.id;
    //build_list_order(cross_id,ts_id,trade_date);

    new Ajax.Request("/trade_result/order_detail?cross_id=" + cross_id+"&ts_id="+ts_id +"&symbol="+ symbol +"&trade_date="+trade_date +"&pmcheck=" + checkid, {asynchronous:true, evalScripts:true, onComplete:function(request){
        //Ext.MessageBox.alert("Hello", "I'm done.");
        //document.getElementById("tree_panel").innerHTML = request.responseText;
        $("center_order").innerHTML = request.responseText;

      }});
  }


  //There are functions for details a dialog
  var dialog_detail;
  var root;
  var tree_panel;
  var current_node ;
  var selected_order = null;
  var commit_notes = 0;
  function display_detail_order(el){
    if (selected_order){
      selected_order.className = "td6";
    }
    el.className = "td5";
    selected_order = el;
	var inputDom = Ext.MessageBox.getDialog().body.child('input').dom;
	inputDom.maxLength = 10;
	var originalMaxLen = inputDom.maxLength;

    if(!dialog_detail){ // lazy initialize the dialog and only create it once
      dialog_detail = new Ext.LayoutDialog("mydlg_order_detail", {
        modal:false,
        width:650,
        height:400,
        shadow:false,
        minWidth:300,
        minHeight:350,
        proxyDrag: false,
        fixedcenter: true,
        west: {
          split:true,
          initialSize: 220,
          minSize: 200,
          maxSize: 260,
          titlebar: false,
          collapsible: true,
          animate: true,
          autoScroll:true
        },
        center: {
          autoScroll:true                                         }
      });

      dialog_detail.addKeyListener(27, dialog_detail.hide, dialog_detail);

      dialog_detail.addButton('Break', function(btn,obj){
        var ids = new Array();
        root.eachChild(function(node){
          if(node.isSelected() && node.text.indexOf("Fill") >=0){
            ids.push(node.id);
          }
        });
        new Ajax.Request('/order_view/adjust_trade?fill_id=' + ids.join(',') + '&new_price=0',
        {asynchronous:true,
          onComplete:function(e){
            if(e.responseText != "OK"){
              Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
            }else{
              //window.location.href = window.location;
			  trade_result_show_trade();//update table data which has just broken a trade			  
			  dialog_detail.hide();    //Close dialog
			  //dialog_order.hide();
            }
          }//function
        }
      );//Ajax.Request function


      }, dialog_detail);

      dialog_detail.addButton('Adjust Price', function(btn){
        if(current_node.text.indexOf("Fill") >=0){
          Ext.MessageBox.prompt('Price Adjustment', 'Please enter your new price:', function(btn, price){
 	      inputDom.maxLength = originalMaxLen;
			if(btn == "ok"){
              if (is_valid_number(price))
			  {
                adjust_trade(price);
              }
			  else
			  {

				Ext.MessageBox.alert("Error!", "Invalid price. Please, enter valid number!");
              }
            }
          });
        }
      }, dialog_detail);


      dialog_detail.addButton('Close', dialog_detail.hide, dialog_detail);
      var layout = dialog_detail.getLayout();
      layout.beginUpdate();
      layout.add('west', new Ext.ContentPanel('west_order_detail'));
      layout.add('center', new Ext.ContentPanel('center_order_detail'));
      layout.endUpdate();
    }
    //  alert(showBtn.dom);
    //   showBtn = Ext.get(el.id);
    if (Ext.isIE){
      dialog_detail.hide();
    };
    dialog_detail.buttons[0].disable();
    dialog_detail.buttons[1].disable();
    dialog_detail.show();
    if (Ext.isGecko){
      //dialog_detail.moveTo(250,20);
    }
    //  alert(el.id);
    var seqid = el.id.split("__")[1];
    build_tree(seqid);


  }


  function adjust_trade(price){
    new Ajax.Request('/order_view/adjust_trade?fill_id=' + current_node.id + '&new_price=' + price,
    {asynchronous:true,
      onComplete:function(e){
        if(e.responseText != "OK"){
          Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
        }else{
          //window.location.href = window.location;
		  trade_result_show_trade();//update table data which has just broken a trade			  
		  dialog_detail.hide();    //Close dialog
        }
      }//function
    }
  );//Ajax.Request function
  }

  function build_tree(order_id){

    var xt = Ext.tree;
    $('tree_panel_order_detail').innerHTML = "";
    var stree = new xt.TreePanel('tree_panel_order_detail', {
      animate:true,
      loader: new xt.TreeLoader({dataUrl:'/order_view/msg_type_list',
        baseParams:{order_id:order_id}}),
      selModel: new xt.MultiSelectionModel()
    });
    var sroot = new xt.TreeNode({
      text: "Order",
      draggable:false,
      id:'0'
    });
    stree.setRootNode(sroot);
    stree.addListener("click", show_msg);
    stree.render();
    tree_panel = stree;
    root = sroot;
    sroot.expand(false, false);
    new Ajax.Updater('center_order_detail',"/order_view/msg_type_list?order_id=" + order_id, {asynchronous:true, evalScripts:true, onComplete:function(r){
        //  Ext.MessageBox.alert("Hello", "I'm done.");
      }});

  }
  var current_viewed_msg = null;
  function show_msg(my_node, e){
    //  if(my_node.isLeaf()){
    current_node = my_node;
    $(current_viewed_msg).hide();
    $("tbl_msg__" + my_node.id).show();
    current_viewed_msg = "tbl_msg__" + my_node.id;

    if (current_node.text.indexOf("Fill") >=0){
      dialog_detail.buttons[0].enable();
      dialog_detail.buttons[1].enable();
    }else{
      dialog_detail.buttons[0].disable();
      dialog_detail.buttons[1].disable();
    }
    //  }
  }

  function load_msg_detail(uri){
    new Ajax.Updater('center_order_detail',uri, {asynchronous:true, evalScripts:true, onComplete:function(r){
        //  Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }

  function is_valid_number(sText){
    var ValidChars = "0123456789.";
    var IsNumber=true;
    var Char;


    for (i = 0; i < sText.length && IsNumber == true; i++)
    {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
      {
        IsNumber = false;
      }
    }
    return IsNumber;

  }

</script>

<script language="javascript">
	function check_time()
	{
		var _start_time = document.getElementById("trade_start_time").value;
		var _end_time = document.getElementById("trade_end_time").value;

		var start_time_arr = _start_time.split(":");
		var end_time_arr = _end_time.split(":");

		/* Check start time */
		if (_start_time == "")
		{
			document.getElementById("trade_start_time").value = "6:00";
		}
		else
		{
			if (start_time_arr.length==1)
			{

				if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
				{
					 document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
				}
				else if (start_time_arr[0]<0 || start_time_arr[0]>23)
				{
					document.getElementById("trade_start_time").value = "6:00";
				}
			}
			else if (start_time_arr.length==2)
			{

				if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
					document.getElementById("trade_start_time").value = "6:00";
				else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
						document.getElementById("trade_start_time").value = "6:00";
					else if (start_time_arr[0] == "")
						document.getElementById("trade_start_time").value = "6:00";
			}
		}

		/* Check end time */
		if (_end_time == "")
		{
			document.getElementById("trade_end_time").value = "19:00";
		}
		else
		{
			if (end_time_arr.length==1)
			{
				if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
				{
					 document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
				}
				else if (end_time_arr[0]<0 || end_time_arr[0]>23)
				{
					document.getElementById("trade_end_time").value = "19:00";
				}
			}
			else if (end_time_arr.length==2)
			{
				if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
					document.getElementById("trade_end_time").value = "19:00";
				else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
						document.getElementById("trade_end_time").value = "19:00";
					else if (end_time_arr[0] == "")
						document.getElementById("trade_end_time").value = "19:00";
			}
		}


	}

	function check_date_and_step_type(el)
	{
		//Calculate number of days between start_date and end_date 
		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");

		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);

		if (start > end){
				if(el.id == "start_time"){
						_end_date.value = _start_date.value;
				}else{
						_start_date.value = _end_date.value;
				}
		}

		check_time();
		var period_days = cal_date_range();
	}

	function cal_date_range()
	{
		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");
		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);
		var period_days = (end - start)/(1000*60*60*24);
		var current_step = document.getElementById("step_type").value;
		if (start == end && current_step != 15)
		{
			document.getElementById("step_type").value = 15;
		}
		else if (period_days >= 1 && current_step != 91)
		{
			document.getElementById("step_type").value = 91;
		}

		return period_days;
	}

	// Reset filter
	function reset_filter()
	{
		document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("end_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("trade_start_time").value = "2:00";
		document.getElementById("trade_end_time").value = "19:00";
		//document.getElementById("ts_id").value = "0";
		clear_selection_ts("All servers"); // Multi trade servers selections
    clear_selection_ecn_filter("All");
		document.getElementById("iso_order").value = "0";
		document.getElementById("symbol").value = "";
		document.getElementById("bought_shares").value = "";
		document.getElementById("sold_shares").value = "";
    clear_selection_share_size("0");
    clear_selection_launch_shares("0");
		//document.getElementById("cross_size").value = 0;
		clear_selection_cross_size("0");
		document.getElementById("expected_profit").value = 0;
		document.getElementById("cecn").value = 0;
		document.getElementById("exclusive_container").style.display = 'none';

		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");
		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);
		var period_days = (end - start)/(1000*60*60*24);
		var current_step = document.getElementById("step_type").value;
		if (start == end && current_step != 15)
		{
			document.getElementById("step_type").value = 15;
		}
		else if (period_days >= 1 && current_step != 91)
		{
			document.getElementById("step_type").value = 91;
		}

	}

	/*function on_standing_change(e1)
	{

		if( e1.value == "1" || e1.value == "2")
		{

			document.getElementById("standing_value").disabled = false;
			document.getElementById("standing_value").setAttribute("class", "txt_enable");
		}
		else
		{
			document.getElementById("standing_value").value = '';
			document.getElementById("standing_value").disabled = true;
			document.getElementById("standing_value").setAttribute("class", "txt_disable");

		}

	}*/

	//Refresh popup when click on checkbox PM orders
	function refresh_popup()
	{
		var id = $("pmCheckboxId").value;
		//alert(id);
		$("center_order").innerHTML = "";
		var cross_id = id.split("__")[1];
		var ts_id = id.split("__")[2];
		var trade_date = id.split("__")[3];
		var symbol = id.split("__")[4];

		var checkid = 0;
		if($("pmCheckbox").checked)
		{
			checkid = 1;
		}
		new Ajax.Request("/trade_result/order_detail?cross_id=" + cross_id+"&ts_id="+ts_id +"&trade_date="+trade_date +"&pmcheck=" + checkid + '&symbol=' + symbol, {asynchronous:true, evalScripts:true, onComplete:function(request){
			//Ext.MessageBox.alert("Hello", "I'm done.");
			//document.getElementById("tree_panel").innerHTML = request.responseText;

			$("center_order").innerHTML = request.responseText;

		  }});
	}
	function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			show_data();
		}
		return;
	}
	function isNumberKey(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	function isTimeNumber(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

		if (charCode == 58)
            return true;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }

	/*
	 developer : KhanhTT
	 date : 2013-03-07
	 desc : This function was called when user change filter by ECN. It will display or hide exclusive checkbox 
	*/
	function display_exclusive()
	{
		var ecn_val = getFilterOptions_ecn_filter();
		if (ecn_val == '0'|| ecn_val.indexOf(",") != -1)
		{
			document.getElementById("exclusive_container").style.display = 'none';
		}
		else
		{
			document.getElementById("exclusive_container").style.display = 'inline';
		}
	}

</script>

<!-- <script type="text/javascript" src="/javascripts/ext/adapter/prototype/ext-prototype-adapter.js"></script>
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
 -->
<script type="text/javascript" src="/javascripts/ext/ext-default.js"></script>
