<table width="100%" border="0" cellspacing="0" cellpadding="0"> <tr><td>
<table  width="100%" border="1" style="border-collapse:collapse" class="table_normal"  >
     <tr class="table_trheader">
        <td class="table_tdheader" align="CENTER" width="4%">#</td>
        <td class="table_tdheader" align="CENTER" width="7%">SYMBOL</td>
        <td class="table_tdheader" align="CENTER" width="10%">Action</td>
        <td class="table_tdheader" align="CENTER" width="7%">Qty</td>
        <td class="table_tdheader" align="CENTER" width="8%">LVS</td>
		<td class="table_tdheader" align="CENTER" width="9%">AVG Price</td>
        <td class="table_tdheader" align="CENTER" width="8%">Price</td>
        <td class="table_tdheader" align="CENTER" width="7%">ECN</td>
        <td class="table_tdheader" align="CENTER" width="7%">OID</td>
        <td class="table_tdheader" align="CENTER" width="10%">Status</td>
        <td class="table_tdheader" align="CENTER" width="10%">Time</td>
		<td class="table_tdheader" align="CENTER" width="10%">Date</td>
      </tr>
 <%     
	i = 0
	@order_detail.each{ |an_order|  
		i += 1
	%>
	  <tr onmouseover="n_over(this)" onmouseout="n_out(this)"  id="<%= i%>__<%=an_order.id%>" onclick="display_detail_order(this)" style="cursor:pointer;<% if an_order["status"] == "Broken"%> background:#996666 <% end %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %> >
	    <td class="text_normal" align="right"><%=  i%>&nbsp;&nbsp;</td>
        <td class="text_normal" align="left"><%= an_order.symbol%></td>
        <td class="text_normal" align="left"><%= an_order.action2 %></td>
        <td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.qty ) %></td>
        <td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.lvs ) %></td>
		<td class="text_normal" align="RIGHT"><%= number_to_currency(an_order.avg_price.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
        <td class="text_normal" align="RIGHT"><%= number_to_currency(an_order.price.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
        <td class="text_normal" align="center"> <%= an_order.ecn %> </td>
        <td class="text_normal" align="RIGHT"> <%= an_order.seqid %></td>
        <td class="text_normal" align="left"><%= an_order.status %></td>
        <td class="text_normal" align="RIGHT"><%= an_order.trade_time.strftime("%H:%M:%S.") %><%= "%06d" % (an_order.trade_time.usec.to_i) %>
		</td>
        <td class="text_normal" align="center"><%= an_order.trade_date %></td>
	  </tr>
<%}%> 
  
</table>
</td></tr></table>