<table width="100%" border="0" cellspacing="0" cellpadding="2" > 
   <% hash_param = {:start_time => @uc.start_time.strftime('%m/%d/%Y'), 
                    :end_time => @uc.end_time.strftime('%m/%d/%Y'), 
	                  :trade_start_time => @uc.trade_start_time,  
	                  :trade_end_time => @uc.trade_end_time, 
	                  :symbol => @uc.symbol,
	                  :ts_id => @uc.ts,
	                  :cecn => @uc.cecn,  
	                  :status => @uc.trade_status, 
	                  :bought_shares => @uc.bought_shares, 
	                  :sold_shares => @uc.sold_shares, 
	                  :share_size => @uc.share_size,
	                  :expected_profit => @uc.expected_profit,
	                  :ecn_filter => @uc.ecn_filter,
	                  :iso_order => @uc.iso_order,
	                  :dir => @dir,
					  :exclusive => @exclusive,
	                  :sort_field => @order_field,
                    :cross_size => @uc.cross_size,
                    :launch_shares => @uc.launch_shares
	                }
  %>

  <%
    end_index = @offset + @items_per_page
    start_index = 0
    if  @count > 0
      start_index = @offset + 1
    end
    if end_index > @count
      end_index = @count
    end
  %>
  <tr>
    <td align='right'>
      <table>
        <tr>
         <td align="left" nowrap class="text_filter">&nbsp;&nbsp;<%= link_to "XLS Export", {:controller=>"trade_result", :action=>"xls_export", :params =>hash_param}, {:class=>"exportlink"} %>
      		</td>
      		<td>&nbsp;</td>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'trade_result_table_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
				page_count = 0
				page_count = @object_pages.total_pages
				if page_count > 1
					next_page = (params[:page] || 1).to_i + 1 
					next_page = page_count if next_page > page_count
		  %>
          <td>           
			<%= text_field_tag 'page1', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\');'} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader">
          <td class="table_tdheader" align="CENTER" width="30">#</td>
          <td align="CENTER" ><a class="table_tdheader" href="#" onclick="sort_fields('as_cid','dir7','<%= @dir7%>'); return false;">Cross ID</a></td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('symbol','dir1','<%= @dir1%>'); return false;">SYMBOL</a></td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('launch_shares','dir13','<%= @dir13 %>'); return false;">Launch Shares</a></td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('expected_shares','dir2','<%= @dir2 %>'); return false;">Detected Shares</a></td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('expected_pl','dir3','<%= @dir3 %>'); return false;">Expected Profit</a> </td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('net_pl','dir4','<%= @dir4%>'); return false;">Net P&amp;L</a></td>
		  <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('pm_net_pl','dir11','<%= @dir11%>'); return false;">PM Net P&amp;L</a></td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('bought_shares','dir5','<%= @dir5%>'); return false;">Bought Shares </a> </td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('sold_shares','dir6','<%= @dir6%>'); return false;">Sold Shares </a> </td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('total_sold','dir8','<%= @dir8%>'); return false;">Total Sold</a> </td>
          <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('total_bought','dir9','<%= @dir9%>'); return false;">Total Bought</a> </td>
		  <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('date','dir12','<%= @dir12%>'); return false;">Date</a> </td>
		  <td align="CENTER"><a class="table_tdheader" href="#" onclick="sort_fields('time_stamp','dir10','<%= @dir10%>'); return false;">Time</a> </td>
        </tr>
        <%
        i = 0

		if @filter_status != 8

			@trades.each { |trade|
			i += 1

			%>
			  <tr onmouseover="n_over(this)" onmouseout="n_out(this)"  id="<%= i %>__order"  style="cursor:pointer;" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>> 
				<td class="text_normal" align="right"><%= number_with_delimiter(@offset + i)%></td>
				<td class="text_normal" align="right"><a class="table_tdlink" href="<%=url_for(:controller=> "/trade_view", :action => "index", :trade_id=>trade.as_cid, :symbol=>trade.symbol, :trade_date=>trade.date.strftime("%m/%d/%Y"), :sort_filter=>"asc")%>"><%= trade.as_cid %></a>&nbsp;&nbsp;</td>
				<td class="text_normal" align="left" id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)" ><%= trade.symbol %></td>
        <td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_with_delimiter(trade.launch_shares.to_i, :delimiter => ',') %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_with_delimiter(trade.expected_shares.to_i, :delimiter => ',') %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_to_currency(trade.expected_pl,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%=
					if trade.net_pl >= 0				 
						number_to_currency(trade.net_pl, {:unit=>"", :precision=>2, :delimiter => ","})
					else
						"(" <<number_to_currency(trade.net_pl.abs, {:unit=>"", :precision=>2, :delimiter => ","}) << ")"
					end

				%></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)">
				<%=
					if trade.pm_net_pl >= -0.0001				 
						number_to_currency(trade.pm_net_pl.abs, {:unit=>"", :precision=>2, :delimiter => ","})
					else
						"(" <<number_to_currency(trade.pm_net_pl.abs, {:unit=>"", :precision=>2, :delimiter => ","}) << ")"
					end

				%></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_with_delimiter(trade.bought_shares, :delimiter => ',') %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_with_delimiter(trade.sold_shares, :delimiter => ',') %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_to_currency(trade.total_sold.to_f, {:unit=>"", :precision=>2, :delimiter => ","}) %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= number_to_currency(trade.total_bought.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
				<td class="text_normal" align="RIGHT"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= trade.date.strftime("%m/%d/%Y") %></td>
				<td class="text_normal" align="center"  id="order__<%=trade.ts_cid%>__<%=trade.ts_id%>__<%= trade.date.strftime("%m/%d/%Y")%>__<%= trade.symbol%>" onclick="show_detail_order(this)"><%= trade.time_stamp.strftime("%H:%M:%S.") %><%= "%06d" % (trade.time_stamp.usec.to_i) %></td>
			  </tr>
			<% } %>
		<%  
		else

			st_index = @offset
			en_index = st_index + 100
			if en_index > @arr_netb.size
				en_index = @arr_netb.size
			end 

			@arr_netb.each { |netb_t|
				i += 1
				if (i > st_index) and (i<=en_index)
		%>
			<tr onmouseover="n_over(this)" onmouseout="n_out(this)" id="<%= i %>__order" style="cursor:pointer;" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>> 
				<td class="text_normal" align="right"><%= number_with_delimiter(i)%></td>
				<td class="text_normal" align="right"><a class="table_tdlink" href="<%=url_for(:controller=> "/trade_view", :action => "index", :trade_id=>netb_t[0], :symbol=>netb_t[1], :cross_status=>"6", :cmb_cross_status=>"6", :trade_date=>netb_t[7].strftime("%m/%d/%Y"), :sort_filter=>"asc")%>"><%= netb_t[0] %></a>&nbsp;&nbsp;</td>
				<td class="text_normal" align="left" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[1] %></td>
				<td class="text_normal" align="right" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[10] %></td>
				<td class="text_normal" align="right" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[2] %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[3] %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= 0 %></td>
				<td class="text_normal" align="RIGHT" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[7].strftime("%m/%d/%Y") %></td>
				<td class="text_normal" align="center" id="order__<%=netb_t[5]%>__<%=netb_t[6]%>__<%= netb_t[7].strftime("%m/%d/%Y")%>__<%= netb_t[1]%>" ><%= netb_t[4].strftime("%H:%M:%S.")%><%= netb_t[8]%></td>
			</tr>
		<%
				end
			}
			end
		%>
		</table>
		</td>
	  </tr>
  <tr>
    <td align='right'>
      <table>
        <tr>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'trade_result_table_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>            
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10, :class=>"input0",:onchange=>'page_view(\'2\');'} %>

		  </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'2\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>
