<table width="100%" border="1" class="table_normal">
        <tr class="table_trheader">
          <td width="18%" align="CENTER" class="table_tdheader">Trade Statistics</td>
          <td width="8%" align="CENTER" class="table_tdheader">Count</td>
          <td width="8%" align="CENTER" class="table_tdheader">Launch Shares</td>
          <td width="8%" align="CENTER" class="table_tdheader">TS <br/> Shares Traded</td>
          <td width="8%" align="CENTER" class="table_tdheader">PM <br/> Shares Traded</td>
          <td width="8%" align="CENTER" class="table_tdheader">Expected Profit</td>
          <td width="8%" align="CENTER" class="table_tdheader">Net P&L</td>
          <td width="8%" align="CENTER" class="table_tdheader">PM Net P&L</td>
          <td width="8%" align="CENTER" class="table_tdheader">Average Profit/Loss</td>
          <td width="8%" align="CENTER" class="table_tdheader">Percent Of <br/> Total</td>
          <td width="10%" align="CENTER" class="table_tdheader">Percent Of Expected Profit</td>
        </tr>
        <%
        values = @trade_statistics.values.sort{|x,y| x[7]<=>y[7]}
        avg_values = 0.0
        percent_of_total = 0.0
        percent_of_expected_val = 0.0

	total = values[values.size-2][0]
        total_expected_value = values[values.size-2][4]


        i = 0
		flag_skipped_ss = 0
        values.each{ |value|
        value[5] = value[5]
		  avg_values = number_to_currency(0.0,{:unit=>"", :precision=>2, :delimiter=>","})
          if value[0].to_i > 0
            if value[5].to_f >= 0
              avg_values = number_to_currency((value[5].to_f/value[0].to_i ),{:unit=>"", :precision=>2, :delimiter=>","})            
			else
              avg_values = "(" << number_to_currency((-value[5].to_f/value[0].to_i) ,{:unit=>"", :precision=>2, :delimiter=>","}) << ")"
			end
		  end

          if i != 1
            if  total.to_i>0
              percent_of_total = number_to_percentage((value[0].to_f * 100/ total.to_i ),{:precision=>2})
            else
              percent_of_total = number_to_percentage(0.0,{:precision=>2})
            end
            if total_expected_value.to_f > 0
              percent_of_expected_val = number_to_percentage((value[4].to_f * 100/ total_expected_value.to_f ),{:precision=>2})
            else
              percent_of_expected_val = number_to_percentage(0.0,{:precision=>2})
            end
          else
            percent_of_total =  number_to_percentage(0.0,{:precision=>2})
            percent_of_expected_val = number_to_percentage(0,{:precision=>2})
          end
          i += 1
		  if value[7] == 8 
			  percent_of_total = 0
			  percent_of_expected_val = 0
			  value[8] = "Not_Easy_to_Borrow"
		  end        

		  #Change names of filters: Change Profit Under expected to be Profit less than expected, Profit equal to or above expected to be Profit greater than or equal to expected
      if value[7] == 5 
			  value[8] = "Profit_less_than_Expected"
		  end   
		  if value[7] == 6
			  value[8] = "Profit_greater_than_or_equal_to_expected"
		  end   
		 	 		 
		  value[0] = number_with_delimiter(value[0], :delimiter => ',')
		  value[1] = number_with_delimiter(value[1], :delimiter => ',')
		  value[2] = number_with_delimiter(value[2], :delimiter => ',')
      value[3] = number_with_delimiter(value[3], :delimiter => ',')
      value[4] = number_to_currency(value[4],{:unit=>"", :presicion=>2, :delimiter=>","})
		  
		  if value[5] < 0
            value[5] = "(" <<  number_to_currency(-value[5],{:unit=>"", :precision=>2, :delimiter=>","}) << ")"
          else
            value[5] = number_to_currency(value[5],{:unit=>"", :precision=>2, :delimiter=>","})
          end
		  
      if value[6] < 0
        value[6] = "(" <<  number_to_currency(-value[6],{:unit=>"", :precision=>2, :delimiter=>","}) << ")"
      else
        value[6] = number_to_currency(value[6],{:unit=>"", :precision=>2, :delimiter=>","})
      end
		  
        %>
          <tr height="18" <%= if value[7] == @uc.trade_status  then 'class="location m_over"' else 'class="locationlink"' end %>  id="status__<%=value[7]%>" onmouseover="n_over2(this)" onmouseout="n_out2(this)" onclick="trade_result_show_trade_by_status('<%=  value[7]%>'); return false;">
            <td nowrap align="LEFT"><a class="table_tdlink" href="#" title="Click to see more detail" onclick="trade_result_show_trade_by_status('<%=  value[7]%>'); return false;"> <%= value[8].gsub("_"," ").titlecase%> </a></td>
            <td class="text_normal" nowrap align="RIGHT"><%= value[0]%></td>
			<td class="text_normal" nowrap align="RIGHT"><%= value[1]%></td>
			<td class="text_normal" nowrap align="RIGHT"><%= value[2]%></td>
            <td class="text_normal" nowrap align="RIGHT"><%= value[3]%></td>
            <td class="text_normal" nowrap align="RIGHT"><%= value[4]%></td>
			<td class="text_normal" nowrap align="RIGHT"><%= value[5]%></td>
            <td class="text_normal" nowrap align="RIGHT"><%= value[6]%></td>
            <td class="text_normal" nowrap align="RIGHT" ><%= avg_values %></td>
            <td class="text_normal" nowrap align="RIGHT" ><%= percent_of_total %></td>
            <td class="text_normal" nowrap align="RIGHT" ><%= percent_of_expected_val %></td>
          </tr>
        <%} %>
  </table>