<%= javascript_include_tag 'swfobject' %>

<%
	statistic_csv = ""	
	step = @uc.step_type.to_i
	setting_file_path = "/amcharts/settings/trade_result/trade_result2.xml"
	if @include_repriced == "true" && step < 91
		setting_file_path = "/amcharts/settings/trade_result/trade_result2_with_repriced.xml"
	end
	
	if step > 90 
	   setting_file_path = "/amcharts/settings/trade_result/trade_result_mutil_date.xml"
	    if @include_repriced == "true"
			setting_file_path = "/amcharts/settings/trade_result/trade_result_mutil_date_with_repriced.xml"
	    end
	end

	if step == 91

		#Sort the array stored data by Date/Time
		
		@trade_statistics=@trade_statistics.sort {|a,b| Time.parse(a[0]) <=> Time.parse(b[0])}
		i = 1
		
		@trade_statistics.each {|key,item|
			values = item.values
			if (key.to_s[0,3] != "Sun") && (key.to_s[0,3] != "Sat")
				if values[0][0] != 0 || values[1][0] != 0 || values[2][0] != 0 || values[3][0] != 0 || values[4][0] != 0 || values[5][0] != 0 || values[6][0] != 0	
					s_key = Time.parse(key).strftime("%m-%d-%Y")
					i += 1	
					missed = 0
					profit_equal_to_or_above_expected = 0
					stuck_loss = 0
					stuck_profit = 0
					loss = 0
					profit_under_expected = 0
					repriced = 0
					values.each{ |value|	
						if @include_repriced != "true"
							if value[8].to_s == "stuck_loss" 
								stuck_loss = value[0].to_s
							elsif value[8].to_s == "stuck_profit" 
								stuck_profit = value[0].to_s
							elsif value[8].to_s == "loss" 
								loss = value[0].to_s
							elsif value[8].to_s == "profit_under_expected" 
								profit_under_expected = value[0].to_s
							elsif value[8].to_s == "profit_equal_to_or_above_expected" 
								profit_equal_to_or_above_expected = value[0].to_s
							elsif value[8].to_s == "missed" 
								missed = value[0].to_s
							end
						else
							if value[8].to_s == "stuck_loss" 
								stuck_loss = value[0].to_s
							elsif value[8].to_s == "stuck_profit" 
								stuck_profit = value[0].to_s
							elsif value[8].to_s == "loss" 
								loss = value[0].to_s
							elsif value[8].to_s == "profit_under_expected" 
								profit_under_expected = value[0].to_s
							elsif value[8].to_s == "profit_equal_to_or_above_expected" 
								profit_equal_to_or_above_expected = value[0].to_s
							elsif value[8].to_s == "missed" 
								missed = value[0].to_s
							elsif value[8].to_s == "repriced" 
								repriced = value[0].to_s
							end
						
														
						end
					}
					if @include_repriced != "true"
						statistic_csv << s_key << ";" << missed << ";" << stuck_loss << ";" << stuck_profit << ";" << loss << ";" << profit_under_expected << ";" << profit_equal_to_or_above_expected << "\\n"
					else
						statistic_csv << s_key << ";" << missed << ";" << stuck_loss << ";" << stuck_profit << ";" << loss << ";" << profit_under_expected << ";" << profit_equal_to_or_above_expected << ";" << repriced << "\\n"
					
					end
						 
				end
			end
		}
	elsif step >= 92
		#Sort the array stored data by Date/Time
		@trade_statistics=@trade_statistics.sort {|a,b| Time.parse(a[0]) <=> Time.parse(b[0])}
		i = 1
		@trade_statistics.each {|key,item|
			values = item.values
			if values[0][0] != 0 || values[1][0] != 0 || values[2][0] != 0 || values[3][0] != 0 || values[4][0] != 0 || values[5][0] != 0 || values[6][0] != 0
				#Parse key from full Date/Time value
				if step == 92
					s_key = "Week " + Time.parse(key).strftime("%W").to_s
				elsif step == 93
					s_key = "Month " + Time.parse(key).strftime("%m").to_s
				end

				i += 1

				missed = 0
				profit_equal_to_or_above_expected = 0
				stuck_loss = 0
				stuck_profit = 0
				loss = 0
				profit_under_expected = 0
				repriced = 0
				values.each{ |value|	
					if @include_repriced != "true"
						if value[8].to_s == "stuck_loss" 
							stuck_loss = value[0].to_s
						elsif value[8].to_s == "stuck_profit" 
							stuck_profit = value[0].to_s
						elsif value[8].to_s == "loss" 
							loss = value[0].to_s
						elsif value[8].to_s == "profit_under_expected" 
							profit_under_expected = value[0].to_s
						elsif value[8].to_s == "profit_equal_to_or_above_expected" 
							profit_equal_to_or_above_expected = value[0].to_s
						elsif value[8].to_s == "missed" 
							missed = value[0].to_s
						end
					else
						if value[8].to_s == "stuck_loss" 
							stuck_loss = value[0].to_s
						elsif value[8].to_s == "stuck_profit" 
							stuck_profit = value[0].to_s
						elsif value[8].to_s == "loss" 
							loss = value[0].to_s
						elsif value[8].to_s == "profit_under_expected" 
							profit_under_expected = value[0].to_s
						elsif value[8].to_s == "profit_equal_to_or_above_expected" 
							profit_equal_to_or_above_expected = value[0].to_s
						elsif value[8].to_s == "missed" 
							missed = value[0].to_s
						elsif value[8].to_s == "repriced" 
							repriced = value[0].to_s
						end
					
													
					end
				}
				if @include_repriced != "true"
					statistic_csv << s_key << ";" << missed << ";" << stuck_loss << ";" << stuck_profit << ";" << loss << ";" << profit_under_expected << ";" << profit_equal_to_or_above_expected << "\\n"
				else
					statistic_csv << s_key << ";" << missed << ";" << stuck_loss << ";" << stuck_profit << ";" << loss << ";" << profit_under_expected << ";" << profit_equal_to_or_above_expected << ";" << repriced << "\\n"
				
				end
				
			end
		}
	else
		@trade_statistics.each do |item|

			statistic_csv << item[0]
			
			for i in 1..7
				if @include_repriced == "true" || i != 2
					statistic_csv << ";"
					statistic_csv << item[i].to_s				
				end
			end

			statistic_csv << "\\n"	 
		end
	end


	statistic_csv = ";#;#;#;#;#;#" if statistic_csv ==""
%>
  
    <div id="flashcontent2" style="width:100%;"><strong>Loading chart...</strong> </div>
    <script type="text/javascript">
    // <![CDATA[    
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "flashcontent2", "100%", "320", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amline/");
    so.addVariable("settings_file", escape("/amcharts/settings/amline_common_settings.xml, <%= setting_file_path %>"));
    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
    so.addVariable("chart_data", escape("<%= statistic_csv %>"));
	so.addParam("wmode", "transparent");
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.write("flashcontent2");
    // ]]>
	</script>