<table cellspacing="1" cellpadding="2" width="100%" height="100%" style="background-color:#C3DAF9;">
  <% if @type_num.to_i == 3 %>
  <tr>
    <td style="font:normal 12px verdana,tahoma,sans-serif;">New Price:</td>
    <td><input name="price" id="price" type="text"  class="ext-mb-input" value="" maxlength="10" style="width:100%;"></td>
  </tr>
  <% end %>
  <tr>
    <td style="font:normal 12px verdana,tahoma,sans-serif;">Filing Status:</td>
    <td>
    <select name="cee_status" id="cee_status_<%= @type_num.to_i%>" maxlength="4" style="width:100%;">
				<%= options_for_select(filing_status_list,@cee_info[0].to_i) %>
		</select>
		</td>
  </tr>
  <tr>
    <td style="font:normal 12px verdana,tahoma,sans-serif;">CEE Note:</td>
    <td><input name="cee_note" id="cee_note_<%= @type_num.to_i%>" type="text" class="ext-mb-input" value="<%= @cee_info[1] %>"  maxlength="128" style="width:100%;"></td>
  </tr>
</table>
