<%
	tree_data = []
	k = 0
	z = @messages.size

	@messages.each{ |msg|
		if msg[0] == 'Filled' && z > 4
			k = k + 1
			node = {:id=> msg[2], 
				:text => "[#{msg[3]}] #{msg[0]} #{k}",
				:leaf => true}
		else
			node = {:id=> msg[2], 
				:text => "[#{msg[3]}] #{msg[0]}",
				:leaf => true}

		end

		tree_data  << node
		#puts node
	}

	supported_fields = get_supported_fields
%>

<% @messages.each{ |msg| %>

<table width="100%" border="1" style="border-collapse:collapse; display:none" class="table_normal"  id="tbl_msg__<%= msg[2]%>" >
<tbody>
  <tr class="table_trheader">
    <td width="35%" align="CENTER" class="table_tdheader"  >Field</th>
    <td width="65%" align="CENTER" class="table_tdheader" >Value</th>
  </tr>
  </tbody>
  <%
  	msg_content = msg[1].msg_content

	  msg_content.split("\001").each { |field|
		k,v = field.split("=",2)
		#puts field
		field_name = supported_fields[k.to_i] || "Unknown"
		if ["Price","PriceField"].index(field_name) && msg[1]['new_price']
			v = msg[1]['new_price']
		end
	%>
	 <tr>	  
		<td align="LEFT" class="text_normal" ><%= field_name %><%= if k.to_i > 0 then " (#{k})" end %> </td>
		<td align="LEFT" class="text_normal" ><%= v %></td>
	  </tr>
	<%}%>
	 <% if msg[0].to_s == "Filled" || msg[0].to_s == "Removed Fill" %>
  	<tr>	  
		<td align="LEFT" class="text_normal" >Filing Status</td>
		<td align="LEFT" class="text_normal" ><%= msg[1]["filing_status"] if msg[1]["filing_status"] %></td>
	  </tr>
  	<tr>	  
		<td align="LEFT" class="text_normal" >CEE Note</td>
		<td align="LEFT" class="text_normal" ><%= msg[1]["cee_note"] if msg[1]["cee_note"]%></td>
	  </tr> 
	  <% end %>
</table>
<% } %>
<script type="text/javascript">
	var node_data = <%= tree_data.to_json %>;
	//alert(node_data);
	var tree_nodes = new Array();
	var Tree = Ext.tree;
	for(var i=0; i < node_data.length; i++){
		tree_nodes.push(new Tree.TreeNode(node_data[i]));
	}
	root.appendChild(tree_nodes);
	//alert(root.firstChild.text);
	root.firstChild.select();
	//Effect.Appear("tbl_msg__" + root.firstChild.id);

	$("tbl_msg__" + root.firstChild.id).style.display ="";

	current_viewed_msg = "tbl_msg__" + root.firstChild.id;
</script>

