
<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:100px;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	/*width:100%;
	overflow:auto;*/
	overflow: hidden;
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
</style>
<% list_iso_orders = [["All Orders", "0"], ["ISO Orders", "1"], ["Non ISO", "2"]] %>
<% entry_exit_type = [["All", "0"], ["Entry", "1"], ["Exit", "2"]]%>
<% list_traders = [["All"]]
	
	ret = Trader.find_by_sql("select username from user_login_info")
	i = 0
	ret.each { |value|
		st_user = value.username.capitalize
		a = [st_user]
		list_traders << a
	}
%>
<!--  add to move paging out of scroll -->
<script type="text/javascript" src="/javascripts/layout_paging_zone.js"></script>
<!-- # -->
<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script type = "text/javascript">
	//alert(window.innerWidth);
</script>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="2" cellpadding="2">			
			<td align="CENTER" valign="BOTTOM"  ><table border="0" cellspacing="2" cellpadding="2">
				<tr class="text_filter">
				<td>Time From:
						  <input name="trade_start_time" id="trade_start_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_start_time%>" > 
						  To:
						<input name="trade_end_time" id="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">&nbsp;</td>					
				
					<td>Date:
						<input readonly="readonly" name="trade_date" id="trade_date" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>"  size="10"  type="text" onchange="check_Time(this)" > 
						<img src="/images/calenda.gif" alt="calendar" name="ical2" width="20" align="ABSBOTTOM" id="ical2" style="cursor:pointer"/>  
					  </td>	
					  
				</table>
				</tr>
			</td>
				<tr class="text_filter">
				  <td align="CENTER" valign="BOTTOM" id="ecnlist"><%
					ecns = ecn_list_plus_bzx_smart_route
					ecns.delete_if{|e| !e[3]}					
					ecns.each{ |ecn|%>
					  <a onclick="ecn_filter('<%= ecn[2]%>'); return false;" id="<%= ecn[2]%>" href="#" <%= if ecn[2].upcase == @uc.ecn then 'class="location"' else 'class="locationlink"' end %> ><%= display_ecn(ecn[2].upcase) %> </a> 
					  <input type="hidden" name="ecn" id="hecn" value="<%= ecn[2]%>" />
					  &nbsp;<font class="verticalbarspace">|</font>&nbsp;	
					<%}%>          
					<a onclick="ecn_filter('0'); return false;" id="allecn" href="#" <%= if (@uc.ecn.to_s == "0" || @uc.ecn == nil) then 'class="location"' else 'class="locationlink"' end %>  >
					  ALL
				  </a></td>
				</tr>
				<tr >
				  <td align="CENTER" valign="BOTTOM"  ><table border="0" cellspacing="2" cellpadding="2">		 
					  <tr class="text_filter">
						<td>Filled Price From:
						  <input name="price_from" value="<%= @uc.price_from %>" type="text" size="6" maxlength="10" id="price_from" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isFloatNumber(event)"> 
						  To: 
						<input name="price_to" value="<%= @uc.price_to %>" type="text" size="6" maxlength="10" id="price_to" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isFloatNumber(event)"></td>
						<td>&nbsp;Symbol:
						  <input name="symbol" value="<%= @uc.symbol %>" type="text" size="6" maxlength="8" id="symbol" class="txt" onkeypress = "getEnterKey(event)">
						</td>					
						<td>&nbsp;Order ID From: <input name="seqidfrom" value="<%= @seqidfrom %>" type="text" size="6" maxlength="12" id="seqidfrom" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isNumberKey(event)"> 
						  To: 
						<input name="seqidto" value="<%= @seqidto %>" type="text" size="6" maxlength="12" id="seqidto" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isNumberKey(event)"></td>						
						<td>Entry/Exit
							<select name="entry_exit_id" id="entry_exit_id" style="width:60px;">
								<%= options_for_select(entry_exit_type,@entry_exit) %>
							</select>
						</td>
						<td>&nbsp;
							<select name="iso_order" id="iso_order" style="width:95px;">
								<%= options_for_select(list_iso_orders,@iso_order.to_s) %>
							</select>
						</td>
						<td>
							Trader: 
							<select name="list_traders" id="list_traders" onchange="check_seqid()" style="width:100px;">
								<%= options_for_select(list_traders,@list_traders.to_s)%>
							</select>
						</td>
						<td><input name="btnSubmit" type="button" value=" Apply " id="btnSubmit" onclick="show_order_view();"></td>									
						<td >&nbsp;&nbsp;<input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td>	
					  </tr>
				  </table></td>
				</tr>
			 </table>
		</div>
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart" id="order-view-center-div">
		<div id="order_view_container" style="width:100%;background:transparent;" class="width-auto" > </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->


<div id="mydlg" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Detail Order Tracking </div>
  <div class="x-dlg-bd">
    <div id="west" class="x-layout-inactive-content">
      <div id="tree_panel" style="text-align:left;"></div>
      
    </div>
    <div id="center" class="x-layout-inactive-content" style="margin-right:0;padding:0;">						 
    </div>
  </div>
</div>
<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Loading ... &nbsp;
    <br>
</div>

<div id="mycee_dialog" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">CEE Filing Status </div>
  <div class="x-dlg-bd " >
    <div id="cee_center" class="x-layout-active-content" style="margin-right:0;padding:0; "> 
    </div>
  </div>
</div>

		    
<div id="mybreak_dialog" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Trade Break</div>
  <div class="x-dlg-bd">
    <div id="break_center" class="x-layout-active-content" style="margin-right:0;padding:0;"> 
    </div>
  </div>
</div>

<div id="myadjust_dialog" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Adjust Price</div>
  <div class="x-dlg-bd">
    <div id="adjust_center" class="x-layout-active-content" style="margin-right:0;padding:0;"> 
    </div>
  </div>
</div>

<script language="javascript">
	//  add event resize on window
	var rtime = new Date(1, 1, 2000, 12,00,00);
	var timeout = false;
	var delta = 200;
	window.onresize = function() {
	    rtime = new Date();
	    if (!timeout) {
	        timeout = true;
	        setTimeout(resizeend, delta);
	    }
	}

	function resizeend() {
	    if (new Date() - rtime < delta) {
	        setTimeout(resizeend, delta);
	    } else {
	        timeout = false;
	        setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
	    }               
	}
	// --------------------------------

 	window.onload=function(el){
		Calendar.setup({
		  inputField     :    "trade_date",
		  ifFormat       :    '%m/%d/%Y',
		  button         :    "ical2",
		  align          :    "B1",
		  singleClick    :    true
		});
				
		page1 = document.getElementById("order_view1");
		swap(page1);    
		document.getElementById("trade_date").onchange=function(el){
		}; 
		show_order_view();
	}

	function please_wait()
	{	
		var pos = $('order_view_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
  /*********************************************************************************
   * Method name 		: refresh_menu_data
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: function refresh menu (date: 2010/02/25)
  **********************************************************************************/
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'			
		};	
		var url = "/order_view/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
  /*********************************************************************************
   * Method name 		: show_order_view
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: show table data
  **********************************************************************************/
	function show_order_view()
	{		
		var ecn = '<%= @uc.ecn.to_s %>';
		
		if ($('hidden_ecn') && $('hidden_ecn').value != "0")
		{
		  ecn = $('hidden_ecn').value;
		}	
		please_wait();
		check_time();
		//check_price_error();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			price_from: document.getElementById("price_from").value,
			price_to: document.getElementById("price_to").value,
			seqidfrom: document.getElementById("seqidfrom").value,
			seqidto: document.getElementById("seqidto").value,
			list_traders: document.getElementById("list_traders").value,
			entry_exit: document.getElementById("entry_exit_id").value,
			ecn: ecn,
			iso_order: $('iso_order').value
			
		};
		<%
			ecns = ecn_list
			ecns.delete_if{|e| !e[3]}
			ecns.each{ |e|
		%>
				document.getElementById('<%= e[2] %>').className = 'locationlink';	
		<%
			}
		%>
		if(ecn != '0')
		{
			document.getElementById(ecn).className = 'location';
			document.getElementById('allecn').className = 'locationlink';
		}
		else
		{
			document.getElementById('allecn').className = 'location';
		}
		//onload all ecn is choosed
		//document.getElementById('allecn').className = 'location';		

		var url = "/order_view/show_order" ;
		new Ajax.Updater('order_view_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update("");
					//refresh menu side bar
					refresh_menu_data();
					setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
					resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}});
	}
  /*********************************************************************************
   * Method name 		: xls_export
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: xls export function
  **********************************************************************************/
	function xls_export()
	{		
		var ecn = '<%= @uc.ecn.to_s %>';	
		if ($('hidden_ecn') && $('hidden_ecn').value != "0")
		{
		  ecn = $('hidden_ecn').value;
		}		
		please_wait();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: $("trade_date").value,
			trade_start_time: $("trade_start_time").value,
			trade_end_time: $("trade_end_time").value,
			symbol: $("symbol").value,
			price_from: $("price_from").value,
			price_to: $("price_to").value,
			seqidfrom: $("seqidfrom").value,
			seqidto: $("seqidto").value,
			list_traders: document.getElementById("list_traders").value,
			ecn: ecn,
			entry_exit: document.getElementById("entry_exit_id").value,
			iso_order: $('iso_order').value
			
		};
		var url = "/order_view/xls_export" ;
		new Ajax.Updater('',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){
				setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
				resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}
		});
	}
	
  /*********************************************************************************
   * Method name 		: sort_fields
   * Input				  : field,dir,ecn
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: sort by title of table data
  **********************************************************************************/
	function sort_fields(field,dir,ecn)
	{	
		please_wait();
		check_time();
		//check_price_error();
		var params = {
				authenticity_token: '<%= form_authenticity_token %>',
				trade_date: document.getElementById("trade_date").value,
				trade_start_time: document.getElementById("trade_start_time").value,
				trade_end_time: document.getElementById("trade_end_time").value,
				symbol: document.getElementById("symbol").value,
				price_from: document.getElementById("price_from").value,
				price_to: document.getElementById("price_to").value,
				seqidfrom: document.getElementById("seqidfrom").value,
				seqidto: document.getElementById("seqidto").value,
				ecn: ecn,
				iso_order: $('iso_order').value,
				list_traders: document.getElementById("list_traders").value,
				sort_field: field,
				entry_exit: document.getElementById("entry_exit_id").value,
				dir: dir
			};
			
		var url = "/order_view/show_order" ;
		new Ajax.Updater('order_view_container',url,{parameters: params, method: "GET", evalScripts:true,onComplete:function(){
				$('please_wait').update("");
				setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
				resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}
		});
	}
  /*********************************************************************************
   * Method name 		: ecn_filter
   * Input				  : ecn
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: 
  **********************************************************************************/
	function ecn_filter(ecn)
	{
		please_wait();
		check_time();
		//check_price_error();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			price_from: document.getElementById("price_from").value,
			price_to: document.getElementById("price_to").value,
			seqidfrom: document.getElementById("seqidfrom").value,
			seqidto: document.getElementById("seqidto").value,
			ecn: ecn,
			entry_exit: document.getElementById("entry_exit_id").value,
			iso_order: $('iso_order').value
		};
		<%
			  ecns = ecn_list_plus_bzx_smart_route
				ecns.delete_if{|e| !e[3]}
				ecns.each{ |e|
		%>
		document.getElementById('<%= e[2] %>').className = 'locationlink';	
		<%
				}
		%>
		if(ecn != '0')
		{
			document.getElementById(ecn).className = 'location';
			document.getElementById('allecn').className = 'locationlink';
		}
		else
		{
			document.getElementById('allecn').className = 'location';
		}
		//$('hecn').value = ecn ;		
		//alert(ecn);
		var url = "/order_view/show_order" ;
		new Ajax.Updater('order_view_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){
				$('please_wait').update("");
				setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
				resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}
		});
	}
  /*********************************************************************************
   * Method name 		: page_view
   * Input				  :
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: 
  **********************************************************************************/
	function page_view( pa )
	{
		var ecn = '<%= @uc.ecn.to_s %>';
		
		if ($('hidden_ecn') && $('hidden_ecn').value != "0")
		{
		  ecn = $('hidden_ecn').value;
		}	
		please_wait();
		if (pa == 1)
		{
			document.getElementById('page2').value = document.getElementById('page1').value;
		}
		else
		{
			document.getElementById('page1').value = document.getElementById('page2').value;
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			price_from: document.getElementById("price_from").value,
			price_to: document.getElementById("price_to").value,
			seqidfrom: document.getElementById("seqidfrom").value,
			seqidto: document.getElementById("seqidto").value,
			ecn: ecn,
			page: document.getElementById('page1').value,
			list_traders: document.getElementById("list_traders").value,
			entry_exit: document.getElementById("entry_exit_id").value,
			iso_order: $('iso_order').value
		};				
		
		var url = "/order_view/show_order" ;
		new Ajax.Updater('order_view_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){
				$('please_wait').update("");
				setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
				resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}
		});
	}

  function ecn_submit(el){
    $('hecn').value = el.id;
    //$('frm_filter').submit();
  }
	
  var dialog;
  var root;
  var tree_panel;
  var current_node ;
  var selected_order = null;
  var commit_notes = 0;

  var cee_dialog;
  var break_dialog;
  var adjust_dialog;
  var g_order_id;
  /*********************************************************************************
   * Method name 		: show_detail_order
   * Input				  :
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: show_detail_order
  **********************************************************************************/
  function show_detail_order(el){	

	//Ext.MessageBox.alert("Hello","I am here.");	
    if (selected_order){
		  if (selected_order.id.split('__')[0] % 2 == 0)
		  {
			  selected_order.className = "table_even_row";
		  }
		  else
		  {
			  selected_order.className = "table_odd_row";
		  }
      //selected_order.className = "m_out";
	  
    }	
	selected_order = el;	
    el.className = "m_over";			    	    
	//alert("selected_order:" + selected_order.id );	

    if(!dialog){ // lazy initialize the dialog and only create it once
	
      dialog = new Ext.LayoutDialog("mydlg", { 
        modal:false,
        width:600,
        height:400,
        shadow:false,
        minWidth:250,
        minHeight:350,
        proxyDrag: false,
        fixedcenter: true,
        west: {
          split:true,
          initialSize: 220,
          minSize: 200,
          maxSize: 260,
          titlebar: false,
          collapsible: true,
          animate: true,
          autoScroll:true
		  
        },
        center: {
          autoScroll:true                    	                    }
      });	

      dialog.addKeyListener(27, dialog.hide, dialog);
      
      
      //button CEE filing
      dialog.addButton('CEE Filing', function(btn){
        if(current_node.text.indexOf("Fill") >=0){
        	  if(!cee_dialog)
        	  {
                    cee_dialog = new Ext.LayoutDialog("mycee_dialog", { 
                            modal:true,
                            width:300,
                            height:150,
                            shadow:false,
                            minWidth:300,
                            minHeight:150,
                            proxyDrag: false,
                            fixedcenter: true,
                            center: {
                              split:true,
                              initialSize: 220,
                              minSize: 120,
                              maxSize: 220,
                              titlebar: false,
                              collapsible: true,
                              animate: true,
                              autoScroll:true
                            }
                          });
                     cee_dialog.addButton('Save', function(btn){
                       if(current_node.text.indexOf("Fill") >=0){	
                            var status = $('cee_status_1').getValue();
                            var note = $('cee_note_1').value;
                            //alert("Save: " + status + ':' + note + ' current_node: ' + current_node.id + " :" + current_node.selected);
                            if (is_valid_filing_status(status)){
                              save_cee_filing(status, note, true);
                              cee_dialog.hide();
                            }else{
                              Ext.MessageBox.alert("Error!", "Invalid filing status. Please, choose valid filing status!");
                              //$('cee_status_1').focus();
                           }
                        }
                      }, cee_dialog);
                     cee_dialog.addButton('Cancel', cee_dialog.hide, cee_dialog);
                     var cee_layout = cee_dialog.getLayout();
                     cee_layout.beginUpdate();
                     cee_layout.add('center', new Ext.ContentPanel('cee_center'));
                     cee_layout.endUpdate();
        	  }
            cee_dialog.show();
            $('cee_center').innerHTML = "";
            load_filing_status('cee_center',current_node.id, "1");
            
        }
      }, dialog);
     
      //button Break
      dialog.addButton('Break', function(btn,obj){
        	  if(!break_dialog)
        	  {
                    break_dialog = new Ext.LayoutDialog("mybreak_dialog", { 
                            modal:true,
                            width:300,
                            height:150,
                            shadow:false,
                            minWidth:300,
                            minHeight:150,
                            proxyDrag: false,
                            fixedcenter: true,
                            center: {
                              split:true,
                              initialSize: 260,
                              minSize: 260,
                              maxSize: 260,
                              titlebar: false,
                              collapsible: true,
                              animate: true,
                              autoScroll:true
                            }
                          });
                          
                     break_dialog.addButton('Break', function(btn){
                          var ids = new Array();
                          root.eachChild(function(node){
                            if(node.isSelected() && node.text.indexOf("Fill") >=0){
							  fill_id = node.id;
							  if (fill_id.indexOf("_") >= 0) {
								fill_id = fill_id.split("_")[1];
							  }
													
                              ids.push(fill_id);
                            }
                          });
                          if(current_node.text.indexOf("Fill") >=0){	
                                var status = $('cee_status_2').getValue();
                                var note = $('cee_note_2').value;
                                //alert("Break: " + status + ':' + note);
                                if (is_valid_filing_status(status)){
                                  Ext.MessageBox.confirm('Break', 'Are you sure you want to break the trade(s)?', function(btn){
                                    if(btn=="yes"){		
                                      //Ext.MessageBox.wait('','Please wait..........');					
                                      save_cee_filing(status, note, false);
                                      break_dialog.hide();
                                      break_trades(dialog, ids, status, note);
                                    }
                                  });
                                  //break_trades(dialog, ids, status, note);
                                  
                                }else{
                                  Ext.MessageBox.alert("Error!", "Invalid filing status. Please, enter valid filing status!");
                                  //$('cee_status_2').focus();
                                }
                            }
                          }, break_dialog);
                     
                     break_dialog.addButton('Cancel', break_dialog.hide, break_dialog);
                     var break_layout = break_dialog.getLayout();
                     break_layout.beginUpdate();                     
                     break_layout.add('center', new Ext.ContentPanel('break_center'));
                     break_layout.endUpdate();
        	  }
            break_dialog.show();
            $('break_center').innerHTML = "";
            load_filing_status('break_center', current_node.id, "2");

      }, dialog);
      
      //button Adjust_Price
      dialog.addButton('Adjust Price', function(btn){
        if(current_node.text.indexOf("Fill") >=0){	
        	  if(!adjust_dialog)
        	  {
                    adjust_dialog = new Ext.LayoutDialog("myadjust_dialog", { 
                            modal:true,
                            width:300,
                            height:170,
                            shadow:false,
                            minWidth:300,
                            minHeight:170,
                            proxyDrag: false,
                            fixedcenter: true,
                            center: {
                              split:true,
                              initialSize: 260,
                              minSize: 260,
                              maxSize: 260,
                              titlebar: false,
                              collapsible: true,
                              animate: true,
                              autoScroll:true
                            }
                          });
                          
                     adjust_dialog.addButton('OK', function(btn){
                        if(current_node.text.indexOf("Fill") >=0){	
                          var status = $('cee_status_3').getValue();
                          var note = $('cee_note_3').value;
                          var price = $('price').value;
                          if (is_valid_number(price)){
                            //confirm the price
                            if(is_valid_filing_status(status))
                            {
                              Ext.MessageBox.confirm('Adjust Price', 'Are you sure you want to change the price?', function(btn){
                                if(btn=="yes"){
                                  save_cee_filing(status, note, false);
                                  adjust_dialog.hide();
                                  adjust_trade(price, status, note);
                                }
                              });
                              //adjust_trade(price, status, note);
                            }else{
                              Ext.MessageBox.alert("Error!", "Invalid filing status. Please, enter valid filing status!");
                            }
                          }else{
                            Ext.MessageBox.alert("Error!", "Invalid price. Please, enter valid price!");
                            //$('price').focus();
                          }
                        }
                     }, adjust_dialog);
                     
                     adjust_dialog.addButton('Cancel', adjust_dialog.hide, adjust_dialog);
                     var adjust_layout = adjust_dialog.getLayout();
                     adjust_layout.beginUpdate();                     
                     adjust_layout.add('center', new Ext.ContentPanel('adjust_center'));
                     adjust_layout.endUpdate();
        	  }
            adjust_dialog.show();
            $('adjust_center').innerHTML = "";
            load_filing_status('adjust_center', current_node.id, "3");
        }
      }, dialog);
                                
      dialog.addButton('Close', dialog.hide, dialog);
      var layout = dialog.getLayout();
      layout.beginUpdate();
      layout.add('west', new Ext.ContentPanel('west'));
      layout.add('center', new Ext.ContentPanel('center'));
      layout.endUpdate();
    }
    //	alert(showBtn.dom);
    //	 showBtn = Ext.get(el.id);
    if (Ext.isIE){
      dialog.hide();
    };			 
    dialog.buttons[0].disable();
    dialog.buttons[1].disable();
    dialog.buttons[2].disable();
    dialog.show();
    if (Ext.isGecko){
      //dialog.moveTo(250,200);
      //Ext.MessageBox.alert("I am here.");
    }
    //	alert(el.id);
    var seqid = el.id.split("__")[1];
    g_order_id = seqid;
    build_tree(seqid);  
  }
  /*********************************************************************************
   * Method name 		: break_trades
   * Input				  : dialog_obj, ids
   * Output			    :
   * Date created		: September 10, 2010
   * Developer			: TuanBD
   * Description		: break trades
  **********************************************************************************/
  function break_trades(dialog_obj, ids, status, note)
  {
    //alert("break trades!!!!!!!!!!!!!!!!!!!!" + ids.join(','));
    new Ajax.Request('/order_view/adjust_trade?fill_id=' + ids.join(',') + '&new_price=0&status=' + status + '&note=' + note,
        {asynchronous:true, 
          onComplete:function(e){
            if(e.responseText != "OK"){
              Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
            }else{
			        show_order_view();//update table data which has just broken a trade			  
			        dialog_obj.hide();    //Close dialog
            }
          }//function
        }
      );//Ajax.Request function
  }
  /*********************************************************************************
   * Method name 		: adjust_trade
   * Input				  : price
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: adjust the price of broken trade
  **********************************************************************************/
  function adjust_trade(price, status, note){
    new Ajax.Request('/order_view/adjust_trade?fill_id=' + current_node.id + '&new_price=' + price + '&status='+ status + '&note=' + note,
    {asynchronous:true, 
      onComplete:function(e){
        if(e.responseText != "OK"){
          Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
        }else{
          //window.location.href = window.location;
		  show_order_view();//update table data which has just broken a trade			  
		  dialog.hide();    //Close dialog
        }
      }//function
    }
  );//Ajax.Request function
  }

  /*********************************************************************************
   * Method name 		: build_tree
   * Input				  : order_id
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: 
  **********************************************************************************/
  function build_tree(order_id){
                
    var xt = Ext.tree;
    $('tree_panel').innerHTML = "";
    var stree = new xt.TreePanel('tree_panel', {
      animate:true,
      loader: new xt.TreeLoader({dataUrl:'/order_view/msg_type_list',
        baseParams:{order_id:order_id}}),
      selModel: new xt.MultiSelectionModel()			
    });
    var sroot = new xt.TreeNode({
      text: "Order",
      draggable:false,
      id:'0'
    });
    stree.setRootNode(sroot);
    stree.addListener("click", show_msg);
    stree.render();
    tree_panel = stree;
    root = sroot;
    sroot.expand(false, false);
	
    new Ajax.Updater('center',"/order_view/msg_type_list?order_id=" + order_id, {asynchronous:true, evalScripts:true, onComplete:function(r){
       //	Ext.MessageBox.alert("Hello", "I'm done.");
      }});
        
  }	
  
  /*********************************************************************************
   * Method name 		: save_cee_filing
   * Input				  : status, note
   * Output			    :
   * Date created		: September 08, 2010
   * Developer			: TuanBD
   * Description		: Save status, note of broken trade into fills table
  **********************************************************************************/
  function save_cee_filing(status, note, is_cee){
    new Ajax.Request('/order_view/cee_filing?fill_id=' + current_node.id + '&status=' + status + '&note=' + note + '&is_cee=' + is_cee,
    {asynchronous:true, 
      onComplete:function(e){
        if(e.responseText != "OK"){
          Ext.MessageBox.alert("Save CEE Filing Status Error", e.responseText);
        }else{
        //rebuild the tree
          if(is_cee)
          {
            build_tree(g_order_id);
            show_order_view();
          }		    
		    //$(current_viewed_msg).show();
        }
      }//function
    }
  );//Ajax.Request function
  }
  /*********************************************************************************
   * Method name 		: load_filing_status
   * Input				  : fill_id
   * Output			    :
   * Date created		: September 10, 2010
   * Developer			: TuanBD
   * Description		: load filing status and CEE note into dialog
  **********************************************************************************/
  function load_filing_status(div_id, fill_id, type_num)
  {
     new Ajax.Updater(div_id,"/order_view/get_filing_status?fill_id=" + fill_id + '&type_num='+ type_num, {asynchronous:true, evalScripts:true, onComplete:function(r){
       //	Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }
  /*********************************************************************************
   * Method name 		: show_msg
   * Input				  : my_node
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: 
  **********************************************************************************/
  var current_viewed_msg = null;
  function show_msg(my_node, e){
	  //alert("sdfjsdjfdsjfjds" + my_node + " : " + e);
	  
    //	if(my_node.isLeaf()){
    current_node = my_node;
    $(current_viewed_msg).hide();			
    $("tbl_msg__" + my_node.id).show();
    current_viewed_msg = "tbl_msg__" + my_node.id;

    if (current_node.text.indexOf("Fill") >=0){
      dialog.buttons[0].enable();
      dialog.buttons[1].enable();
      dialog.buttons[2].enable();
    }else{
      dialog.buttons[0].disable();
      dialog.buttons[1].disable();
      dialog.buttons[2].disable();
    }
    
    //	}
  }
  /*********************************************************************************
   * Method name 		: load_msg_detail
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: 
  **********************************************************************************/
  function load_msg_detail(uri){
    new Ajax.Updater('center',uri, {asynchronous:true, evalScripts:true, onComplete:function(r){
        //	Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }
  /*********************************************************************************
   * Method name 		: is_valid_number
   * Input				  : string text
   * Output			    :
   * Date created		: 
   * Developer			: 
   * Description		: 
  **********************************************************************************/
  function is_valid_number(sText){
    
    var ValidChars = "0123456789.";
    var IsNumber=true;
    var Char; 
    if(sText.length > 0)
    {
        var count_point = 0;
        for (i = 0; i < sText.length && IsNumber == true; i++) 
        { 
          Char = sText.charAt(i); 
          if (ValidChars.indexOf(Char) == -1) 
          {
            IsNumber = false;
          }
          if(Char == ".")
          {
            count_point += 1;
          }
          if(count_point == 2)
          {
            IsNumber = false;
          }
        }
    }else{
        IsNumber = false;
    }
    return IsNumber;
  }
  /*********************************************************************************
   * Method name 		: is_valid_filing_status
   * Input				  : string text
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: check the status of trade break
  **********************************************************************************/
  function is_valid_filing_status(sText){
    var ValidChars = ["1", "2", "3"];    
    for (i = 0; i < ValidChars.length ; i++) 
    {
      if (ValidChars[i] == sText.strip()) 
      {       
        return true;
      }
    }    
    return false;   
  }

  /*********************************************************************************
   * Method name 		: check_value
   * Input				  : object
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: 
  **********************************************************************************/
  function check_value(el)
  {
    var value = el.getValue();
    el.value = value.strip().toUpperCase();
  }

function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			show_order_view();
		}
		return;
	}
function check_seqid() 
	{
		var manual_order = document.getElementById("list_traders").value;
		if (manual_order[0] == 'A' && manual_order[1] == 'l') {
			document.getElementById("seqidfrom").value = "";
			document.getElementById("seqidto").value = ""
		}
		else {
			document.getElementById("seqidfrom").value = "1";
			document.getElementById("seqidto").value = "49999";
		}
		
		return;
	}
	function isNumberKey(evt)
    {
		
        var charCode = (evt.which) ? evt.which : evt.keyCode;
	
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	
	function isFloatNumber(evt)
    {
		
        var charCode = (evt.which) ? evt.which : evt.keyCode;
		
		if (charCode == 46)
            return true;
		
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	function isTimeNumber(evt)
    {
		
        var charCode = (evt.which) ? evt.which : evt.keyCode;
		
		if (charCode == 58)
            return true;
		
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	function check_price_error()
	{
		var price_to = document.getElementById("price_to").value;
		var price_from = document.getElementById("price_from").value;
		
		if (price_from.trim() != '')
		{
			var _head = "";
			var _tail = "";
			if (price_from.split(".")[0].trim() == '')
			{
				_head = "0";
			}
			else
			{
				_head = price_from.split(".")[0].trim();
			}
			
			if (price_from.split(".")[1].trim() == '' || price_from.split(".")[1].trim() == 'undefined')
			{
				_tail = "0";
			}
			else
			{
				_tail = price_from.split(".")[1].trim();
			}
			price_from = _head + "." + _tail;
			
			if (price_from[0] == '.')
			{
				price_from = "0" + price_from;
			}
			document.getElementById("price_from").value = price_from;
		}
		
		if (price_to.trim() != '')
		{
			var _head = "";
			var _tail = "";
			if (price_to.split(".")[0].trim() == '')
			{
				_head = "0";
			}
			else
			{
				_head = price_to.split(".")[0].trim();
			}
			
			if (price_to.split(".")[1].trim() == '' || price_from.split(".")[1].trim() == 'undefined')
			{
				_tail = "0";
			}
			else
			{
				_tail = price_to.split(".")[1].trim();
			}
			price_to = _head + "." + _tail;
			if (price_to[0] == '.')
			{
				price_to = "0" + price_to;
			}
			document.getElementById("price_to").value = price_to;
			
		}
	}
	
	function check_time()
	{
		var _start_time = document.getElementById("trade_start_time").value;
		var _end_time = document.getElementById("trade_end_time").value;

		var start_time_arr = _start_time.split(":");
		var end_time_arr = _end_time.split(":");
		
		/* Check start time */
		if (_start_time == "")
		{
			document.getElementById("trade_start_time").value = "6:00";
		}
		else
		{
			if (start_time_arr.length==1)
			{
				
				if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
				{
					 document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
				}
				else if (start_time_arr[0]<0 || start_time_arr[0]>23)
				{
					document.getElementById("trade_start_time").value = "6:00";
				}
			}
			else if (start_time_arr.length==2)
			{
		
				if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
					document.getElementById("trade_start_time").value = "6:00";
				else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
						document.getElementById("trade_start_time").value = "6:00";
					else if (start_time_arr[0] == "")
						document.getElementById("trade_start_time").value = "6:00";
			}
		}

		/* Check end time */
		if (_end_time == "")
		{
			document.getElementById("trade_end_time").value = "19:00";
		}
		else
		{
			if (end_time_arr.length==1)
			{
				if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
				{
					 document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
				}
				else if (end_time_arr[0]<0 || end_time_arr[0]>23)
				{
					document.getElementById("trade_end_time").value = "19:00";
				}
			}
			else if (end_time_arr.length==2)
			{
				if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
					document.getElementById("trade_end_time").value = "19:00";
				else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
						document.getElementById("trade_end_time").value = "19:00";
					else if (end_time_arr[0] == "")
						document.getElementById("trade_end_time").value = "19:00";
			}
		}
		
	
	}
	
	/*********************************************************************************
	* Method name 		: reset_ecn
	* Input				: 
	* Output			:
	* Date created		: 18-04-2014
	* Developer			: HungLN
	* Description		: Reset ecn to ALL
	**********************************************************************************/
	function reset_ecn()
	{		
		var ecn = 0;	
		please_wait();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			price_from: document.getElementById("price_from").value,
			price_to: document.getElementById("price_to").value,
			seqidfrom: document.getElementById("seqidfrom").value,
			seqidto: document.getElementById("seqidto").value,
			list_traders: document.getElementById("list_traders").value,
			entry_exit: document.getElementById("entry_exit_id").value,
			ecn: ecn,
			iso_order: $('iso_order').value
		};
		<%
			  ecns = ecn_list_plus_bzx_smart_route
				ecns.delete_if{|e| !e[3]}
				ecns.each{ |e|
		%>
		document.getElementById('<%= e[2] %>').className = 'locationlink';	
		<%
				}
		%>
		
		document.getElementById('allecn').className = 'location';

		var url = "/order_view/show_order" ;
		new Ajax.Updater('order_view_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update("");
					refresh_menu_data();
					setPositionOfTradeViewContent("orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
					resizeScrollDivWhenClick("orderview-paging-top", "orderview-paging-bottom", "orderview-content", "order-view-center-div", "order_view_container", "orderview-paging-top");
			}});
	}
	
	// Reset filter
	function reset_filter()
	{	
		document.getElementById("trade_date").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("trade_start_time").value = "2:00";
		document.getElementById("trade_end_time").value = "19:00";		
		document.getElementById("symbol").value = "";
		document.getElementById("price_from").value = "";
		document.getElementById("price_to").value = "";
		document.getElementById("seqidfrom").value = "";
		document.getElementById("seqidto").value = "";
		document.getElementById("entry_exit_id").value = "0";
		document.getElementById("iso_order").value = "0";
		document.getElementById("list_traders").value = "All";
		reset_ecn();
	}

</script>

<!-- 
<script type="text/javascript" src="/javascripts/ext/adapter/prototype/ext-prototype-adapter.js"></script>
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
 -->
 
<script type="text/javascript" src="/javascripts/ext/ext-default.js"></script> 

