#step_type {
	width: 90px;
}

.left {
	float: left;
}

.trade-servers-td {
	min-width: 172px;
}

.margin-label-td {
	margin-top: 3px;
}

.btn-group {
	/*max-width: 84px;*/
	/*float: left;*/
}

.remove-margin-top {
	margin-top: 0px;
}

.trade-result-ecn-filter {
	margin-right: 2px;
}

.trade-result-order-filter {
	margin-left: 2px
}

#exclusive_container {
	vertical-align: middle;
	text-align: center;
	padding: 2px 0;
}

#ecn_entry_id {
	width: 85px;
}

.width-auto {
	width: auto;
}

#trade_view_container table {
	width: 100%;
}

.right {
	float: right;
}

.clear-both {
	clear: both;
}

.center-layout-paging {
	float: right;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-top: 4px;
}

.center-layout-paging-item {
	margin: 2px 0 0 2px;
}

.center-layout-content {
	overflow: auto;
}

#menu_summary_info1 {
	overflow: auto;
}