/*CSS Structure*/
/*
	1)CSS for Layout
	2)CSS for Menu
		- CSS for items of menu
		- CSS for table summary of menu
		- CSS for sub-menu: used in utilities tab
	3)CSS for content
		- CSS for filter table: 
		- CSS for table contains data
		- CSS for links that show on content of pages
		- CSS for pagination
		- CSS for mouse events
*/
/*CSS for Layout Manager*/
.lm_container1{
	width:100%;
	height:100%;
}
.lm_top1{
	width:100%;
	height:4px;
	background-color:#102148;
}
.lm_left1{
	width:160px;
	height:100%;
	background-color:#102148;
}
.lm_center1{	
	background-color:#102148;
	/*overflow:auto;*/
	height:100%;
}
.lm_right1{
	width:2px;
	height:100%;
	background-color:#102148;
}
.lm_bottom1{
	width:100%;
	height:2px;
	background-color:#102148;
}
#version{
	text-align:center;
	color:#FFFFFF;
	font-size:8pt;
}
#indicator_trader{
	float:left;
	padding:0 3px 15px 3px;	
	width:100%;
	margin-top:25px;
}
#indicator_trader span{
	color: #FFFFFF;
	font-size:10pt;
	margin-left:3px;
}
/* CSS for Menu*/
img, div {
}
html {
	margin:0;
	padding:0;
}
/*
* {
	margin:0;
	padding:0;
}
*/
body {
	background-color:#102148;	
	margin:0;
	min-width:100%;
	padding:0;
	font-family:Helvetica,"Myriad Pro","Trebuchet MS",sans-serif;
}

/*DEFINE CSS FOR MENU*/
#menu {	
	background-color:#102148;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	color:#FFFFFF;	
	
}
/*div menu_item*/
#menu_item {	
	float:left;
	width:100%;	
	padding:0;
	
}

/*tag ul of div menu_item*/
#menu_item ul {
	border:medium none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;	
	margin:0;
	padding:7px 0 0 10px;	
}
/*tag li of div menu_item*/
#menu_item li {	
	display:inline none;	
	margin:0 0 0 3px;
	padding:3px 3px 3px 0;
	text-decoration:none;		
}
/*tag link in div menu_item*/
#menu_item a{			
	font-size:12px;	
	font-weight:bold;
	/*letter-spacing:2px;*/
	text-decoration:none;	
}
/*menu_item hover color:#3777FF*/
#menu_item a:hover {
	color:#3777FF;
}
/*menu_item active color:#3DFC1C */
.menu-active{
	color:#3DFC1C; 
}

#menu_item a:focus {
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}

#menu_item a:onclick{
	color:#BAF257;
	font-size:14px;
}
a.menu:link {		
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	
}
a.menu:visited {	
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	
}
a.menu:hover {	
	font-size: 12px;
	color: #1B55C8;
	text-decoration: none;
	
}

/********************** menu summary info*********************/
#menu_summary_info{
	float:left;
	padding: 50px 6px 0 0;
	margin-left:5px;
}
#menu_summary_info1{
	float:left;
	padding:0 3px 15px 3px;	
	width:100%;
}
#menu_summary_info2{
	float:left;
	padding:0 3px 0 3px;
	width:150px;
	max-height:300px;
	overflow:auto;
}

.menu-text-normal{	
	font-size:13px;
	color:#E6E6E6;
}
/*******************CSS for sub-menu*******************/
/*use for submenu in utilities tab*/
.submenu-active{	
	font-size:12px;	
	font-weight:bold;
	color:#3DFC1C;
}
.submenu-active:hover{	
	font-size:12px;	
	font-weight:bold;
	color:#3777FF;
}
.submenu-nonactive{	
	font-size:12px;	
	font-weight:bold;
	color:#FFFFFF;
}
.submenu-nonactive:hover{	
	font-size:12px;	
	font-weight:bold;
	color:#3777FF;
}



/*DEFINE CSS FOR CONTENT*/

#content{	
	float:right;	
	margin-left:0.5%;
	margin-right:0.5%;
	padding:0;
	width:99%;
	height:100%;	
	color: #000000;
	font-size:12px;
}
/**********************CSS for filter********************************/
.table_filter{

}
/*Define CSS for text: text of filter tables*/
/*class text_filter is used for parts of filtering in all pages*/
.text_filter{	
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
}
.txt_number{
/*		border:1px solid blue;*/
		background-color:white;		
		color:#3366FF;
		text-align:right;
		font-size:12px;		
}

/*Used for input boxes time from/to when date rages > 1 day. Otherwise txt_number will be set for these boxes */
.txt_disabled{
		background-color:#CFCFCF;		
		color:#9C9C9C;
		text-align:right;
		font-size:12px;				
}

/*Used for labels of time from/to when date ranges = 1 day */
.label_normal{
	color:#FFFFFF;
}

/*Used for labels of time from/to when date ranges > 1 day */
.label_disabled{
	color:#9C9C9C;
}

.txt{
		background-color:white;		
		color:#3366FF;	
		font-size:12px;		
}

/*used for separating the ECN links*/
.verticalbarspace{	
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
}
/*used to set up width of combobox step*/
.cmbx_filter_step{
	width:80px;
}

.cmbx_filter_entry_exit{
	width:60px;
}
/*******************CSS for table contents data***********************/
/*class text_normal is used for all pages*/
.text_normal{	
	font-size:12px;
	color:#111111;	
}
/*class text_normal is used for all pages*/
.textbold_normal{	
	font-size:12px;
	color:#111111;
	font-weight:bold;
}
/*class table_normal is used for all pages*/
.table_normal{		    
	background-color:#FFFFFD;	
	border-collapse:collapse;
    border-color:#CDCCCC;
	padding:2px;
	margin:2px;
}
/* used for header of a table: set up background color of a header row of table*/
.table_trheader{	
	background-color:#736F6E;		
}

.table_tdheader{	
	font-size:12px;
	font-weight:bold;	
	color:#FFFFFF;	
}
.table_tdlink{	
	font-size:12px;		
	color:#111111;
	text-decoration:underline;
	
}
/* used for even rows of a table*/
.table_even_row{
	font-size:12px;	
	background-color:#FFFFFF;
}
/* used for odd rows of a table*/
.table_odd_row{
	font-size:12px;	
	background-color:#DDDDDD;
}
.text_run{
	font-size:12px;
	color:#34CB33;
	font-style:bold;
}
.text_stop{
	font-size:12px;
	color:#F60001;
	font-style:bold;
}
/*used for broken rows of table*/
.row_broken{	
	background-color:#996666;
}

/*class not_traded used for trade view tab: set color of trades are not traded.*/
.not_traded{
	color:grey;
}

/*CSS for Link*/
/**********Define CSS for links on the filter part of content page***********/
/*used for setting up links of filter part in each page*/
.location{	
	font-size: 12px;
	color: #3DFC1C;
	font-weight:bold;
	text-decoration:none;
}

a.location:link{	
	font-size: 12px;
	color: #3DFC1C;
	font-weight:bold;
	text-decoration:none;
}
a.location:visited{	
	font-size: 12px;
	color: #3DFC1C;
	font-weight:bold;
	text-decoration:none;
}
a.location:hover{	
	font-size: 12px;
	color: #3777FF;	
	font-weight:bold;
	text-decoration:none;
}

a.locationlink:link {	
	font-size: 12px;
	color: #FFFFFF;	
	FONT-WEIGHT: bold;
	text-decoration:none;
}
a.locationlink:visited {	
	font-size: 12px;
	color: #FFFFFF;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
a.locationlink:active {	
	font-size: 12px;
	color: #FFFFFF;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
a.locationlink:hover {	
	font-size: 12px;
	color: #3777FF;
	text-decoration:none;	
}


/************************Define CSS for paging ***************/
/*Used for each DIV element that contains a chart*/
.chart_container
{
	margin-top:4px;
	margin-bottom:4px;
	color:#F5F5F5;
}


/************************Define CSS for paging ***************/
.pagination{
	color:#FFFFFF;	
	font-style: normal;
	font-size:10pt
}
.pagination .current{
	/*color:#f60;*/
	color: #3DFC1C;
	
	font-size:10pt
}
.pagination a{
	text-decoration:none;	
	color:#FFFFFF;
}
.pagination a:hover{
	/*color:#f60*/
	color:#3777FF;
}
.txtpagingoff  {
	color:#FFFFFF;
}
.log_search_result  {
	color:#000000;
}
.logviewer_class{
	color:#000000;	
	font-style: normal;
	font-size:10pt
}
.logviewer_class .current{
	/*color:#f60;*/
	color: #3DFC1C;
	
	font-size:10pt
}
.logviewer_class a{
	text-decoration:none;	
	color:#000000;
}
.logviewer_class a:hover{
	color:#3777FF;
}
.input0{	
	color: #22177e;
	text-decoration:none;	
    font-style: normal;
    font-size: 10pt;
    width: 35px;
    height: 18px;
}

/********************CSS for mouse events****************/
/*CSS for mouse over and mouse out on a row of table*/
/*use for rows of table when mouse get over*/
.m_over {
	background-color:#90A7DA;
	cursor:pointer;
	/*font-weight:bold; */
}


.m_out {
	background-color:#90A7DA;
	cursor:pointer;

}

a.exportlink:link{	
	font-size: 12px;
	color: #3DFC1C;
	font-weight:bold;
	text-decoration:display;
}
a.exportlink:visited{	
	font-size: 12px;
	color: #3DFC1C;
	font-weight:bold;
	text-decoration:display;
}
a.exportlink:hover{	
	font-size: 12px;
	color: #3777FF;	
	font-weight:bold;
	text-decoration:display;
}

#footer {
	position: fixed !important;
}