.caret {
	border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	/*margin-top: 8px;*/
	margin-top: 6px;
	vertical-align: middle;
	/*border-top: 4px solid;*/
	/*border-right: 4px solid transparent;*/
	/*border-left: 4px solid transparent;*/
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0px;
	margin-left: 2px;
	/*font-weight: 400;*/
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color: #fff;
	border: 1px solid rgb(169, 169, 169);
	/*border: 1px solid transparent;*/
	white-space: nowrap;
	/*padding: 6px 12px;*/
	/*font-size: 14px;*/
	/*line-height: 1.42857143;*/
	/*border-radius: 4px;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selections_content {
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
	clear: both;
}

.ts_item {
	list-style: none;
	padding: 6px 10px;
	position: relative;
	color: #000;
	font-weight: normal;
}

li.ts_item:hover, .btn:hover {
	background: #ebf2fa;
}

.divider {
	background-color: #cccccc;
	height: 1px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.list_trade_servers	{
	position: absolute;
	width: auto;
	/*display: none;*/
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-top: 1px;
	min-width: 135px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 12000;
	background-clip: padding-box;
}

.clear_selection {
	padding: 6px 10px;
}

#a_clear_selection {
	margin: 3px 3px 3px 4px;
}

.li_selected {
	background: #B5CEE7;
}

.criteria-wrap {
	min-width: 84px;
	max-width: 84px;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	text-align: left;
}

.display_none {
	display: none;
}

.input_ts {
	float: left;
	margin-right: 3px;
}

.ts_status {
	text-align: left;
}