a.menu:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.menu:visited {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.menu:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #1B55C8;
	text-decoration: none;
	FONT-WEIGHT: bold
}

/*
a:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a:visited {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	FONT-WEIGHT: bold
}

a:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #1B55C8;
	text-decoration: none;
	FONT-WEIGHT: bold
	
}
*/
a.entryexit:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #3F68B2;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.entryexit:visited {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #3F68B2;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.entryexit:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color:#3F68B2;
	text-decoration: none;
	FONT-WEIGHT: bold
}

a.locationlink:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #F97C00;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.locationlink:visited {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #F97C00;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.locationlink:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #F97C00;
	text-decoration: underline;
	FONT-WEIGHT: bold
}
.disabled {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #F97C00;
	FONT-WEIGHT: bold
}

a.disabled:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #F97C00;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.disabled:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #F97C00;
	text-decoration: none;
	FONT-WEIGHT: bold
}

.btn
	{	border:0px solid blue;
		background-color:#3F68B2;
		color:white;
		font-size:8pt;
		font-family:arial;
		font-weight:bold;
		cursor: hand;
		
 	}
.txt
	{ /*	border:1px solid blue; */
		background-color:white;
		font-family:arial;
		color:#3366FF;
		font-size:12px;
	}
.txt-number{
/*		border:1px solid blue;*/
		background-color:white;
		font-family:arial;
		color:#3366FF;
		text-align:right;
		font-size:12px;
	}
	
.binhthuong{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}

.bannertext{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 36px;
	color: #3F68B2;
	font-weight:bold;
}
.space{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight:bold;
}

.entryexitspace{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F68B2;
	font-weight:bold;
}

.Location{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight:bold;
}

a.Location:link{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight:bold;
}
a.Location:visited{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight:bold;
}


.tdheader, .tdheader a{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight:bold;
}

.tdmaincontent{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
}
.loginCPtext{

	font-family: tahoma, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	font-weight:bold;
}
.logintdrow1 {

	BORDER-RIGHT: #d1dceb 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #d1dceb 1px solid;
	BACKGROUND-COLOR: #eef2f7
	}
.logintdrow2 {
	BORDER-RIGHT: #d1dceb 1px solid;
	BORDER-TOP: #fff 1px solid;
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #d1dceb 1px solid;
	BACKGROUND-COLOR: #f5f9fd
}
.loginpformstrip {
	PADDING-RIGHT: 5px;
	MARGIN-TOP: 1px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	COLOR: #3a4f6c;
	PADDING-TOP: 5px;
	BACKGROUND-COLOR: #d1dceb
}
.button {
	BORDER-RIGHT: #4c77b6 1px solid;
	BORDER-TOP: #4c77b6 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT:#4c77b6 1px solid;
	BORDER-BOTTOM: #4c77b6 1px solid;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #dfe6ef;
	cursor: hand
}

.entryexit{
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #3F68B2;
	text-decoration: none;
	FONT-WEIGHT: bold
}
.menuleft {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f5f5f5 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f5f5f5 1px solid; WIDTH: 100%; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #badcff
}
.option {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 100%; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #f5f5f5
}
.options {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
a.mainmenuleft:link {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.mainmenuleft:visited {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: bold
}
a.mainmenuleft:hover {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #F97C00;
	text-decoration: none;
	FONT-WEIGHT: bold
}
.mainleft
{
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	FONT-WEIGHT: bold
}
div.loading
{
	font-family: tahoma, Helvetica, sans-serif; 
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	width:100px;
    position:absolute;
	background-color: #800000;
    display:none;
    
    	
}
.front1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.txtpagingoff {	
	color:#22177e;
	text-decoration:none;
	font-family: Arial, Tahoma;
    font-style: normal;
    font-size: 8pt;
}
.txtpagingoff:hover  {
	color:orange;
}
.txtpagingon{	
	color:#22177e;
	text-decoration:none;
	font-family: Arial;
    font-style: normal;
    font-size: 10pt;
    font-weight: bold;
}
.txtpagingon:hover {
	color:orange;
}

.input0{	
	color: #22177e;
	text-decoration:none;
	font-family: Arial;
    font-style: normal;
    font-size: 7pt;
    width: 30px;
    height: 18px;
}

.td5 {
	background-color:#0066FF;
	cursor:pointer;
/*	font-weight:bold; */
}
.td6 {
	background-color:white;
	cursor:pointer;

}

.tbl1 {
	text-indent:0px;
	font-family: Arial;
    font-style: normal;
    font-size: 11px;
    border-collapse: collapse;
    border-color: #CDCCCC;
}