				<%
					if  !session[:uc_us]
						session[:uc_us] = UserContext.new
					end							
					uc = session[:uc_us]				
					summary = RiskManagement.summary(uc.start_time, uc.end_time)
				%>
	
				<div id="menu_summary_info1">
					<table cellspacing="1" cellpadding="1" width="100%" class="menu-text-normal">
						<tr>
							<td align="left">Shares:</td>
							<td align="right"><%= number_with_delimiter(summary["total_shares_traded"],:delimiter=>",") %>&nbsp;</td>
						</tr>
						<tr>
							<td align="left">Gross P&L:</td>
							<td align="right"><%=
								if summary["gross_profit"] < 0
								"(" << number_to_currency(-summary["gross_profit"],:precision=>2, :unit=>"") << ")"
								else
								 number_to_currency(summary["gross_profit"],:precision=>2, :unit=>"")
							 end %>&nbsp;</td>
						</tr>
						<tr>
							<td align="left">Net P&L:</td>
							<td align="right"><%=  
								if summary["net_profit"] < 0
								"(" << number_to_currency(-summary["net_profit"],:precision=>2, :unit=>"") << ")"
								else
									number_to_currency(summary["net_profit"],:precision=>2, :unit=>"")
								end
							  %>&nbsp;</td>
						</tr>
						<tr>
							<td align="left">Market Value:</td>
							<td align="right"><%=  number_to_currency(summary["market_value"],:precision=>2, :unit=>"") %>&nbsp;</td>
						</tr>
					</table>
				</div>
				<div id="menu_summary_info2">
					<% 	open_positions = RiskManagement.get_list_open_position	%>
					<table cellspacing="1" cellpadding="1" width="100%" class="menu-text-normal">
						<tr>
							<td align="left" colspan="4">List of open position:</td>						
						</tr>
						<% open_positions.each{|value| %>
									
									<tr><td align="left"><%= value.symbol.upcase %></td>
										<td align="left" style="padding-right:6px; color:<%= color_mapping[value.account.to_i] %>"><%= account_mapping[value.account.to_i] %></td>
										<td align="left"><%= number_with_delimiter(value.net_quantity) %></td>
										<td align="right"><%= number_to_currency(value.average_price,:precision=>2, :unit=>"") %>&nbsp;</td></tr>
									<% } %>
					</table>
				</div>
				<div id="indicator_trader"> <!--  list traders-->
							    <span>List Of Current Traders</span>
								<table width="100%">
								<% user = Trader.show_trader_indicator
									if user.size > 0
								%>
								
								<%
									
										user.each { |user_t|
											x = user_t.status
											if user_t.status == 4
													role = "Logged Out"
											elsif user_t.status == 1
													role = "Active"
											elsif user_t.status == 2
													role = "Active Assist"
											else
													role = "Monitoring"
											end
								%>
								<tr>
									<td class="text_normal" style="font-weight:bold; font-size:9pt; <%if x==4 %> color:#F00F01 <%elsif x==1 %> color:#0474E4 <%elsif x==2 %> color:#04D215 <% else %> color:#8C00FF <% end %>" align="left"><%= user_t.username.capitalize %>&nbsp;</td>
									<td class="text_normal" style="font-weight:bold; font-size:9pt; <%if x==4 %> color:#F00F01 <%elsif x==1 %> color:#0474E4 <%elsif x==2 %> color:#04D215 <% else %> color:#8C00FF <% end %>" align="left"><%= role %></td>
								</tr>
								
								<% }
								
									else
								%>
									</br>
									</br>
								
									<tr> <span>There is no trader</span></tr>
								<% end %>
								</table>
							</div> <!-- end of lis traders -->
