<% 
  hash_param = {
 		:trade_date => @uc.trade_date.strftime('%m/%d/%Y'), 
        :trade_start_time => @uc.trade_start_time,  
        :trade_end_time => @uc.trade_end_time, 
        :symbol => @uc.symbol,
        :ecn => @uc.ecn,  
        :price_from => @uc.price_from, 
        :price_to => @uc.price_to, 
        :seqidfrom => @seqidfrom, 
        :seqidto => @seqidto, 
        :iso_order => @iso_order,
        :dir => @dir, 
        :sort_field => @order_field,
		:entry_exit => @entry_exit,
		:list_traders => @list_traders
  	}
    
  end_index = @offset + @items_per_page
	start_index = 0
	if  @count > 0
		start_index = @offset + 1
	end
	if end_index > @count
		end_index = @count
	end
%>
<div class="center-layout-paging" id="hidden_ecn-paging-top">
	<div class="left center-layout-paging-item">
		&nbsp;&nbsp;<%= link_to "XLS Export", {:controller=>"hidden_liquidity", :action=>"xls_export", :params =>hash_param}, {:class=>"exportlink"} %>
	</div>
	<div class="left center-layout-paging-item">
		&nbsp;<input type="hidden" name="ecn" id="hidden_ecn" value="<%= @uc.ecn.to_s%>" />
	</div>
	<div class="left center-layout-paging-item">
		<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="hidden_ecn-link-list-top">
		<%= will_paginate @object_pages,:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'hidden_liquidity_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0 %>
	</div>
	<% 
		page_count = 0
		page_count = @object_pages.total_pages
		if page_count > 1
			next_page = (params[:page] || 1).to_i + 1 
			next_page = page_count if next_page > page_count
	%>
		<div class="left center-layout-paging-item">
			<% form_tag({:controller => 'hidden_liquidity'}, {:method => :get, :id => 'form1'}) do
					params.each{|k, v|
						if k != 'page' && k != 'action' && k != 'controller' %>
							<%= hidden_field_tag k, v %>
						<%end
					}%>								
			<% end -%>
			<%= text_field_tag 'page1', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\');'} %>
		</div>
		<div class="left center-layout-paging-item">
			<%= link_to_remote(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\');'}) %>
		</div>
	<% end %>
</div>
<div class="clear-both " id="hidden_ecn-content">
	<table width="100%" border="1" class="table_normal">
    <tr class="table_trheader" >
      <td  class="table_tdheader"  align="CENTER" width="4%">#</td>
      <td  align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('symbol','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">SYMBOL</a></td>
      <td  align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('account','<%= @dir %>','<%= @uc.ecn %>'); return false;" href="#">Account</a></td>
      <td  align="CENTER" width="8%"><a class="table_tdheader" onclick="sort_fields('action','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Action</a> </td>
      <td  align="CENTER" width="6%"><a class="table_tdheader"  onclick="sort_fields('visible_shares','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Visible Shares</a></td>
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('qty','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Order Size</a></td>
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('oversize_shares','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">OverSize Shares</a></td>          
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('percent_hidden_liquidity','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">% Hidden Liquidity</a></td> 
      <td  align="CENTER" width="5%"><a class="table_tdheader"  onclick="sort_fields('price','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Price</a></td>
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('filled_shares','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Filled Shares</a></td>          
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('avg_price','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Avg Filled Price</a></td>
      <td  align="CENTER" width="6%"><a class="table_tdheader" onclick="sort_fields('lvs','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Cancelled Shares</a></td>
      <td  align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('ecn','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">ECN</a></td>
      <td  align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('seqid','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">OID</a></td>
      <td  align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('tif','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">TIF</a></td>
      <td  align="CENTER" width="8%"><a class="table_tdheader" onclick="sort_fields('status_edit','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Status</a></td>
      <td  align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('trade_time','<%= @dir %>','<%=@uc.ecn %>'); return false;" href="#">Time</a></td>
    </tr>
    <% 
			@clicked = 0
        i = 0
        @orders.each{ |an_order|  
        i += 1
    %>
     <tr onmouseover="n_over(this)" onmouseout="n_out(this)" id="<%= i %>__<%= an_order.id %>" onclick="show_detail_order(this)" style="cursor:pointer;<% if an_order["status_edit"] == "Broken"%> background:#996666 <% end %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
      <td class="text_normal" align="right"><%= number_with_delimiter(@offset + i, :delimiter =>",")%>&nbsp;</td>
      <td class="text_normal" align="left"><%= an_order.symbol%></td>
			<td class="text_normal" align="center"><%= account_mapping[an_order.account.to_i] %></td>
      <td class="text_normal" align="left"><%= an_order.action2 %></td>
			<td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.visible_shares.to_i , :delimiter => ",")  %></td>
      <td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.qty.to_i , :delimiter => ",") %></td>
      <td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.oversize_shares , :delimiter => ",")  %></td>
      <td class="text_normal" align="RIGHT"><%= number_to_currency((an_order.percent_hidden_liquidity * 100).to_f,{:unit=>"", :precision=>2, :delimiter => ","})  %>%</td>
			<td class="text_normal" align="RIGHT"><%= number_to_currency(an_order["price"].to_f,{:unit=>"", :precision=>2, :delimiter => ","})  %></td>
			<td class="text_normal" align="RIGHT"><%= number_with_delimiter(an_order.filled_shares , :delimiter => ",") %></td>
			<td class="text_normal" align="RIGHT"><%= number_to_currency(an_order.avg_price.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) %></td>
			<td class="text_normal" align="RIGHT"><%= number_with_delimiter( an_order["lvs"] , :delimiter => ",")  %></td>
      <td class="text_normal" align="center"> <%= display_ecn(an_order.ecn) %> </td>	          
      <td class="text_normal" align="RIGHT"> <%= an_order.seqid %></td>
      <td class="text_normal" align="center"> <%= an_order.tif.strip %> </td>
      <td class="text_normal"align="left"><%= an_order["status_edit"] %></td>
      <td class="text_normal" align="RIGHT"><%= an_order.trade_time.strftime("%H:%M:%S.") %><%= "%06d" % (an_order.trade_time.usec.to_i) %></td>
    </tr>
    <%}%>
    </table>
</div>
<div class="center-layout-paging" id="hidden_ecn-paging-bottom">
	<!-- <div class="left center-layout-paging-item">
		&nbsp;&nbsp;<%#= link_to "XLS Export", {:controller=>"hidden_liquidity", :action=>"xls_export", :params =>hash_param}, {:class=>"exportlink"} %>
	</div> -->
	<div class="left center-layout-paging-item">
		&nbsp;<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="hidden_ecn-link-list-bottom">
		<%= will_paginate @object_pages,{:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'hidden_liquidity_container'}, :previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %>
	</div>
	<% 
		page_count = 0
		page_count = @object_pages.total_pages
		if page_count > 1
			next_page = (params[:page] || 1).to_i + 1 
			next_page = page_count if next_page > page_count
	%>
		<div class="left center-layout-paging-item">
			<% form_tag({:controller => 'hidden_liquidity'}, {:method => :get, :id => 'form1'}) do
				params.each{|k, v|
					if k != 'page' && k != 'action' && k != 'controller' %>
						<%= hidden_field_tag k, v %>
					<%end
				}%>								
			<% end -%>
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'2\');'} %>
		</div>
		<div class="left center-layout-paging-item">
			<%= link_to_remote(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'2\');'}) %>
		</div>
	<% end %>
</div>