<%= javascript_include_tag 'swfobject' %>

<%
	require "util"
	#Profit/Loss
	volume_tmp = 0
	profit_loss_tmp = 0
	profit_loss_csv = ""
	expected_profit = 0
	net_tmp = 0
	net_array = []
	
	index = 0
	
	# Get data for Chart 
	@profit_loss.each do |item|
		#volume_tmp = volume_tmp + item.volume
		volume_tmp = item.volume
		profit_loss_tmp = (profit_loss_tmp + item.gross_profit_loss).round(2)
		net_tmp = (net_tmp + item.net_profit_loss).round(2)
		expected_profit = (expected_profit + item.expected_profit).round(2)
		profit_loss_csv <<  Time.at(item.time_stamp).strftime("%H:%M") + ";"
		profit_loss_csv <<  volume_tmp.to_s + ";"
		profit_loss_csv <<  profit_loss_tmp.to_s + ";"	
		profit_loss_csv << net_tmp.to_s + ";"
		profit_loss_csv <<  expected_profit.to_s + "\\n"	
		index = index + 1
	end

	#Entry/Exit
	entry_data_csv = ""
	exit_date_csv = ""
	i = 0

	@entry_exit_ts2.each do |item|

		time_stamp =  Time.at(item.time_stamp).strftime("%H:%M")
		entry_data_csv << time_stamp + ";"
		entry_data_csv << get_percent(@entry_exit_ts1[i].entry_filled, @entry_exit_ts1[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts3[i].entry_filled, @entry_exit_ts3[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts9[i]==nil ? 0 : @entry_exit_ts9[i].entry_filled, @entry_exit_ts9[i]==nil ? 0 : @entry_exit_ts9[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts7[i]==nil ? 0 : @entry_exit_ts7[i].entry_filled, @entry_exit_ts7[i]==nil ? 0 : @entry_exit_ts7[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts8[i]==nil ? 0 : @entry_exit_ts8[i].entry_filled, @entry_exit_ts8[i]==nil ? 0 : @entry_exit_ts8[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts2[i].entry_filled, @entry_exit_ts2[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts4[i].entry_filled, @entry_exit_ts4[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts5[i]==nil ? 0 : @entry_exit_ts5[i].entry_filled, @entry_exit_ts5[i]==nil ? 0 : @entry_exit_ts5[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_ts6[i]==nil ? 0 : @entry_exit_ts6[i].entry_filled, @entry_exit_ts6[i]==nil ? 0 : @entry_exit_ts6[i].entry_total).to_s + ";"
		entry_data_csv << get_percent(@entry_exit_all[i]==nil ? 0 : @entry_exit_all[i].entry_filled, @entry_exit_all[i]==nil ? 0 : @entry_exit_all[i].entry_total).to_s + "\\n"

		exit_date_csv << time_stamp + ";"
		exit_date_csv << get_percent(@entry_exit_ts1[i].exit_filled, @entry_exit_ts1[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts3[i].exit_filled, @entry_exit_ts3[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts9[i]==nil ? 0 : @entry_exit_ts9[i].exit_filled, @entry_exit_ts9[i]==nil ? 0 : @entry_exit_ts9[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts7[i]==nil ? 0 : @entry_exit_ts7[i].exit_filled, @entry_exit_ts7[i]==nil ? 0 : @entry_exit_ts7[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts8[i]==nil ? 0 : @entry_exit_ts8[i].exit_filled, @entry_exit_ts8[i]==nil ? 0 : @entry_exit_ts8[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts2[i].exit_filled, @entry_exit_ts2[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts4[i].exit_filled, @entry_exit_ts4[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts5[i]==nil ? 0 : @entry_exit_ts5[i].exit_filled, @entry_exit_ts5[i]==nil ? 0 : @entry_exit_ts5[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_ts6[i]==nil ? 0 : @entry_exit_ts6[i].exit_filled, @entry_exit_ts6[i]==nil ? 0 : @entry_exit_ts6[i].exit_total).to_s + ";"
		exit_date_csv << get_percent(@entry_exit_all[i]==nil ? 0 : @entry_exit_all[i].exit_filled, @entry_exit_all[i]==nil ? 0 : @entry_exit_all[i].exit_total).to_s + "\\n"

		i +=1
	end
	CreateEntryFillRate()
	CreateExitFillRate()
	profit_loss_csv = ";#;#;#;#" if profit_loss_csv ==""
	entry_data_csv = ";#;#;#;#;#;#;#;#;#;#" if entry_data_csv ==""
	exit_date_csv = ";#;#;#;#;#;#;#;#;#;#" if exit_date_csv ==""
%>      

<style type="text/css">

.floatdiv
{
	position:absolute;
	left:5px;
	top:280px;
	background: transparent;
	height:20px;
	white-space:nowrap;
	color:#CCCCCC;
}

</style>
<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:4%;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	width:95%;
	overflow:auto;
	
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div class="text_filter">
			<table align="CENTER" border="0" cellspacing="2" cellpadding="2">
			  <tr class="text_filter">
				<td nowrap align="CENTER">Date:
				<input readonly="readonly" name="trade_date" id="trade_date" value="<%= @last_date_trading.to_date.strftime("%m/%d/%Y") %>"  size="10"  type="text"> 
				<img src="/images/calenda.gif" alt="calendar"  name="ical2" width="20" align="ABSBOTTOM"  id="ical2" style="cursor:pointer"/> </td>
				<td><input name="submit" type="button" value="   Apply   " onclick="load_all_charts();"></td>
			  </tr>
			</table>
		</div>
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
		<div style="width:100%; background:transparent;">
		  <div style="width:100%; position: relative;">
			<div id="flashcontent1" style="width:40%; float:left;" class="chart_container"></div>    

			<div id="flashcontent2" style="width:59.6%; float:right;" class="chart_container"></div>
			<script type="text/javascript">
			// <![CDATA[    
			var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "300", "8", "<%=  @color_config.chart_background %>");
			so.addVariable("path", "/amcharts/libs/amline/");
			so.addVariable("settings_file", escape("/amcharts/settings/amline_common_settings.xml, /amcharts/settings/home/summary_profit_losses.xml"));
			so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
			so.addVariable("chart_data", escape("<%= profit_loss_csv %>"));
			//so.addParam("wmode", "transparent");
			so.addParam("wmode", "opaque");	
			so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
			so.write("flashcontent2");
			// ]]>
			</script>

			<div class="floatdiv">
				<input type="checkbox" id="include_repriced" value="1" onclick="load_trade_statistic_chart()" title="Include Repriced" />&nbsp; &nbsp;Include Repriced
			</div>

		  </div>
		  <div id="flashcontent3"  style="width:100%;" class="chart_container"></div>
		  <script type="text/javascript">
			// <![CDATA[    
			var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "300", "8", "<%=  @color_config.chart_background %>");
			so.addVariable("path", "/amcharts/libs/amline/");
			so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/home/home_entry_fill_rate.xml"));
			so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
			so.addVariable("chart_data", escape("<%= entry_data_csv %>"));
			//so.addParam("wmode", "transparent");
			so.addParam("wmode", "opaque");	
			so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
			so.write("flashcontent3");
			// ]]>
		  </script>
		  <div id="flashcontent4"  style="width:100%;" class="chart_container"></div>
		  <script type="text/javascript">
			// <![CDATA[    
			var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "300", "8", "<%=  @color_config.chart_background %>");
			so.addVariable("path", "/amcharts/libs/amline/");
			so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/home/home_exit_fill_rate.xml"));
			so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
			so.addVariable("chart_data", escape("<%= exit_date_csv %>"));
			//so.addParam("wmode", "transparent");
			so.addParam("wmode", "opaque");	
			so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
			so.write("flashcontent4");
			// ]]>
		  </script>

		</div>		
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<!--<%= javascript_include_tag "prototype" %> -->   
<script language="javascript">
   
	window.onload=function(el){
		Calendar.setup({
		  inputField     :    "trade_date",
		  ifFormat       :    '%m/%d/%Y',
		  button         :    "ical2",
		  align          :    "B1",
		  singleClick    :    true
		});
		page1 = document.getElementById("home1")
		swap(page1);

		load_trade_statistic_chart();	//Load the Trade Statistic chart on the first loading
	}

	function load_trade_statistic_chart()
	{
		please_wait();		
		var params={
			authenticity_token: '<%= form_authenticity_token %>',
			include_repriced: document.getElementById("include_repriced").checked,
			trade_date: document.getElementById("trade_date").value
		};

		var url= "/home/trade_statistic";
		new Ajax.Updater("flashcontent1", url, {parameters: params, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});		
	}
	//Function please_wait
	function please_wait()
	{	
		var pos = $('flashcontent1').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top - 20;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	function load_all_charts()
	{
		please_wait();
		window.location.href = '/home?trade_date=' + $('trade_date').value;
	}
</script>
