

<%= javascript_include_tag 'swfobject' %>

<%
	statistic_csv = ""
	values = @trade_statistics_pie.values.sort{|x,y| x[7]<=>y[7]}

	values.each{ |value|
	
	 if value[8]!= "total"	
		# Check wheter include or not include the repriced to the chart

		if @include_repriced == "true" || value[8] != "repriced"

			data_label = ""
			if value[8] == "profit_under_expected"
				data_label = "Profit &lessthen Expected"				
			elsif value[8] == "profit_equal_to_or_above_expected"
				data_label = "Profit >= Expected"
			elsif value[8] == "Skipped_Ss"
				data_label = "Not etb"	
			else
				data_label = value[8].gsub("_"," ").titlecase
			end
			
		  statistic_csv << data_label
		  statistic_csv << ";"
		  statistic_csv << value[0].to_s
		  statistic_csv << "\\n"
		end
	end
 
}  # For each
%>

<script type="text/javascript">
    // <![CDATA[    
    var so = new SWFObject("/amcharts/libs/ampie/ampie.swf", "ampie", "100%", "300", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/ampie/");
    so.addVariable("settings_file", escape("/amcharts/settings/ampie_common_settings.xml, /amcharts/settings/home/trade_results_pie.xml"));
    so.addVariable("chart_data", encodeURIComponent("<%= statistic_csv %>"));
	if (<%=@include_repriced%> == true) {
		so.addVariable("additional_chart_settings","<%= @color_config.pie_config_repriced %>");
	} else {
		so.addVariable("additional_chart_settings","<%= @color_config.pie_config %>");
	}
	
    
	so.addParam("wmode", "transparent");
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.write("flashcontent1");
    // ]]>
	</script>