<%= javascript_include_tag 'swfobject' %>
<%
  iso_order_filter = [["All", 0],["ISO", 1], ["Non-ISO",2]]
%>
<style type="text/css">
.lm_container2{
  width:100%;
  height:100%;
}
.lm_top2{
  width:100%;
  height:90px;  
}
.lm_left2{
  width:0px;
  height:100%;
  
}
.lm_center2{
  width:100%;
  overflow:auto;
  
}
.lm_right2{
  width:0px;
  height:100%;
  
}
.lm_bottom2{
  width:100%;
  height:0px; 
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
    <div style="width:100%; align:center; text-align:center;">
      <table width="100%" border="0" cellspacing="2" cellpadding="2">       
        <tr class="text_filter">
          <td width="100%" align="center">
            <span id="lbl_time_from">Time From:</span>
            <input id="trade_start_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_start_time%>" >
            <span id="lbl_time_to">To:</span>
            <input id="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">
            Date From:
            <input readonly="readonly" name="start_time" id="start_time" size="10" value="<%= @uc.start_time.strftime("%m/%d/%Y")%>" type="text" onchange="check_date_and_step_type(this)" >          
            <img src="/images/calenda.gif" width="20" align="ABSBOTTOM" id="ical1" name="ical1" style="cursor:pointer"/>              
            To:
            <input readonly="readonly" value="<%= @uc.end_time.strftime("%m/%d/%Y") %>" name="end_time" id="end_time" size="10"  type="text" onchange="check_date_and_step_type(this)">         
            <img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2" name="ical2" style="cursor:pointer"/>             
            ISO Order:
            <select name="iso_order_id" id="iso_order_id" onchange="" style="width:95px;">
              <%= options_for_select(iso_order_filter,@iso_order_type.to_i) %>
            </select>       
            Step:
            <select name="step_type" id="step_type" onchange="" class="cmbx_filter_step">
              <%= #options_for_select(img_view_steps,@uc.img_view_step.to_i)
                options_for_select(step_type,@uc.step_type.to_i)
              %>
            </select>       
            <input type="button" value="   Apply   " onclick="show_data();">
            <input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();">
          </td>
        </tr>
        <tr class="text_filter">
          <td align="center" width="100%"><% @uc.ecn.to_s %>
            <%ecn_list_plus_bzx_smart_route().each{ |ecn|
              if !ecn.last then next end
            %>            
             <a id="<%=ecn[2]%>" href="#" <%= if ecn[2] == @uc.ecn.to_s then 'class="location"' else 'class="locationlink"' end %> onclick="ecn_filter('<%= ecn[2]%>'); return false;"><%= display_ecn(ecn[2].upcase) %> </a>
             <input type="hidden" name="ecn" id="hecn" value="<%= ecn[2]%>" />           
              &nbsp;<font class="verticalbarspace">|</font>&nbsp; 
            <%}%>        
            <a id="allecn"  <%= if (@uc.ecn == nil || @uc.ecn.to_s == "0") then 'class="location"' else 'class="locationlink"' end %> href="#" onclick="ecn_filter('0');return false;">
                ALL
            </a>  
          </td>
        </tr>     
        <tr class="text_filter">
            <td align="center" width="100%"> 
             <div class="trade-servers-td">
              <div class="btn-group" id="btn-group">
              <span class="margin-label-td">Trade Server:</span>
              <%= render :partial => 'layouts/multi_trade_servers_selection', :locals => {:list_trade_servers => ts_list[1..(ts_list.size-1)] } %>
              </div>   
            </div> 
          </td>
          
         </tr>
      </table>
    </div>      
   </div><!--end top2-->

   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
    <div id="ackfill_chart" style="width:100%; background:transparent;" class="chart_container"> </div> 
    <div id="ackfill_table" style="width:100%; background:transparent;"> </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div id="mydlg_order" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd">Detail Trade Tracking</div>
  <div class="x-dlg-bd">
    <div id="center_order" class="x-layout-inactive-content">
      <div id="tree_panel" style="text-align:left"></div>

    </div>
  </div>
</div>

<div id="mydlg_order_detail" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd">Detail Order Tracking </div>
  <div class="x-dlg-bd">
    <div id="west_order_detail" class="x-layout-inactive-content">
      <div id="tree_panel_order_detail" style="text-align:left"></div>

    </div>
    <div id="center_order_detail" class="x-layout-inactive-content" style="margin-right:0;padding:0;">
    </div>
  </div>
</div>

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Loading ... &nbsp;
    <br>
</div>

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">

  window.onload=function(el){
  Calendar.setup({
        inputField     :    "start_time",     // id of the input field
        ifFormat       :   '%m/%d/%Y',      // format of the input field
        button         :    "ical1",  // trigger for the calendar (button ID)
        align          :    "Bl",           // alignment (defaults to "Bl")
        singleClick    :    true
    });
  
  Calendar.setup({
        inputField     :    "end_time",
        ifFormat       :    '%m/%d/%Y',
        button         :    "ical2",
        align          :    "Bl",
        singleClick    :    true
    });

  page3 = document.getElementById("ack_fill1")
  swap(page3);  
 // Get params when click in fill rate
  var paramsTS = '<%= @uc.ts ? @uc.ts : "" %>';
  setTSfromParams(paramsTS);
  show_data();
    
  }
  function disable_highlight_all_ecn()
  {
    $('ARCA').className = 'locationlink';
    $('OUCH').className = 'locationlink';
    $('RASH').className = 'locationlink';
    $('NYSE').className = 'locationlink';
    $('BATZ').className = 'locationlink';
    $('BZSR').className = 'locationlink';
    $('EDGX').className = 'locationlink';
    $('EDGA').className = 'locationlink';
    $('OUBX').className = 'locationlink';
    $('BATY').className = 'locationlink';
    $('PSX').className = 'locationlink';
    $('allecn').className = 'locationlink';
  }
  
  function enable_highlight_ecn(ecn_name)
  {
    if(ecn_name == 'ARCA')
    {
      $('ARCA').className = 'location';
    }else if(ecn_name == 'OUCH'){
      $('OUCH').className = 'location';
    }else if(ecn_name == 'RASH'){
      $('RASH').className = 'location';
    }else if(ecn_name == 'BATZ'){
      $('BATZ').className = 'location';
    }else if(ecn_name == 'BZSR'){
      $('BZSR').className = 'location';
    }else if(ecn_name == 'NYSE'){
      $('NYSE').className = 'location';
    }else if(ecn_name == 'EDGX'){
      $('EDGX').className = 'location';
    }else if(ecn_name == 'EDGA'){
      $('EDGA').className = 'location';
    }else if(ecn_name == 'OUBX'){
      $('OUBX').className = 'location';
    }else if(ecn_name == 'BATY'){
      $('BATY').className = 'location';
    }else if(ecn_name == 'PSX'){
      $('PSX').className = 'location';
    }
    else
    {
       $('allecn').className = 'location';
    }
    
  }
  
  function show_data()
  {
    var ecn = '<%= @uc.ecn.to_s %>';
    if ($('hidden_ecn'))
    {
      ecn = $('hidden_ecn').value;
    } 
    disable_highlight_all_ecn();
    enable_highlight_ecn(ecn); 
    show_ackfill(ecn);
    show_chart(ecn);  
  }

  function show_chart(ecn)
  {
    check_time();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      //ts_id: $('ts_id').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      ecn_id: ecn,
      step_type: $('step_type').value,
      date_range: date_range()      
    };
    var url = '/ack_fill/show_chart';
    new Ajax.Updater('ackfill_chart',url,{parameters: param, method: "GET", evalScripts:true});  
  }
  
  //function refresh menu (date: 2010/02/25)
  function refresh_menu_data()
  { 
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
            start_time: document.getElementById("start_time").value,
            end_time:document.getElementById("end_time").value    
    };  
    var url = "/ack_fill/menu_refresh" ;
    new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
  }

  function please_wait()
  { 
    var pos = $('ackfill_table').cumulativeOffset();
    var _wait = $('please_wait');
        _wait.update("Please wait...");
      _wait.style.position = "absolute";
      _wait.style.top = pos.top;
      _wait.style.left = pos.left - 150;
      _wait.show();
  }
  
  //show table data of ackfill
  function show_ackfill(ecn)  { 
    var date_start = document.getElementById("start_time").value;
    var date_end = document.getElementById("end_time").value;
    var start = new Date(Date.parse(date_start));
    var end = new Date(Date.parse(date_end));
      var check_date = Math.abs(end.getFullYear() - start.getFullYear()) + Math.abs(end.getMonth() - start.getMonth());
    if(check_date == 0)
    {
      please_wait();
      check_time();
      var param = {
        authenticity_token: '<%= form_authenticity_token %>',
        date_from: $('start_time').value,
        date_to: $('end_time').value,
        trade_start_time: $('trade_start_time').value,
        trade_end_time: $('trade_end_time').value,
        //ts_id: $('ts_id').value,
        ts_id: getTradeServers(), // Multi trade servers selections
        iso_order: $('iso_order_id').value,
        ecn: ecn  
      };
      var url = '/ack_fill/show_ackfill';
      new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,
            onComplete:function(){$('please_wait').update("");
                //refresh menu side bar
                refresh_menu_data();
              }});
    }
    else
    {
      please_wait();
      check_time();
      var param = {
        authenticity_token: '<%= form_authenticity_token %>',
        date_from: $('start_time').value,
        date_to: $('end_time').value,
        trade_start_time: $('trade_start_time').value,
        trade_end_time: $('trade_end_time').value,
        //ts_id: $('ts_id').value,
        ts_id: getTradeServers(), // Multi trade servers selections
        iso_order: $('iso_order_id').value,
        ecn: ecn      
      };
      var url = '/ack_fill/show_ackfill_multiple_months';
      new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,
            onComplete:function(){$('please_wait').update("");
                //refresh menu side bar
                refresh_menu_data();
              }});
    }
  }
  
  //function sort_fields
  function sort_fields(field,dir,ecn) {
    please_wait();
    check_time();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      //ts_id: $('ts_id').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      sort_field: field,
      dir: dir,
      ecn: ecn
    };
    var url = '/ack_fill/show_ackfill';
    new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,
    onComplete:function(){$('please_wait').update("");}});
  }
  
  //function sort_fields_multiple_months
  function sort_fields_multiple_months(field,dir,ecn) {
    please_wait();
    check_time();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      //ts_id: $('ts_id').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      sort_field: field,
      dir: dir,
      ecn: ecn
    };
    var url = '/ack_fill/show_ackfill_multiple_months';
    new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,
    onComplete:function(){$('please_wait').update("");}});
  }
  
  //function page_view
  function page_view( pa )  
  {
    var ecn = '<%= @uc.ecn.to_s %>';    
    if ($('hidden_ecn'))
    {
      ecn = $('hidden_ecn').value;
    }
    please_wait();
    check_time();
    if (pa == 1)
    {
      $('page2').value = $('page1').value;
    }
    else
    {
      $('page1').value = $('page2').value;
    }
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      //ts_id: $('ts_id').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      page: $('page1').value
    };
    var url = '/ack_fill/show_ackfill';
    new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }
  
  //Function ecn_filter
  function ecn_filter(ecn)
  {
    var date_start = document.getElementById("start_time").value;
    var date_end = document.getElementById("end_time").value;
    var start = new Date(Date.parse(date_start));
    var end = new Date(Date.parse(date_end));
    var check_date = Math.abs(end.getFullYear() - start.getFullYear()) + Math.abs(end.getMonth() - start.getMonth());
    if(check_date == 0)
    {
      please_wait();
      show_chart(ecn);
      var param = {
        authenticity_token: '<%= form_authenticity_token %>',
        date_from: $('start_time').value,
        date_to: $('end_time').value,
        trade_start_time: $('trade_start_time').value,
        trade_end_time: $('trade_end_time').value,
        //ts_id: $('ts_id').value,
        ts_id: getTradeServers(), // Multi trade servers selections
        iso_order: $('iso_order_id').value,
        ecn: ecn
      };
      <%
        ecns = ecn_list_plus_bzx_smart_route
          ecns.delete_if{|e| !e[3]}
          ecns.each{ |e|
      %>
          $('<%= e[2] %>').className = 'locationlink';  
      <%
          }
      %>
      if(ecn != '0')
      {
        $(ecn).className = 'location';
        $('allecn').className = 'locationlink';
      }
      else
      {
        $('allecn').className = 'location';
      }
      
      var url = '/ack_fill/show_ackfill';
      new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}}); 
    }
    else
    { 
      please_wait();
      show_chart(ecn);
      var param = {
        authenticity_token: '<%= form_authenticity_token %>',
        date_from: $('start_time').value,
        date_to: $('end_time').value,
        trade_start_time: $('trade_start_time').value,
        trade_end_time: $('trade_end_time').value,
        //ts_id: $('ts_id').value,
        ts_id: getTradeServers(), // Multi trade servers selections
        iso_order: $('iso_order_id').value,
        ecn: ecn
        };
        <%
          ecns = ecn_list_plus_bzx_smart_route
            ecns.delete_if{|e| !e[3]}
            ecns.each{ |e|
        %>
            $('<%= e[2] %>').className = 'locationlink';  
        <%
            }
        %>
        if(ecn != '0')
        {
          $(ecn).className = 'location';
          $('allecn').className = 'locationlink';
        }
        else
        {
          $('allecn').className = 'location';
        }
        var url = '/ack_fill/show_ackfill_multiple_months';
        new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
    }    
  }
  
  //function page_view
  function page_view_multiple_months( pa )  
  {
    please_wait();
    check_time();
    if (pa == 1)
    {
      $('page2').value = $('page1').value;
    }
    else
    {
      $('page1').value = $('page2').value;
    }
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      //ts_id: $('ts_id').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      page: $('page1').value
    };
    var url = '/ack_fill/show_ackfill_multiple_months';
    new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }

  //Function show_detail_order
  var dialog_order;
  function show_detail_order(el){
    //Ext.MessageBox.alert("ts_cid : ts_id", "I am done.");
    //Ext.MessageBox.alert("ts_cid : ts_id", e1.id);
    //Ext.MessageBox.alert("ts_cid : ts_id",e1.id.split("__")[1] + " : " + e1.id.split("__")[2]);
    if(!dialog_order){ // lazy initialize the dialog and only create it once
      dialog_order = new Ext.LayoutDialog("mydlg_order", {
        modal:false,
        width:1000,
        height:300,
        shadow:false,
        minWidth:250,
        minHeight:250,
        proxyDrag: false,
        fixedcenter: true,
        center: {
          autoScroll:true  }
      });
      dialog_order.addKeyListener(27, dialog_order.hide, dialog_order);
      dialog_order.addButton('Close', dialog_order.hide, dialog_order);
      var layout = dialog_order.getLayout();
      layout.beginUpdate();
      //layout.add('west', new Ext.ContentPanel('west'));
      layout.add('center', new Ext.ContentPanel('center_order'));
      layout.endUpdate();
    }
    //  alert(showBtn.dom);
    //   showBtn = Ext.get(el.id);
    if (Ext.isIE){
      dialog_order.hide();
    };
    dialog_order.show();
    if (Ext.isGecko){
      //dialog_order.moveTo(150,420);
    }
    //  alert(el.id);
    $("center_order").innerHTML = "";
    var cross_id = el.id.split("__")[1];
    var ts_id = el.id.split("__")[2];
    var trade_date = el.id.split("__")[3];
    //build_list_order(cross_id,ts_id,trade_date);
    new Ajax.Request("/trade_history/order_detail?cross_id=" + cross_id+"&ts_id="+ts_id +"&trade_date="+trade_date, {asynchronous:true, evalScripts:true, onComplete:function(request){
        //Ext.MessageBox.alert("Hello", "I'm done.");
        //document.getElementById("tree_panel").innerHTML = request.responseText;
        $("center_order").innerHTML = request.responseText;
      }});
  }

  //There are functions for details a dialog  
  var dialog_detail;
  var root;
  var tree_panel;
  var current_node ;
  var selected_order = null;
  var commit_notes = 0;
  function display_detail_order(el){
    if (selected_order){
      selected_order.className = "td6";
    }
    el.className = "td5";
    selected_order = el;
    if(!dialog_detail){ // lazy initialize the dialog and only create it once
      dialog_detail = new Ext.LayoutDialog("mydlg_order_detail", {
        modal:false,
        width:600,
        height:400,
        shadow:false,
        minWidth:250,
        minHeight:350,
        proxyDrag: false,
        fixedcenter: true,
        west: {
          split:true,
          initialSize: 230,
          minSize: 150,
          maxSize: 250,
          titlebar: false,
          collapsible: true,
          animate: true,
          autoScroll:true
        },
        center: {
          autoScroll:true                                         }
      });
      dialog_detail.addKeyListener(27, dialog_detail.hide, dialog_detail);
      dialog_detail.addButton('Break', function(btn,obj){
        var ids = new Array();
        root.eachChild(function(node){
          if(node.isSelected() && node.text.indexOf("Fill") >=0){
      fill_id = node.id;
      if (fill_id.indexOf("_") >= 0) {
        fill_id = fill_id.split("_")[1];
      }     
            ids.push(fill_id);
          }
        });
        new Ajax.Request('/trade_history/adjust_trade?fill_id=' + ids.join(',') + '&new_price=0',
        {asynchronous:true,
          onComplete:function(e){
            if(e.responseText != "OK"){
              Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
            }else{
              window.location.href = window.location;
            }
          }//function
        }
      );//Ajax.Request function
      }, dialog_detail);
      dialog_detail.addButton('Adjust Price', function(btn){
        if(current_node.text.indexOf("Fill") >=0){
          Ext.MessageBox.prompt('Price Adjustment', 'Please enter your new price:', function(btn, price){
            if(btn == "ok"){
              if (is_valid_number(price)){
                adjust_trade(price);
              }else{
                Ext.MessageBox.alert("Error!", "Invalid price. Please, enter valid number!");
              }
            }
          });
        }
      }, dialog_detail);
      dialog_detail.addButton('Close', dialog_detail.hide, dialog_detail);
      var layout = dialog_detail.getLayout();
      layout.beginUpdate();
      layout.add('west', new Ext.ContentPanel('west_order_detail'));
      layout.add('center', new Ext.ContentPanel('center_order_detail'));
      layout.endUpdate();
    }
    //  alert(showBtn.dom);
    //   showBtn = Ext.get(el.id);
    if (Ext.isIE){
      dialog_detail.hide();
    };
    dialog_detail.buttons[0].disable();
    dialog_detail.buttons[1].disable();
    dialog_detail.show();
    if (Ext.isGecko){
      //dialog_detail.moveTo(250,20);
    }
    //  alert(el.id);
    var seqid = el.id.split("__")[1];
    build_tree(seqid);

  }

  function adjust_trade(price){
    new Ajax.Request('/trade_history/adjust_trade?fill_id=' + current_node.id + '&new_price=' + price,
    {asynchronous:true,
      onComplete:function(e){
        if(e.responseText != "OK"){
          Ext.MessageBox.alert("Trade Adjustment Error", e.responseText);
        }else{
          window.location.href = window.location;
        }
      }//function
    }
  );//Ajax.Request function
  }

  function build_tree(order_id){
    var xt = Ext.tree;
    $('tree_panel_order_detail').innerHTML = "";
    var stree = new xt.TreePanel('tree_panel_order_detail', {
      animate:true,
      loader: new xt.TreeLoader({dataUrl:'/trade_history/msg_type_list',
        baseParams:{order_id:order_id}}),
      selModel: new xt.MultiSelectionModel()
    });
    var sroot = new xt.TreeNode({
      text: "Order",
      draggable:false,
      id:'0'
    });
    stree.setRootNode(sroot);
    stree.addListener("click", show_msg);
    stree.render();
    tree_panel = stree;
    root = sroot;
    sroot.expand(false, false);
    new Ajax.Updater('center_order_detail',"/trade_history/msg_type_list?order_id=" + order_id, {asynchronous:true, evalScripts:true, onComplete:function(r){
        //  Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }
  
  var current_viewed_msg = null;
  function show_msg(my_node, e){
    //  if(my_node.isLeaf()){
    current_node = my_node;
    $(current_viewed_msg).hide();
    $("tbl_msg__" + my_node.id).show();
    current_viewed_msg = "tbl_msg__" + my_node.id;
    if (current_node.text.indexOf("Fill") >=0){
      dialog_detail.buttons[0].enable();
      dialog_detail.buttons[1].enable();
    }else{
      dialog_detail.buttons[0].disable();
      dialog_detail.buttons[1].disable();
    }
    //  }
  }

  function load_msg_detail(uri){
    new Ajax.Updater('center_order_detail',uri, {asynchronous:true, evalScripts:true, onComplete:function(r){
        //  Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }

  function is_valid_number(sText){
    var ValidChars = "0123456789.";
    var IsNumber=true;
    var Char;
    for (i = 0; i < sText.length && IsNumber == true; i++)
    {
      Char = sText.charAt(i);
      if (ValidChars.indexOf(Char) == -1)
      {
        IsNumber = false;
      }
    }
    return IsNumber;
  }

  function check_time()
  {
    var _start_time = document.getElementById("trade_start_time").value;
    var _end_time = document.getElementById("trade_end_time").value;
    var start_time_arr = _start_time.split(":");
    var end_time_arr = _end_time.split(":");
    /* Check start time */
    if (_start_time == "")
    {
      document.getElementById("trade_start_time").value = "6:00";
    }
    else
    {
      if (start_time_arr.length==1)
      {
        
        if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
        {
           document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
        }
        else if (start_time_arr[0]<0 || start_time_arr[0]>23)
        {
          document.getElementById("trade_start_time").value = "6:00";
        }
      }
      else if (start_time_arr.length==2)
      {
    
        if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
          document.getElementById("trade_start_time").value = "6:00";
        else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
            document.getElementById("trade_start_time").value = "6:00";
          else if (start_time_arr[0] == "")
            document.getElementById("trade_start_time").value = "6:00";
      }
    }

    /* Check end time */
    if (_end_time == "")
    {
      document.getElementById("trade_end_time").value = "19:00";
    }
    else
    {
      if (end_time_arr.length==1)
      {
        if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
        {
           document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
        }
        else if (end_time_arr[0]<0 || end_time_arr[0]>23)
        {
          document.getElementById("trade_end_time").value = "19:00";
        }
      }
      else if (end_time_arr.length==2)
      {
        if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
          document.getElementById("trade_end_time").value = "19:00";
        else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
            document.getElementById("trade_end_time").value = "19:00";
          else if (end_time_arr[0] == "")
            document.getElementById("trade_end_time").value = "19:00";
      }
    }  
  }

  function check_date_and_step_type(el)
  {
    //Calculate number of days between start_date and end_date 
    var _start_date = document.getElementById("start_time");
    var _end_date = document.getElementById("end_time");
    var start = Date.parse(_start_date.value);
    var end = Date.parse(_end_date.value);
    if (start > end){
        if(el.id == "start_time"){
            _end_date.value = _start_date.value;
        }else{
            _start_date.value = _end_date.value;
        }
    }
    check_time();
    var period_days = cal_date_range();   
  }

  function cal_date_range()
  {
    var _start_date = document.getElementById("start_time");
    var _end_date = document.getElementById("end_time");
    var start = Date.parse(_start_date.value);
    var end = Date.parse(_end_date.value);      
    var period_days = (end - start)/(1000*60*60*24); 
    var current_step = document.getElementById("step_type").value;
    if (start == end && current_step != 15)
    {
      document.getElementById("step_type").value = 15;
    }
    else if (period_days >= 1 && current_step != 91)
    {
      document.getElementById("step_type").value = 91;
    }
    return period_days;
  }
   
  function date_range() {
    var _start_date = document.getElementById("start_time");
    var _end_date = document.getElementById("end_time");
    var start = Date.parse(_start_date.value);
    var end = Date.parse(_end_date.value);
    var period_days = (end - start) / (1000 * 60 * 60 * 24);
    return period_days;
  }
  
  function getEnterKey(e)
  {
    var uinocde = e.keyCode?e.keyCode:e.charCode;
    if(uinocde == 13)
    {
      show_data();
    }
    return;
  }
  
  function isTimeNumber(evt)
  {
      var charCode = (evt.which) ? evt.which : event.keyCode;
      if (charCode == 58)
        return true;
      if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
      return true;
  }
  
  /*********************************************************************************
  * Method name     : reset_ecn
  * Input       : 
  * Output      :
  * Date created    : 18-04-2014
  * Developer     : HungLN
  * Description   : Reset ecn to ALL
  **********************************************************************************/
  function reset_ecn()
  {
    var ecn = 0;  
    please_wait();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      date_from: $('start_time').value,
      date_to: $('end_time').value,
      trade_start_time: $('trade_start_time').value,
      trade_end_time: $('trade_end_time').value,
      ts_id: getTradeServers(), // Multi trade servers selections
      iso_order: $('iso_order_id').value,
      ecn: ecn
    };
    <%
      ecns = ecn_list_plus_bzx_smart_route
        ecns.delete_if{|e| !e[3]}
        ecns.each{ |e|
    %>
        $('<%= e[2] %>').className = 'locationlink';  
    <%
        }
    %>
    
    $('allecn').className = 'location';
    
    show_chart(ecn);
    var url = '/ack_fill/show_ackfill';
    new Ajax.Updater('ackfill_table',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }
  
  // Reset filter
  function reset_filter()
  { 
    document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
    document.getElementById("end_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
    document.getElementById("trade_start_time").value = "2:00";
    document.getElementById("trade_end_time").value = "19:00";
    //document.getElementById("ts_id").value = "0";
    clear_selection();
    document.getElementById("iso_order_id").value = "0";
    var _start_date = document.getElementById("start_time");
    var _end_date = document.getElementById("end_time");
    var start = Date.parse(_start_date.value);
    var end = Date.parse(_end_date.value);    
    var period_days = (end - start)/(1000*60*60*24);
    var current_step = document.getElementById("step_type").value;
    if (start == end && current_step != 15)
    {
      document.getElementById("step_type").value = 15;
    }
    else if (period_days >= 1 && current_step != 91)
    {
      document.getElementById("step_type").value = 91;
    }
    reset_ecn(); 
  }
  
</script>

<!-- <script type="text/javascript" src="/javascripts/ext/adapter/prototype/ext-prototype-adapter.js"></script>
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
 -->
<script type="text/javascript" src="/javascripts/ext/ext-default.js"></script>
