<%= javascript_include_tag 'swfobject' %>

<%	
	ack_fill_csv = ""
	i=0
	if @step == 5 || @step == 15 || @step == 30 || @step == 60
		@summary_ack_fill.each do |item|
			ack_fill_csv <<  Time.at(item[:time_stamp]).strftime("%H:%M") + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_ack].to_s + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_fill].to_s + "\\n"
			i+=1
		end
	
	#1 day
	elsif @step == 91
		@summary_ack_fill.each do |item|
			ack_fill_csv <<  item[:date].to_s + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_ack].to_s + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_fill].to_s + "\\n"

			i+=1
		end

	elsif @step == 92

		@summary_ack_fill.each do |item|
			ack_fill_csv <<  "Week #{item[:week_num]};"
			ack_fill_csv << @summary_ack_fill[i][:median_time_ack].to_s + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_fill].to_s + "\\n"
			
			i+=1
		end
	elsif @step == 93
		@summary_ack_fill.each do |item|
			ack_fill_csv <<  "#{item[:month_num]}-#{item[:year_num]};"
			ack_fill_csv << @summary_ack_fill[i][:median_time_ack].to_s + ";"
			ack_fill_csv << @summary_ack_fill[i][:median_time_fill].to_s + "\\n"

			i+=1
		end		
	end

	ack_fill_csv = ";#;#" if ack_fill_csv ==""

%>      

<div style="width:100%; background:transparent;">   
  <div id="flashcontent4"  style="width:100%;"><strong>Loading chart...</strong> </div>
  <script type="text/javascript">
    // <![CDATA[    
    var so = new SWFObject("/amcharts/libs/amcolumn/amcolumn.swf", "amcolumn", "100%", "300", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amcolumn/");
    so.addVariable("settings_file", escape("/amcharts/settings/amcolumn_common_settings.xml, /amcharts/settings/ack_fill/ack_fill_1.xml"));
    so.addVariable("additional_chart_settings", "<%= @color_config.column_config %>");
    so.addVariable("chart_data", escape("<%= ack_fill_csv %>"));
	so.addParam("wmode", "opaque");	
	//so.addParam("wmode", "transparent");
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.write("flashcontent4");
    // ]]>
  </script>

</div>
