<table width="100%" border="0" cellspacing="0" cellpadding="2">   
  <%
    end_index = @offset + @items_per_page
    start_index = 0
    if  @count > 0
      start_index = @offset + 1
    end
    if end_index > @count
      end_index = @count
    end
  %>
  <tr>
    <td align='right' nowrap>
      <table>
        <tr>
          <td>&nbsp;<input type="hidden" name="ecn" id="hidden_ecn" value="<%= @uc.ecn.to_s%>" /></td>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'ackfill_table'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>
			<%= text_field_tag 'page1', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\');'} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td nowrap><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader">
          <td nowrap class="table_tdheader" align="CENTER" width="5%">#</td>          
          <td nowrap align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('symbol','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Symbol</a></td>
          <td nowrap align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('ecn','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">ECN</a> </td>          
          <td nowrap align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('order_id','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Order_ID</a></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader" href="#" onclick="sort_fields('ack_delay','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Ack Delay</a></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader"href="#" onclick="sort_fields('fill_delay','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Fill Delay</a></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader"href="#" onclick="sort_fields('date','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Date</a></td>
		  <td nowrap align="CENTER" width="9%"><a class="table_tdheader"href="#" onclick="sort_fields('time_stamp','<%= @dir %>','<%= @uc.ecn.to_s %>');return false;">Time</a></td>
        
	   </tr>
        <%
        i = 0
        @orders.each{ |an_order|
          i += 1
        %>

          <tr id="<%= i %>__<%=an_order.cross_id%>__<%=an_order.ts_id%>__<%= @uc.trade_date.strftime("%m/%d/%Y")%>"  <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
            <td class="text_normal" align="right"><%=number_with_delimiter(@offset + i)%>&nbsp;</td>           
            <td class="text_normal" align="LEFT"><%= an_order.symbol  %></td>
            <td class="text_normal" align="center"><%= display_ecn(an_order.ecn) %></td>
            <td class="text_normal" align="RIGHT"><%= an_order.order_id%></td>
            <td class="text_normal" align="RIGHT"><%= number_to_currency((an_order.ack_delay/1000000).to_f, {:unit=>"", :precision=>6, :delimiter => ","}) %></td>
            <td class="text_normal" align="RIGHT"><%= number_to_currency((an_order.fill_delay/1000000).to_f, {:unit=>"", :precision=>6, :delimiter => ","}) %></td> 
            <td class="text_normal" align="center"> <%= an_order.date %> </td>
			<td class="text_normal" align="center"> <%= an_order.time_stamp.strftime("%H:%M:%S.") %><%= "%06d" % (an_order.time_stamp.usec.to_i) %></td>
          </tr>
        <%}%>
    </table>
	</td>
  </tr>
  <tr>
    <td align='right'>
      <table>
        <tr>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'ackfill_table'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>            
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'2\');'} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'2\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>
