<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:8%;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	width:100%;
	overflow:auto;
	
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
.table_version
{
	border-bottom:0px; 
	margin-top:0px; 
	margin-bottom: 0px;
	background-color:#FFFFFD;	
    border-color:#CDCCCC;
	border-collapse:collapse;
	padding:2px;
	margin-left:10px; 
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="process" class="submenu-nonactive" href="#" onclick="show_tt_version()">Trader Tool Download</a> </td>
					</tr>
				</table></td>
			  </tr>		  
			
				</tr>						
			  </table>
		</div>	
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart"><div id="ReloadThis" style="width:40%; background:transparent;">
		<div id="tt_version" style="width:100%; background:transparent;"> 		
		</div>
	</div>
		<br>
		<br>
		<div style="width:50%; align:LEFT; text-align:left;">
			
		</div>

   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
  window.onload = function(e){
    

    page1 = document.getElementById("server_management1");
    swap(page1);
	
	  $("process").className = "submenu-active";

	show_tt_version();
  }
  function show_tt_version()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
				
		};
		var url = "/server_management/show_tt_version" ;
		new Ajax.Updater('tt_version',url,{parameters: param, method: "GET", evalScripts:true,
						onComplete:function(){
								//refresh menu side bar
								refresh_menu_data();
							}});	
  }
  
	 //Function page_view
	function page_view()
	{
		var param = {
				authenticity_token: '<%= form_authenticity_token %>'
				
		};
	
		var url = "/server_management/show_tt_version" ;
		new Ajax.Updater('tt_version',url,{parameters: param, method: "GET", evalScripts:true});	
	}
  	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'			
		};	
		var url = "/server_management/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
	
	function show_msg_result(str)
	{
		 Ext.MessageBox.alert('Error Message', str , function(btn){
		  if(btn=="yes"){		 }
		});				
	}
 


</script>
