<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:65px;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >

			<div style="width:100%; align:center; text-align:center;">
				<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
				  <tr>
					<td >
					  <table width="100%" border="0" cellspacing="1" cellpadding="2">
						<tr class="text_filter">
						  <td align="left">
								<a id="process" class="submenu-nonactive" href="/<%= controller.controller_name%>/index" onclick="show_process();">Process Management</a> | <a id="upgrade_version" class="submenu-nonactive" href="/<%= controller.controller_name%>/upgrade_version" onclick="show_upgrade_version();">Upgrade/Version Control</a> | <a id="log_viewer" class="submenu-nonactive" href="#" onclick="show_log();">Log Viewer</a></td>
				</tr>
					</table></td>
				  </tr>		  
					<tr class="text_filter">    
					    <div style="width:100%; align:center; text-align:center;">
							<form action="/<%=controller.controller_name%>/<%= controller.action_name %>" method="get">
								<td align="CENTER"> <font class="binhthuong"><b style="color:#ffffff;">Trade Date :</b></font>
									<input readonly="readonly" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>" name="trade_date" id="trade_date" size="10"  type="text" onchange="check_Time(this)">
									<img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2"  name="ical2" /> 
										&nbsp;&nbsp;
									<input type="submit" value="   Apply   ">  
								</td>
							</form>
						</div>		   
					  
					</tr>
				  </table>
			</div>



	</div><!--end top2-->
	 <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2">
		<table style="background-color:#ffffff;" class="tbl1" width="100%" border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td width="200" valign="TOP">
						<% @flag_to_show=false %>
						<% if @log_files.size < 1 %> 
							<strong> No Log File Found. </strong>
						<%else%>       
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:10pt">

							<tr>
								<td  class="tdheader"  background="/images/background_bold.gif" align="CENTER" style="color:#ffffff"> Log Files
								</td>
							</tr>
							   <% 
									@log_files.sort!{|server1, server2| server1[0] <=> server2[0]}

									@log_files.each do |server| %> 
							 
							<tr>
								<td align="LEFT" class="tdheader"  background="/images/background_light.gif" align="CENTER" style="color:#ffffff; padding-left:2px"> <%= server[0].upcase %> </td>
							</tr> 
									<% server[1].each do |file_name| 
											file_name_only =  file_name.split("/").last.strip
									%>
							<tr class="highlighter" onclick="this.style.backgroundColor='#99CCCC';">
						  
								<td align="LEFT"> <a href="#" onclick="show_log_viewer('<%= file_name_only.strip %>', '<%= server[0] %>'); " style="margin-left:7px;margin-top:5px"><%= file_name_only %></a> </td>
							</tr>
							<% @flag_to_show=true %>
							<% end %>
						  <% end %>
						</table>        
						<%end%>
					</td>
					<td valign="top">
						<div id="server_management_log_viewer" style="width:100%; background:transparent;">
							 <% if @flag_to_show==true %>
									Please select a file to view.
							 <%	end %>
							 
						</div>
					</td>
				</tr>
				<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
								<br>
									&nbsp; Please wait ... &nbsp;
								<br>
				</div>
			</table>

   </div>   
   
   <div class="lm_right lm_right2"></div>
	<div class="lm_bottom lm_bottom2"> </div> 

</div><!--end contain2-->

<script language="javascript">
  window.onload = function(e){
		Calendar.setup({
			inputField     :    "trade_date",
			ifFormat       :    '%m/%d/%Y',
			button         :    "ical2",
			align          :    "B1",
			singleClick    :    true
		});
    page1 = document.getElementById("server_management1");
    swap(page1);
	document.getElementById('trade_date').onchange=function(el){};
	  $("log_viewer").className = "submenu-active";
    //document.getElementById('start_time').onchange=function(el){};
    //document.getElementById('end_time').onchange=function(el){};

	 show_log();
  }
	function please_wait()
	{
		var pos = $('server_management_log_viewer').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
  /*********************************************************************************
   * Method name 		: show_log
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: KhanhTT
   * Description		: methed to show log viewer
  **********************************************************************************/
  function show_log()
  {

		//remove highlight
		var allATags = new Array();
		var allATags = document.getElementsByTagName('TR');

		for (i = 0; i < allATags.length; i++) {
			if (allATags[i].className == 'highlighter') {
				allATags[i].style.backgroundColor = '#ffffff';
			}
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: filename,
			server: servername
		};

		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
							onComplete:function(){
									//refresh menu side bar
									refresh_menu_data();
								}});
  }
  function show_log_viewer(filename,servername)
	{
		please_wait();

	    //remove highlight
		var allATags = new Array();
		var allATags = document.getElementsByTagName('TR');

		for (i = 0; i < allATags.length; i++) {
			if (allATags[i].className == 'highlighter') {
				allATags[i].style.backgroundColor = '#ffffff';
			}
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: filename,
			server: servername
		};

		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update("");
									//refresh side bar of menu
									refresh_menu_data(); }});

	}
   
  	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{

		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
		};
		var url = "/server_management/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
 

  //Function page_view
  function page_view()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'

		};

	var url = "/server_management/show_log" ;
	new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true});
  }
  function focus_current_hit()
	{
		if ($("current_hit_index")) {
			$("current_hit_index").focus();
		}
	}
	function get_params()
	{
		if ($("key_word").value == '') 
		{
			show_log_viewer($("filename").value,$("server").value);
		}
		else
		{
			search_string();
		}
	}
	function search_string()
	{
		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1
		};

		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});

	}
	function get_hit(hit_value){
		if ($("key_word").value == '') 
		{
			show_log_viewer($("filename").value,$("server").value);
		}
		else
		{
			go_to_hit(hit_value);
		}
	}
	function go_to_hit(hit_value){

		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1,
			hit: hit_value
		};

		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function go_to_this_hit()
	{
		please_wait();
	    
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			file_name: document.getElementById('filename').value,
			server: document.getElementById('server').value,
			key_word: document.getElementById("key_word").value,
			s: 1,
			hit: document.getElementById("current_index").value
		};

		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function page_view(id)
	{
		please_wait();
		var param;
		if ($("key_word").value == '') {
			param = {
				authenticity_token: '<%= form_authenticity_token %>',
				page: document.getElementById(id).value,
				file_name: document.getElementById('filename').value,
				s: 0,
				server: document.getElementById('server').value
			};
		}
		else {
			param = {
				authenticity_token: '<%= form_authenticity_token %>',
				page: document.getElementById(id).value,
				file_name: document.getElementById('filename').value,
				s: 0,
				server: document.getElementById('server').value,
				key_word: document.getElementById("key_word").value,
				hit: document.getElementById("current_index").value
			};
		}
		var url = "/server_management/show_log" ;
		new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
	}
	function enter_page_view(id,e)
	{
	    var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;
		else return true;
		var param ;
		if (keycode == 13) {
			please_wait();
				if ($("key_word").value == '') {
					param = {
						authenticity_token: '<%= form_authenticity_token %>',
						page: document.getElementById(id).value,
						file_name: document.getElementById('filename').value,
						s: 0,
						server: document.getElementById('server').value
					};
				}
				else {
					param = {
						authenticity_token: '<%= form_authenticity_token %>',
						page: document.getElementById(id).value,
						file_name: document.getElementById('filename').value,
						s: 0,
						server: document.getElementById('server').value,
						key_word: document.getElementById("key_word").value,
						hit: document.getElementById("current_index").value
					};
				}
			var url = "/server_management/show_log";
			new Ajax.Updater('server_management_log_viewer',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){$('please_wait').update(""); focus_current_hit();
									//refresh side bar of menu
									refresh_menu_data(); }});
			return false;
		}
		else
   			return true;
	}
   

</script>