<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:8%;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="process" class="submenu-nonactive" href="#" onclick="show_process();">Process Management</a> | <a id="upgrade_version" class="submenu-nonactive" href="/<%= controller.controller_name%>/upgrade_version" onclick="show_upgrade_version();"></a> Upgrade/Version Control <a id="log_viewer" class="submenu-nonactive" href="/<%= controller.controller_name%>/log_viewer">Log Viewer</a></td>
					</tr>
				</table></td>
			  </tr>		  
				<tr class="text_filter">    
				 <!-- viet cac filter tai day -->
				</tr>
			  </table>
		</div>
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2">
		<div id="server_management_process" style="width:100%; background:transparent;"> 
		</div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->
