<table width="100%" border="0" cellspacing="0" cellpadding="2">  
<%if @log_lines.size > 0 %>					   
		<table align="center" cellpadding="0" cellspacing="2" border="0">
			<tr>
			  <td align='center' nowrap><b>Keyword:</b>
			  <%= text_field_tag 'key_word', params[:key_word], {:size => 40,:onchange=>'get_params();'} %> </td>
			  <td width="4">&nbsp;</td>
			  <td align='center' nowrap><button onclick="get_params();"> Search </button></td>
			  <td width="4">&nbsp;&nbsp;&nbsp;</td>
			  <% if @key_word_count > 1 %>
				   <%
							pre_hit = (params[:hit] || 1).to_i - 1 
							pre_hit = (@current_hit || 1).to_i - 1 if params[:hit].to_i > @key_word_count
							if pre_hit < 1 
								 pre_hit = 1 
							end
					%>
				  <td align='center'><a href='#' onclick="get_hit('<%= pre_hit %>');" class="txtpagingoff"><img src="/images/pre.gif"  border="0" title="previous hit"></a></td>
					<% 
						next_hit = (params[:hit] || 1).to_i + 1 
						next_hit = @key_word_count if next_hit > @key_word_count
						next_hit = 2 if next_hit < 1
					%>
				  <td align='center'><a href='#' onclick="get_hit('<%= next_hit %>');" class="txtpagingoff"><img src="/images/nex.gif"  border="0" title="next hit" ></a></td>
				  <td align='center'><input name="current_index" type='text' onchange="go_to_this_hit();" value='<%= @current_hit %>' size="7" id='current_index'> </td>
				  <td align='center' nowrap><button title="go to this hit" onclick="go_to_this_hit();"> Go </button></td>
			  <% end %>
			</tr>
		</table>
		<div class="scrollingtext">
			<table width="100%" border="0" cellspacing="0" cellpadding="2" style="font-size:10pt">
				<tr>
					<td width="50" class="tdheader"  background="/images/background_bold.gif" align="CENTER" style="color:#ffffff;size:16px"> No. </td>
					<td class="tdheader"  background="/images/background_bold.gif" align="CENTER" style="color:#ffffff;size:16px"> Content</td>
				</tr>
				<tr>
					<td align="right" colspan="2">
						<table width="100%" border="0">
								<tr><% if params[:key_word] != nil %>
									<td align='left' nowrap class="border0">
										<span class="log_search_result" style="font-size:10pt;font-weight:bold"> [Search Results: <%=number_with_delimiter(@key_word_count,",")%>] </span>				  
									</td>
									<% end %>
									<td align="right" >
										<table cellpadding="0" cellspacing="0" border="0" style="font-size:10pt">    		   
												<tr>
													<td align='right' nowrap class="border0">
														<%
															start_index = 0
															if  @count > 0
																start_index = @offset - 100

																if (start_index < 1)
																	start_index = 0
																end
															end

															end_index = start_index + @lines_per_page
															if end_index > @count
																end_index = @count
															end

														%>
													  <span> [<%= number_with_delimiter(start_index + 1 , ",") %>-<%= number_with_delimiter(end_index,",") %> of <%= number_with_delimiter(@count, ",")%>] </span>				  
													</td>
													<% if @object_pages.total_pages > 1 %>
													<td align='right' nowrap class="border0">
													  <span class="txtpagingoff"> 
													  <%
															pre_page = (params[:page] || 1).to_i - 1 
															if pre_page < 1 
																 pre_page = 1 
															 end
													  %>
													  <!-- pre_page --> </span>				  
													 </td>
													<td align='right' nowrap class="border0">
													  <span class="txtpagingoff"> 
														<% 
															page_count = 0
															page_count = @object_pages.total_pages
															if page_count > 1
																next_page = (params[:page] || 1).to_i + 1 
																next_page = (@page || 1).to_i + 1 if params[:page]==nil
																next_page = page_count if next_page > page_count
																params[:s] = 0
														%> 
															<%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'server_management_log_viewer'},:class =>'logviewer_class', :inner_window => 2, :outer_window => 0, :params=>params} %>
															<%params.each { |k,v|%> 
																	<%if k.to_s != "page" %>                         	 
																	<input  name="<%=k%>" value="<%=v%>" type="hidden"  id="<%=k%>">
																	<%end%>
															<%}%>
														<%
															end #paging
														%> 
													  </span>				  
												  </td>
												  
												 			  
												  </td>
												   <% end %>
												</tr>
											</table>
										</td>
										<td width="5">&nbsp;</td>
										<td align="RIGHT" width="50">
											<% if @object_pages.total_pages > 1 %>
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
												  <td>                 
													  <input name="page" type='text'  onKeyPress="return enter_page_view('page',event); return false;" value='<%= next_page %>' size="1" id='page'> </td>
												  </td>
												  <td>
													  <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title=>"Go to this page"}), '#', {:onclick => 'page_view("page"); return false;'}) %>
												  </td>
												</tr>
											</table>
											<% end %>
										</td>
									</td>
								</tr>
						</table>
					</td>
											  
				</tr>
					<input type="hidden" id="filename" value="<%=@log_file_name%>"></input>
					<input type="hidden" id="server" value="<%=@server%>"></input>								 
					<% 
						i = start_index
					@log_lines.each do |line|
						i += 1
					%>        
				<tr>
					<td align="CENTER" ><%= number_with_delimiter(i, ",") %></td>
					<% if @key_word_array.include?(i.to_s) != true %>
						 <td align="left"><%=line %></td>
					<% else %>
						 <% if @current_hit_line_number == i %>
							<td align="left"><a id="current_hit_index" style="cursor:none; text-decoration:none; background-color:#7CFC00" href="#"><%=line %></a></td> 

						 <% else %>
						   <td align="left"><font style="background-color:#FFFF00"><%=line %></font></td>
						 <% end %>
					<% end %>
				</tr>  
									  
					<% end %>

				<tr>
					<td align="right" colspan="2">
						<table width="100%" border="0">

								<tr><% if params[:key_word] != nil %>
									<td align='left' nowrap class="border0">
										<span class="log_search_result" style="font-size:10pt;font-weight:bold"> [Search Results: <%=number_with_delimiter(@key_word_count,",")%>] </span>				  
									</td>
									<% end %>
									<td align="right" >
										<table cellpadding="0" cellspacing="0" border="0" style="font-size:10pt">    		   
												<tr>
													<td align='right' nowrap class="border0">
														<%
															start_index = 0
															if  @count > 0
																start_index = @offset - 100

																if (start_index < 1)
																	start_index = 0
																end
															end

															end_index = start_index + @lines_per_page
															if end_index > @count
																end_index = @count
															end

														%>
													  <span> [<%= number_with_delimiter(start_index + 1 , ",") %>-<%= number_with_delimiter(end_index,",") %> of <%= number_with_delimiter(@count, ",")%>] </span>				  
													</td>
													<% if @object_pages.total_pages > 1 %>
													<td align='right' nowrap class="border0">
													  <span class="txtpagingoff"> 
													  <%
															pre_page = (params[:page] || 1).to_i - 1 
															if pre_page < 1 
																 pre_page = 1 
															 end
													  %>
													   <!-- pre_page --> </span>				  
													 </td>
													<td align='right' nowrap class="border0">
													  <span class="txtpagingoff"> 
														<% 
															page_count = 0
															page_count = @object_pages.total_pages
															if page_count > 1
																next_page = (params[:page] || 1).to_i + 1 
																next_page = (@page || 1).to_i + 1 if params[:page]==nil
																next_page = page_count if next_page > page_count
																params[:s] = 0
														%> 
															<%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'server_management_log_viewer'},:class =>'logviewer_class', :inner_window => 2, :outer_window => 0, :params=>params} %>
															<%params.each { |k,v|%> 
																	<%if k.to_s != "page" %>                         	 
																	<input  name="<%=k%>" value="<%=v%>" type="hidden"  id="<%=k%>">
																	<%end%>
															<%}%>
														<%
															end #paging
														%> 
													  </span>				  
												  </td>
			  
												  </td>
												   <% end %>
												</tr>
											</table>
										</td>
										<td width="5">&nbsp;</td>
										<td align="RIGHT" width="50">
											<% if @object_pages.total_pages > 1 %>
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
												  <td>                 
													  <input name="page" type='text' onKeyPress="return enter_page_view('gopage1',event); return false;" value='<%= next_page %>' size="1" id='gopage1'> </td>
												  </td>
												  <td>
													  <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title=>"Go to this page"}), '#', {:onclick => 'page_view("gopage1"); return false;'}) %>
												  </td>
												</tr>
											</table>
											<% end %>
										</td>
									</td>
								</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	<% else%>
		<% if @log_file_name %>
			<%= @log_file_name %> is empty.
		 <%else%>
			Please select a file to view.
		<% end%>
<% end %>
</table>
