<div style="color:#ffffff; font-size:11pt; font-weight:bold; margin-left:20px; margin-top:40px;">
	<span>Version Control Info</span><br/>
</div>
<table border="1" class="table_normal" style=" margin-bottom: 0px; margin-left:20px; margin-top:15px;">
	<tr class="table_trheader" >
	  <td nowrap class="table_tdheader"  align="CENTER" width="50">Module</td>
	  <td nowrap class="table_tdheader" align="CENTER" width="100">Version Control</td>
	  <td nowrap class="table_tdheader" align="CENTER" width="100">Upgraded Date</td>        
	  <td nowrap class="table_tdheader" align="CENTER" width="80">Trader</td>
	  <td nowrap class="table_tdheader" align="CENTER" width="200" >Trader Note</td>        
	  <td nowrap class="table_tdheader" align="CENTER" width="150"></td>
	</tr>
</table>
<% 	if (@data_as.size > 0) 
		currentAS= @data_as.first
%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_AS" class="plus_minus" onclick="show_hide('t_AS');" src="/images/plus.gif">AS</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentAS.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentAS.date %></td>
		<td width="80" class="text_normal" align="CENTER" ><%= currentAS.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentAS.ver%>', 'as' , '<%= currentAS.trader.strip%>' , '<%=h currentAS.trader_note %>');"><%= currentAS.trader_note.to_s %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentAS.ver %>, 'as' );" ></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_AS">
<%
	@data_as.shift
	@data_as.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'as' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note.to_s %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'as');"></input></td>
	</tr>
<%
	}
%>
</table>

<%
		end
	 	if (@data_pm.size > 0) 
		currentPM= @data_pm.first
%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_PM" class="plus_minus" onclick="show_hide('t_PM');" src="/images/plus.gif">PM</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentPM.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentPM.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentPM.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentPM.ver%>', 'pm' , '<%= currentPM.trader.strip%>' , '<%=h currentPM.trader_note %>');"><%= currentPM.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentPM.ver %>, 'pm' );"></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_PM">
<%
	@data_pm.shift
	@data_pm.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'pm' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'pm');"></input></td>
	</tr>
<%
	}
%>
</table>
<% 
	end
	if (@data_ts1.size > 0) 
		currentTS1= @data_ts1.first
%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_T1" class="plus_minus" onclick="show_hide('t_T1');" src="/images/plus.gif">TS1</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS1.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS1.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentTS1.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentTS1.ver%>', 'ts1' , '<%= currentTS1.trader.strip%>' , '<%=h currentTS1.trader_note %>');"><%= currentTS1.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentTS1.ver %>,'ts1');"></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_T1">
<%
	@data_ts1.shift
	@data_ts1.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'ts1' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'ts1');"></input></td>
	</tr>
<%
	}
%>

</table>
<% 
	end 

	if (@data_ts2.size > 0) 
		currentTS2= @data_ts2.first

%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_T2" class="plus_minus" onclick="show_hide('t_T2');" src="/images/plus.gif">TS2</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS2.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS2.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentTS2.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentTS2.ver%>', 'ts2' , '<%= currentTS2.trader.strip%>' , '<%=h currentTS2.trader_note %>');"><%= currentTS2.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentTS2.ver %>,'ts2');"></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_T2">
<%
	@data_ts2.shift
	@data_ts2.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'ts2' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'ts2');"></input></td>
	</tr>
<%
	}
%>
</table>
<% 
	end   
	if (@data_ts3.size>0)
		currentTS3= @data_ts3.first

%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_T3" class="plus_minus" onclick="show_hide('t_T3');" src="/images/plus.gif">TS3</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS3.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS3.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentTS3.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentTS3.ver%>', 'ts3' , '<%= currentTS3.trader.strip%>' , '<%=h currentTS3.trader_note %>');"><%= currentTS3.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentTS3.ver %>,'ts3');"></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_T3">
<%
	@data_ts3.shift
	@data_ts3.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'ts3' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'ts3');"></input></td>
	</tr>
<%
	}
%>
</table>
<% 	end 
	if (@data_ts4.size > 0)
		currentTS4= @data_ts4.first
%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_T4" class="plus_minus" onclick="show_hide('t_T4');" src="/images/plus.gif">TS4</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS4.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTS4.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentTS4.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentTS4.ver%>', 'ts4' , '<%= currentTS4.trader.strip%>' , '<%=h currentTS4.trader_note %>');"><%= currentTS4.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= currentTS4.ver %>,'ts4');"></input></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_T4">
<%
	@data_ts4.shift
	@data_ts4.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'ts4' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><input type="button" value="Rollback" onclick="update_value(<%= x.ver %>,'ts4');"></input></td>
	</tr>
<%
	}
%>
</table>
<% 	end 
	if (@data_tt.size > 0)
		currentTT= @data_tt.first
%>
<table border="1" class="table_main_version">
	<tr>
		<td width="50" class="text_normal" align="CENTER">
		<img id="main_TT" class="plus_minus" onclick="show_hide('t_TT');" src="/images/plus.gif">TT</input>
		</td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTT.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= currentTT.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= currentTT.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=currentTT.ver%>', 'tt' , '<%= currentTT.trader.strip%>' , '<%=h currentTT.trader_note %>');"><%= currentTT.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><%= button_to "Download", :action => "download_tt", :file_name => currentTT.ver.strip + ".zip" %></td>
	</tr>
</table>

<table border="1" class="table_child_version" id="t_TT">
<%
	@data_tt.shift
	@data_tt.each { |x|
%>
	<tr>
		<td width="50" class="text_normal" align="RIGHT"></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.ver %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x.date %></td>
		<td width="80" class="text_normal" align="CENTER"><%= x.trader.capitalize %></td>
		<td width="200" class="text_normal" align="CENTER" style="cursor:pointer;" onclick="show_trader_note('<%=x.ver%>', 'tt' , '<%= x.trader.strip%>' , '<%=h x.trader_note %>');"><%= x.trader_note %></td>
		<td width="150" class="text_normal" align="CENTER"><%= button_to "Download", :action => "download_tt", :file_name => x.ver.strip + ".zip" %></td>
	</tr>
<%
	}
%>
</table>
<% 	end %>