<table border="1" class="table_normal" style=" margin-bottom: 0px; margin-left:10px; margin-top:15px;">
	<tr class="table_trheader" >
	  <td nowrap class="table_tdheader" align="CENTER" width="50">#</td>
	  <td nowrap class="table_tdheader" align="CENTER" width="100">TT version</td>
	  <td nowrap class="table_tdheader" align="CENTER" width="150"></td>
	</tr>
</table>

<table border="1" class="table_version" id="t_TT">
<%
	count = 0
	@data_tt.each { |x|
		count = count + 1
%>	
	<tr>
		<td width="50" class="text_normal" align="CENTER"><%= count %></td>
		<td width="100" class="text_normal" align="CENTER"><%= x %></td>
		<td width="150" class="text_normal" align="CENTER"><%= button_to "Download", :action => "download_tt", :file_name => x %></td>
	</tr>
<%
	}
%>
</table>