<table width="100%" border="0" cellspacing="0" cellpadding="2">
 <tr>
 <% hash_param = {:trade_date => @uc.trade_date.strftime('%m/%d/%Y')  
				}				
 %>
 </tr>
	<%
		end_index = @offset + @items_per_page
		start_index = 0
		if  @count > 0
			start_index = @offset + 1
		end
		if end_index > @count
			end_index = @count
		end
	%>
	<tr>	  
		<td align='right'>
		  
			<table>
				<tr>
					<td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
					<td><%= will_paginate @object_pages,:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'server_management_event'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0 %></td>
					<span class="txtpagingoff"> 
					<% 
						page_count = 0
						page_count = @object_pages.total_pages
						if page_count > 1
							next_page = (params[:page] || 1).to_i + 1 
							next_page = page_count if next_page > page_count
					%>					
					<td>
						<% form_tag({:controller => 'server_management'}, {:method => :get, :id => 'form1'}) do
								params.each{|k, v|
									if k != 'page' && k != 'action' && k != 'controller' %>
										<%= hidden_field_tag k, v %>
									<%end
								}%>								
						<% end -%>
						<%= text_field_tag 'page', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view()'} %>
					</td>
					<td>
						<%= link_to_remote(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view()'}) %>
					</td>
					<% end %>
					</span>
				</tr>
			</table>

   		 </td>
	</tr>
	<tr>
    <td nowrap><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader" >
          <td nowrap class="table_tdheader"  align="CENTER" width="3%">#</td>
          <td nowrap class="table_tdheader" align="CENTER" width="15%">IP</td>
          <td nowrap class="table_tdheader" align="CENTER" width="30%">Event</td>        
		  <td nowrap class="table_tdheader" align="CENTER" width="20%">Time</td>
        </tr>
		<% 
		
        i = 0
        @data_log.each{ |data|  
          i += 1
		  if (i >= start_index) and (i<= end_index)
        %>
          <tr  id="<%= i %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>> 
            <td class="text_normal" align="CENTER"><%= number_with_delimiter(i, :delimiter =>",")%>&nbsp;</td>
            <td class="text_normal" align="CENTER"><%= data.ip_address %></td>
            <td class="text_normal" align="CENTER"><%= data.event %></td>
            <td class="text_normal" align="CENTER"><%= data.time_stamp %></td>
            
          </tr>
		 <% end %>
        <%}%>
    </table>	
	</td>
  </tr>
</table>