<table width="100%" border="0" cellspacing="0" cellpadding="2"> 	
<tr>
    <td nowrap><table width="80%" border="1" class="table_normal">
        <tr class="table_trheader">
			<td nowrap align="CENTER" width="9%"><a class="table_tdheader">Process</a></td>
			<td nowrap align="CENTER" width="9%"><a class="table_tdheader" >Status</a></td>
			<td nowrap align="CENTER" width="9%"><a class="table_tdheader"></a></td>
		</tr>
		<tr class="table_even_row">
            <td <% if @as_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>AS</b></td>
            <td <% if @as_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @as_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @as_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="as_button" onclick="process_script(0 , <%= @as_value.to_i %>);"> </td>
		</tr>
		<tr class="table_odd_row">
            <td <% if @pm_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>PM</b></td>
            <td <% if @pm_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @pm_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @pm_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="pm_button" onclick="process_script(-1 , <%= @pm_value.to_i %>);"> </td>
		</tr>
		<tr class="table_even_row">
            <td <% if @ts1_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>TS1</b></td>
            <td <% if @ts1_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @ts1_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @ts1_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="ts1_button" onclick="process_script(1 , <%= @ts1_value.to_i %>);"> </td>
		</tr>
		<tr class="table_odd_row">
            <td <% if @ts2_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>TS2</b></td>
            <td <% if @ts2_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @ts2_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @ts2_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="ts2_button" onclick="process_script(2 , <%= @ts2_value.to_i %>);"> </td>
		</tr>
		<tr class="table_even_row">
            <td <% if @ts3_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>TS3</b></td>
            <td <% if @ts3_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @ts3_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @ts3_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="ts3_button" onclick="process_script(3 , <%= @ts3_value.to_i %>);"> </td>
		</tr>
		<tr class="table_odd_row">
            <td <% if @ts4_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>TS4</b></td>
            <td <% if @ts4_value.to_i == 1 %> class="text_run"<% else %> class="text_stop" <% end %> align="CENTER"><b>  <%= @ts4_status.to_s %></b>&nbsp; </td>
			<td width="10%" align="CENTER"><img style="cursor:pointer;" <% if @ts4_value.to_i == 1 %> src="/images/start.png" <% else %> src="/images/stop.gif" <% end %> width="12" id="ts4_button" onclick="process_script(4 , <%= @ts4_value.to_i %>);"> </td>
		</tr>
	</table>
	</td>
</tr>	
</table>


