<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:8%;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
.table_main_version, .table_child_version
{
	border-bottom:0px; 
	margin-top:0px; 
	margin-bottom: 0px;
	background-color:#FFFFFD;
    border-color:#CDCCCC;
	border-collapse:collapse;
	padding:2px;
	margin-left:20px; 
}
.plus_minus
{
	cursor:pointer;
	height:11px; 
	margin-right:5px;
	float:left;
	margin-left:5px;
}
.table_child_version
{
	display:none;
	width:699px;
}

</style>

<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="process" class="submenu-nonactive" href="/<%= controller.controller_name%>/index" onclick="show_process();">Process Management</a> | <a id="upgrade_version" class="submenu-nonactive" href="#" onclick="show_upgrade_version();">Upgrade/Version Control</a> | <a id="log_viewer" class="submenu-nonactive" href="/<%= controller.controller_name%>/log_viewer" onclick="show_log();">Log Viewer</a></td>
					</tr>
				</table></td>
			  </tr>		  

				<tr class="text_filter">    
				 <!-- viet cac filter tai day -->
				</tr>
			  </table>
		</div>
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> 

   </div> 
   <div class="lm_center lm_center2">
		<div id="upgrade_filter" style="color:#ffffff; font-weight:bold; margin-left:20px;">
			<span style="font-size:11pt;">Upgrade Info</span><br/><br/>
			<span style="font-size:10pt;">Date:</span>
			<input style="color:#000000; margin-left:100px; width:70px;" type="text" id="version" onkeydown="ClearText();" value="" onkeypress="return isNumberKey(event)" />
			<label id="labelDate" style="margin-left:10px;"> </label>
			<br/><br/>
			<span style="font-size:10pt;">Module:</span>
			<select onchange="module_for_tt();" id="module" style="margin-left:83px; width:120px;">
				<option value="as">AS</option>
				<option value="pm">PM</option>
				<option value="tt">TT</option>
				<option value="ts1">TS1</option>
				<option value="ts2">TS2</option>
				<option value="ts3">TS3</option>
				<option value="ts4">TS4</option>
				<option value="allts">All TSs</option>
			</select><br/><br/>
			<span style="font-size:10pt;">Trader:</span>
			<select onchange="trader_for_tt();" id="trader" style="margin-left:88px; width:120px;">
				<option value="nick">Nick</option>
				<option value="mark">Mark</option>
				<option value="bill">Bill</option>
				<option value="chris">Chris</option>
				<option value="larion">Larion</option>
			</select>
			<br/><br/>
			<div style="margin-bottom:13px;">
				<span style="font-size:10pt; vertical-align:top;">Note:</span>
				<textarea style="margin-left: 100px; vertical-align:top ;" id="note" value="" rows="3"></textarea>
				<input style="margin-left: 10px; margin-top: 36px;" type="button" width=45% value="  Save   " id="btnEdit" onclick="modify_note();"></input>

			</div>
			<span style="font-size:10pt;">Re-start process:</span>
				<input style="margin-left:40px;" type="radio" name ="restart_process" value="yes" checked="true"> Yes</input>
				<input style="margin-left:5px;" type="radio" name ="restart_process" value="no"> No</input>
			<br/><br/>
			<input style="margin-left: 134px;" type="button" value=" Upgrade" id="btnSubmit" onclick="process_upgrade();"></input>
		</div>
		<div id="server_management_upgrade_version" style="width:100%; background:transparent;"> 
		</div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute; background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
<script language="javascript">
  window.onload = function(e){
 
    page1 = document.getElementById("server_management1");
    swap(page1);
	  $("upgrade_version").className = "submenu-active";
    //document.getElementById('start_time').onchange=function(el){};
    //document.getElementById('end_time').onchange=function(el){};
	  show_upgrade_version();
  }
  /*********************************************************************************
   * Method name 		: show_upgrade_version
   * Input				: 
   * Output			    :
   * Date created		: 
   * Developer			: KhanhTT
   * Description		: methed to show upgrade version
  **********************************************************************************/
  function show_upgrade_version()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'

		};
	$("btnEdit").disabled = true;
	var url = "/server_management/show_upgrade_version" ;
	new Ajax.Updater('server_management_upgrade_version',url,{parameters: param, method: "GET", evalScripts:true,
						onComplete:function(){
								//refresh menu side bar
								refresh_menu_data();
							}});
  }
   
  	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
		};
		var url = "/server_management/menu_refresh";
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
 

  //Function page_view
  function page_view()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'

		};
	$("btnEdit").disabled = true;
	var url = "/server_management/show_upgrade_version" ;
	new Ajax.Updater('server_management_upgrade_version',url,{parameters: param, method: "GET", evalScripts:true});
  }

  function show_hide(id){
	document.getElementById(id).style.display=(document.getElementById(id).style.display=='block'?'none':'block');
	var z=document.getElementById('main_'+id.slice(-2));
	if(z.src.indexOf("plus.gif") != -1)
			z.src='/images/minus.gif';
	else
			z.src='/images/plus.gif';
  }
	function show_message(str)
	{
			var valLab = document.getElementById("labelDate");
			valLab.innerHTML = str;
	}
  
  function process_upgrade()
	{

		var run = "";
		var ver_t = document.getElementById("version").value;
		var module_t = document.getElementById("module").value.toUpperCase();
		if (document.getElementById("version").value == '')
			{
				show_message('This information is required');
			}
		else
		{
			 if (module_t =='ALLTS')
				module_t = 'All TSs';
			 Ext.MessageBox.confirm('Upgrade Message', 'Do you want to upgrade ' + module_t + ' with version ' + ver_t + '?', function(btn){
				  if(btn=="yes"){
				  
					please_wait();
					for (var i=0; i < document.getElementsByName("restart_process").length;i++)
					{
						if (document.getElementsByName("restart_process")[i].checked)
						{
							run = document.getElementsByName("restart_process")[i].value;
						}
					}
					show_message('');
					var param = {
						authenticity_token: '<%= form_authenticity_token %>',
						version: document.getElementById("version").value,
						module: document.getElementById("module").value,
						trader: document.getElementById("trader").value, 
						run: run,
						note: document.getElementById("note").value 

					};
					var url = "/server_management/process_upgrade";
					new Ajax.Request(url,
					{
						asynchronous:true, 
						parameters:param,              
						onComplete:function(e){
							show_upgrade_version();
							$('please_wait').update("");
							set_default_value();
						}});
				  }
				});
		}


	}

	function show_msg_result(str)
	{
		 Ext.MessageBox.alert('Upgrade Result', str , function(btn){
		  if(btn=="yes"){		 }
		});
	}

	function set_default_value()
	{
		$("version").disabled = false;
		$("trader").disabled = false;
		$("module").disabled = false;
		$("btnSubmit").disabled = false;
		document.getElementsByName("restart_process")[0].disabled = false;
		document.getElementsByName("restart_process")[1].disabled = false;
		document.getElementById("version").value = '';
		document.getElementById("trader").value = 'nick';
		document.getElementById("module").value = 'as';
		document.getElementById("note").value = '';
		document.getElementsByName("restart_process")[0].checked = "true";
	}
	function update_value(ver , module)
	{
		$("version").disabled = false;
		$("trader").disabled = false;
		$("module").disabled = false;
		$("btnSubmit").disabled = false;
		document.getElementsByName("restart_process")[0].disabled = false;
		document.getElementsByName("restart_process")[1].disabled = false;
		document.getElementById("note").value = '';
		var txtbox = document.getElementById("version");
		var txtmodule = document.getElementById("module");
		txtbox.value = ver;
		txtmodule.value = module;
		document.getElementById("labelDate").innerHTML = '';
	}
	function isNumberKey(evt)
    {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	function ClearText()
	{
		document.getElementById("labelDate").innerHTML = '';
	}

	function please_wait()
	{
		var pos = $('upgrade_filter').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top - 20;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	function module_for_tt()
	{
		 var obj = $("module");
		 var trader = $("trader");
		  if (obj.options[obj.selectedIndex].value == "tt")
		  {
				$("trader").value = 'larion';
                document.getElementsByName("restart_process")[0].disabled = true;
				document.getElementsByName("restart_process")[1].disabled = true;
				$("btnSubmit").value = ' Submit ';
				 if (trader.options[trader.selectedIndex].value == "larion")
					$("btnSubmit").disabled = false;
          }
		  else
		  {
			  document.getElementsByName("restart_process")[0].disabled = false;
			  document.getElementsByName("restart_process")[1].disabled = false;
			  $("btnSubmit").value = 'Upgrade';
			    if (trader.options[trader.selectedIndex].value == "larion")
				{
					document.getElementsByName("restart_process")[0].disabled = true;
				    document.getElementsByName("restart_process")[1].disabled = true;
					$("btnSubmit").disabled = true;
				}
		  }
	}
	function trader_for_tt()
	{
		 var obj = $("trader");
		 var module = $("module");
		 if (module.options[module.selectedIndex].value == "tt")
		 {
			$("trader").value = 'larion';
		 }
		 if (obj.options[obj.selectedIndex].value == "larion")
		 {
                document.getElementsByName("restart_process")[0].disabled = true;
				document.getElementsByName("restart_process")[1].disabled = true;
				 if (module.options[module.selectedIndex].value == "tt")
					$("btnSubmit").disabled = false;
				 else
				    $("btnSubmit").disabled = true;
         }
		 else
		 {
			  document.getElementsByName("restart_process")[0].disabled = false;
			  document.getElementsByName("restart_process")[1].disabled = false;
			  $("btnSubmit").disabled = false;
		 }
	}
	function show_trader_note( version , module, trader , note )
	{
		note = note.replaceAll("\n","\\n");
		note = note.replaceAll("</br>","\n");
		note = note.replaceAll("&#39;","'");




		document.getElementById("version").value = version;
		document.getElementById("trader").value = trader;
		document.getElementById("module").value = module;
		document.getElementById("note").value = note;
		$("btnEdit").disabled = false;
		$("version").disabled = true;
		$("trader").disabled = true;
		$("module").disabled = true;
		$("btnSubmit").disabled = true;
		document.getElementsByName("restart_process")[0].disabled = true;
		document.getElementsByName("restart_process")[1].disabled = true;
	}

	function modify_note()
	{
		var param = {
						authenticity_token: '<%= form_authenticity_token %>',
						version: document.getElementById("version").value,
						module: document.getElementById("module").value,
						trader: document.getElementById("trader").value, 
						note: document.getElementById("note").value 

		};

		var url = "/server_management/modify_note";
		new Ajax.Request(url,
		{
						asynchronous:true, 
						parameters:param,              
						onComplete:function(e){
							show_upgrade_version();
							$('please_wait').update("");
							set_default_value();
		}});
	}
		// Replaces all instances of the given substring.
	String.prototype.replaceAll = function(strTarget, // The substring you want to replace 
	strSubString // The string you want to replace in.
	){
	var strText = this;
	var intIndexOfMatch = strText.indexOf( strTarget );
	 
	// Keep looping while an instance of the target string
	// still exists in the string.
	while (intIndexOfMatch != -1){
	// Relace out the current instance.
	strText = strText.replace( strTarget, strSubString )
	 
	// Get the index of any next matching substring.
	intIndexOfMatch = strText.indexOf( strTarget );
	}
	 
	// Return the updated string with ALL the target strings
	// replaced out with the new substring.
	return( strText );
}
</script>