<%
  # When Launch type is All
  if @launch_type == 0
    #Declare variables to store the value of generated CSV strings
    entry_data_csv = ""
    exit_date_csv = ""
    ts_name = ""
    entry_exit = @summary_fill_rate["entry_exit"] 
    launch_filter = @ecn_launch_filter
    CreateEntryXMLFile(@uc.ts.to_s)
    CreateExitXMLFile(@uc.ts.to_s)
    ts_list_temp = ts_list
    number_ts = ts_list_temp.size - 2
    i = 0
    check_week = -1
    check_week1 = -1
    entry_exit["all_ts"].each do |item|
      if @step == 5 || @step == 15 || @step == 30 || @step == 60
        entry_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
        exit_date_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
      elsif @step == 91
        entry_data_csv << item.date.to_s + ";"
        exit_date_csv << item.date.to_s + ";"
      elsif @step == 92 
        entry_data_csv << "Week #{item.week_num};"
        exit_date_csv << "Week #{item.week_num};"
      elsif @step == 93
        entry_data_csv <<  "Month #{item.month_num};"
        exit_date_csv <<  "Month #{item.month_num};"
      end
      # (0..8) -> 9 TS. Return index of TS
      (0..number_ts).each do |ts|
        ts_name = "ts" + ts_list_temp[ts+1][1].to_s
        entry_data_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_total).to_s + ";"
        exit_date_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_total).to_s + ";"
      end
      entry_data_csv << get_percent(entry_exit["all_ts"][i].entry_filled, entry_exit["all_ts"][i].entry_total).to_s + "\\n"
      exit_date_csv << get_percent(entry_exit["all_ts"][i].exit_filled, entry_exit["all_ts"][i].exit_total).to_s + "\\n"    
      i += 1
    end   
    entry_data_csv = ";#;#;#;#;#;#;#;#;#;#" if entry_data_csv ==""
    exit_date_csv =  ";#;#;#;#;#;#;#;#;#;#" if exit_date_csv ==""
  else
    #Declare variables to store the value of generated CSV strings
    launch_entry_data_csv = ""
    launch_exit_data_csv = ""
    ts_name = ""
    launch_filter = @ecn_launch_filter
    launch_entry_ecn = @summary_fill_rate["launch_entry"]
    launch_exit_ecn = @summary_fill_rate["launch_exit"]
    CreateLaunchEntryExitXML(@uc.ts.to_s,@ecn_launch_filter, "Entry","launch_entry_fill_rate_fr.xml", "Time")
    CreateLaunchEntryExitXML(@uc.ts.to_s,@ecn_launch_filter, "Exit","launch_exit_fill_rate_fr.xml", "Time")
    ts_list_temp = ts_list
    launch_list_temp = launch_type_list
    number_ts = ts_list_temp.size - 2
    i = 0
    # Launch Entry
    launch_entry_ecn["all_ecn_all_ts"].each do |item|
      if @step == 5 || @step == 15 || @step == 30 || @step == 60
        launch_entry_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
      #1 day
      elsif @step == 91
        launch_entry_data_csv << item.date.to_s + ";"
      elsif @step == 92
        launch_entry_data_csv <<  "Week #{item.week_num};"
      elsif @step == 93
        launch_entry_data_csv <<   "Month #{item.month_num};"
      end
      # (0..8) -> 9 TS. Return index of TS
      launch_list_temp.each do |ecn|
        ecn_name = ""
        next if ecn[1].to_i == 0 
        ecn_name = ecn[0].downcase
        (0..number_ts).each do |ts|
          ts_name = ecn_name + "_ts" + ts_list_temp[ts+1][1].to_s
          launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].total).to_s + ";"
        end
        ecn_name_all_ts = ecn_name + "_all_ts"
        launch_entry_data_csv << get_percent((launch_entry_ecn[ecn_name_all_ts].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].filled, (launch_entry_ecn[ecn_name_all_ts][i].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].total).to_s + ";"
      end
      (0..number_ts).each do |ts|
        ts_name = "all_ecn_ts" + ts_list_temp[ts+1][1].to_s
        launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].total).to_s + ";"
      end
      launch_entry_data_csv << get_percent((launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].filled, (launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].total).to_s + "\\n"
      i += 1 
    end

    # Launch Exit
    i = 0
    launch_exit_ecn["all_ecn_all_ts"].each do |item|
      if @step == 5 || @step == 15 || @step == 30 || @step == 60
        launch_exit_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
      #1 day
      elsif @step == 91
        launch_exit_data_csv << item.date.to_s + ";"
      elsif @step == 92
        launch_exit_data_csv <<  "Week #{item.week_num};"
      elsif @step == 93
        launch_exit_data_csv <<   "Month #{item.month_num};"
      end
      # (0..8) -> 9 TS. Return index of TS
      launch_list_temp.each do |ecn|
        ecn_name = ""
        next if ecn[1].to_i == 0 
        ecn_name = ecn[0].downcase
        (0..number_ts).each do |ts|
          ts_name = ecn_name + "_ts" + ts_list_temp[ts+1][1].to_s
          launch_exit_data_csv << get_percent((launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].filled, (launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].total).to_s + ";"
        end
        ecn_name_all_ts = ecn_name + "_all_ts"
        launch_exit_data_csv << get_percent((launch_exit_ecn[ecn_name_all_ts].nil? || launch_exit_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_exit_ecn[ecn_name_all_ts][i].filled, (launch_exit_ecn[ecn_name_all_ts].nil? || launch_exit_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_exit_ecn[ecn_name_all_ts][i].total).to_s + ";"
      end
      (0..number_ts).each do |ts|
        ts_name = "all_ecn_ts" + ts_list_temp[ts+1][1].to_s
        launch_exit_data_csv << get_percent((launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].filled, (launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].total).to_s + ";"
      end
      launch_exit_data_csv << get_percent((launch_exit_ecn["all_ecn_all_ts"].nil? || launch_exit_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_exit_ecn["all_ecn_all_ts"][i].filled, (launch_exit_ecn["all_ecn_all_ts"].nil? || launch_exit_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_exit_ecn["all_ecn_all_ts"][i].total).to_s + "\\n"   
      i += 1  
    end
    
    if launch_entry_data_csv == "" then
      launch_list_temp.each do |ecn|
        ts_list_temp.each do |ts|
          launch_entry_data_csv << ";#"
        end
      end
    end
    if launch_exit_data_csv == "" then
      launch_list_temp.each do |ecn|
        ts_list_temp.each do |ts|
          launch_exit_data_csv << ";#"
        end
      end
    end
    
  end
       
%>    

<script type="text/javascript">           
    launch_type = <%=launch_filter%>
    if (launch_type == 0 )
    {
      var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "400", "8", "<%=  @color_config.chart_background %>");
      so.addVariable("path", "/amcharts/libs/amline/");
      so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/entry_fill_rate_fr.xml"));   
      so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
      so.addVariable("chart_data", escape("<%= entry_data_csv %>"));
      so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
      so.addParam("wmode", "opaque"); 
      so.write("flashcontent3");
      
      var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "400", "8", "<%=  @color_config.chart_background %>");
      so.addVariable("path", "/amcharts/libs/amline/"); 
      so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/exit_fill_rate_fr.xml"));   
      so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
      so.addVariable("chart_data", escape("<%= exit_date_csv %>"));
      so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
      so.addParam("wmode", "opaque"); 
      so.write("flashcontent4");
    }
    else
    {
      var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "500", "8", "<%=  @color_config.chart_background %>");
      so.addVariable("path", "/amcharts/libs/amline/");
      so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/launch_entry_fill_rate_fr.xml"));   
      so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
      so.addVariable("chart_data", escape("<%= launch_entry_data_csv %>"));
      so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
      so.addParam("wmode", "opaque"); 
      so.write("flashcontent3");  
      
      var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "500", "8", "<%=  @color_config.chart_background %>");
      so.addVariable("path", "/amcharts/libs/amline/"); 
      so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/launch_exit_fill_rate_fr.xml"));   
      so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
      so.addVariable("chart_data", escape("<%= launch_exit_data_csv %>"));
      so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
      so.addParam("wmode", "opaque"); 
      so.write("flashcontent4");   
    }
    
</script>
