<%
  #Declare variables to store the value of generated CSV strings
  launch_entry_data_csv = ""
  launch_exit_data_csv = ""
  ts_name = ""
  launch_filter = @ecn_launch_filter
  launch_entry_ecn = @summary_fill_rate_by_shares["launch_entry"]
  launch_exit_ecn = @summary_fill_rate_by_shares["launch_exit"]
  CreateLaunchEntryExitXML(@uc.ts.to_s,@ecn_launch_filter, "Entry","launch_entry_fill_rate_by_shares.xml", "Shares")  
  CreateLaunchEntryExitXML(@uc.ts.to_s,@ecn_launch_filter, "Exit","launch_exit_fill_rate_by_shares.xml", "Shares")  
  ts_list_temp = ts_list
  launch_list_temp = launch_type_list
  number_ts = ts_list_temp.size - 2
  i = 0
  launch_entry_ecn["all_ecn_all_ts"].each do |item|
    if @step == 5 || @step == 15 || @step == 30 || @step == 60
      launch_entry_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
    #1 day
    elsif @step == 91
      launch_entry_data_csv << item.date.to_s + ";"
    elsif @step == 92
      launch_entry_data_csv <<  "Week #{item.week_num};"
    elsif @step == 93
      launch_entry_data_csv <<   "Month #{item.month_num};"
    end
    # (0..8) -> 9 TS. Return index of TS
    launch_list_temp.each do |ecn|
      ecn_name = ""
      next if ecn[1].to_i == 0 
      ecn_name = ecn[0].downcase
      (0..number_ts).each do |ts|
        ts_name = ecn_name + "_ts" + ts_list_temp[ts+1][1].to_s
        launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].shares_filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].order_size).to_s + ";"
      end
      ecn_name_all_ts = ecn_name + "_all_ts"
      launch_entry_data_csv << get_percent((launch_entry_ecn[ecn_name_all_ts].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].shares_filled, (launch_entry_ecn[ecn_name_all_ts][i].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].order_size).to_s + ";"
    end
    (0..number_ts).each do |ts|
      ts_name = "all_ecn_ts" + ts_list_temp[ts+1][1].to_s
      launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].shares_filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].order_size).to_s + ";"
    end
    launch_entry_data_csv << get_percent((launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].shares_filled, (launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].order_size).to_s + "\\n"
    i += 1
  end
  i = 0
  launch_exit_ecn["all_ecn_all_ts"].each do |item|
    if @step == 5 || @step == 15 || @step == 30 || @step == 60
      launch_exit_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
    #1 day
    elsif @step == 91
      launch_exit_data_csv << item.date.to_s + ";"
    elsif @step == 92
      launch_exit_data_csv <<  "Week #{item.week_num};"
    elsif @step == 93
      launch_exit_data_csv <<   "Month #{item.month_num};"
    end
    # (0..8) -> 9 TS. Return index of TS
    launch_list_temp.each do |ecn|
      ecn_name = ""
      next if ecn[1].to_i == 0 
      ecn_name = ecn[0].downcase
      (0..number_ts).each do |ts|
        ts_name = ecn_name + "_ts" + ts_list_temp[ts+1][1].to_s
        launch_exit_data_csv << get_percent((launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].shares_filled, (launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].order_size).to_s + ";"
      end
      ecn_name_all_ts = ecn_name + "_all_ts"
      launch_exit_data_csv << get_percent((launch_exit_ecn[ecn_name_all_ts].nil? || launch_exit_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_exit_ecn[ecn_name_all_ts][i].shares_filled, (launch_exit_ecn[ecn_name_all_ts].nil? || launch_exit_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_exit_ecn[ecn_name_all_ts][i].order_size).to_s + ";"
    end
    (0..number_ts).each do |ts|
      ts_name = "all_ecn_ts" + ts_list_temp[ts+1][1].to_s
      launch_exit_data_csv << get_percent((launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].shares_filled, (launch_exit_ecn[ts_name].nil? || launch_exit_ecn[ts_name][i].nil?) ? 0 : launch_exit_ecn[ts_name][i].order_size).to_s + ";"
    end
    launch_exit_data_csv << get_percent((launch_exit_ecn["all_ecn_all_ts"].nil? || launch_exit_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_exit_ecn["all_ecn_all_ts"][i].shares_filled, (launch_exit_ecn["all_ecn_all_ts"].nil? || launch_exit_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_exit_ecn["all_ecn_all_ts"][i].order_size).to_s + "\\n"
    
    i += 1
  
  end

  if launch_entry_data_csv == "" then
    launch_list_temp.each do |ecn|
      ts_list_temp.each do |ts|
        launch_entry_data_csv << ";#"
      end
    end
  end
  if launch_exit_data_csv == "" then
    launch_list_temp.each do |ecn|
      ts_list_temp.each do |ts|
        launch_exit_data_csv << ";#"
      end
    end
  end
  
%>    

<script type="text/javascript">    
    launch_type = <%=launch_filter%>
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "450", "8", "<%=  @color_config.chart_background %>"); 
    so.addVariable("path", "/amcharts/libs/amline/");
    so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/launch_entry_fill_rate_by_shares.xml"));   
    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
    so.addVariable("chart_data", escape("<%= launch_entry_data_csv %>"));
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.addParam("wmode", "opaque"); 
    so.write("flashcontent_shares");  
    
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "450", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amline/"); 
    so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/launch_exit_fill_rate_by_shares.xml"));   
    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
    so.addVariable("chart_data", escape("<%= launch_exit_data_csv %>"));
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.addParam("wmode", "opaque"); 
    so.write("flashcontent_shares_exit");

</script>
