<%= javascript_include_tag 'swfobject' %>
<%
	iso_order_filter = [["All", 0],["ISO", 1], ["Non-ISO",2]]
%>
<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:90px;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
		<table border="0" cellspacing="0" cellpadding="1" style="width:100%;">
		  <tr>
			<td >
			  <table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr class="text_filter">
					<td align="left">
						<a id="index" class="submenu-nonactive" href="#" onclick="load_charts();">Entry/Exit/Order Type</a> | <a id="index2" class="submenu-nonactive" href="/<%= controller.controller_name%>/index2">Launch/Entry</a> | <a id="index3" class="submenu-nonactive" href="/<%= controller.controller_name%>/index3">Fill Rate by Launch</a> | <a id="fill_rate_by_shares" class="submenu-nonactive" href="/<%= controller.controller_name%>/fill_rate_by_shares">Fill Rate by Shares</a>
					</td>
				</tr>
			  </table>
			</td>
		  </tr>		  
		  <tr>
			<td align="CENTER" style="width:100%;">        
					<table border="0" cellspacing="1" cellpadding="1">
					<tr > 
					<td align="CENTER">
						<table border="0" cellspacing="2" cellpadding="1"><tr class="text_filter">
						<td>
							<span id="lbl_time_from">Time From:</span>
							<input id="trade_start_time" name="trade_start_time" type="text" size="6" maxlength="5" onkeydown ="getEnterKey(event)" onkeypress="return isTimeNumber(event)" class="txt_number" value="<%=@uc.trade_start_time%>" >
							<span id="lbl_time_to">To:</span>
							<input id="trade_end_time" name="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown ="getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">
						</td>
						<td align="CENTER">Date From:
							<input readonly="readonly" value="<%= @uc.start_time.strftime("%m/%d/%Y") %>" name="start_time" id="start_time" size="10"  type="text" onchange="check_date_and_step_type(this)"> <img src="/images/calenda.gif" alt="calendar"  name="ical1" width="20" align="ABSBOTTOM"  id="ical1" /> 
						</td>

						<td align="CENTER">To:
							<input readonly="readonly" value="<%= @uc.end_time.strftime("%m/%d/%Y") %>" name="end_time" id="end_time" size="10"  type="text" onchange="check_date_and_step_type(this)"> <img src="/images/calenda.gif" alt="calendar"  name="ical2" width="20" align="ABSBOTTOM"  id="ical2" /> 
						</td>
						</tr></table>
					</td>
					</tr>
					<tr>
					<td>
						<table border="0" cellspacing="2" cellpadding="1"><tr  class="text_filter">
						<td class="trade-servers-td">
							<div class="btn-group" id="btn-group">
								<span class="left margin-label-td">Trade Server:</span>
								<%= render :partial => 'layouts/multi_trade_servers_selection', :locals => {:list_trade_servers => ts_list[1..(ts_list.size-1)] } %>
							</div>
						</td>
						<!-- <td >Trade Server:
							<select id="ts_filter" name="ts_filter" onchange="" class="cmbx_filter_ts">
							  <%= options_for_select(ts_list, @uc.ts.to_s ) %>
							</select>      
						</td> -->
						<td >ECN:
							<select id="ecn_filter"  style="width:125px;" name="ecn_filter" onchange="" class="cmbx_filter_step">
							  <%= options_for_select(ecn_entry_fill_rates, @uc.ecn_entry.to_i ) %>
							</select>      
						</td>
							<td >Entry/Exit:
							<select id="entry_exit_id" name="entry_exit_id" onchange="" class="cmbx_filter_entry_exit">
							  <%= options_for_select(entry_exit, @uc.entry_exit.to_i ) %>
							</select>      
						</td>
						<td >Side:
							<select id="side_id" name="side_id" onchange="" class="cmbx_filter_entry_exit">
							  <%= options_for_select(buy_sell_indicator, @uc.side.to_i ) %>
							</select>      
						</td>
						<td >ISO Order:
							<select id="iso_order_id" name="iso_order_id" onchange="" class="cmbx_filter_entry_exit" style="width:95px;">
							  <%= options_for_select(iso_order_filter, @iso_order_type.to_i ) %>
							</select>      
						</td>
						<td >Step:
							<select id="step_type" name="step_type" onchange="" class="cmbx_filter_step" >
							  <%= options_for_select(step_type, @uc.step_type.to_i ) %>
						  </select>      
						</td>
						<td  align="right"><input name="submit" type="button" value="   Apply   " onclick="load_charts()"></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="btnReset" type="button" value="  Reset  " id="btnReset" onclick="reset_filter();">
						</td>
					    </tr></table>
					</td></tr>
					</table>
				</form>	        
			</td>

		  </tr>
		 </table>
		</div>
   </div><!--end top2-->
   <!--add code here -->

   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
		<div id="chart_container" style="width:100%;"> </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>
<!--<%= javascript_include_tag "prototype" %> -->

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
   
   window.onload=function(el){


	Calendar.setup({
        inputField     :    "start_time",	// id of the input field
        ifFormat       :   '%m/%d/%Y',      // format of the input field
        button         :    "ical1",		// trigger for the calendar (button ID)
        align          :    "Bl",			// alignment (defaults to "Bl")
        singleClick    :    true
    });
  
	Calendar.setup({
        inputField     :    "end_time", 
        ifFormat       :    '%m/%d/%Y',
        button         :    "ical2",
        align          :    "Bl",
        singleClick    :    true
    });

	page1 = document.getElementById("fill_rate1")
	swap(page1);

	// Get params when click in fill rate
    var paramsTS = '<%= params[:ts] ? params[:ts] : "" %>';
    setTSfromParams(paramsTS);

	$("index").className = "submenu-active";

	check_date_and_step_type(document.getElementById("start_time"));
	load_charts();		//Call this function to load charts on the first loading
	//alert(window.innerWidth);

	}
	//function please wait
	function please_wait()
	{
		var pos = $('chart_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
            start_time: document.getElementById("start_time").value,
            end_time:document.getElementById("end_time").value
		};
		var url = "/fill_rate/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
	function load_charts()
	{
		check_time();	//call function to check start and end time input by users
		please_wait();
		var params={
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			ecn_entry: document.getElementById("ecn_filter").value,
			// ts: document.getElementById("ts_filter").value,
			ts: getTradeServers(), // LuuNN: multi trade servers selections
			entry_exit: document.getElementById("entry_exit_id").value,
			side: document.getElementById("side_id").value,
			iso_order: document.getElementById("iso_order_id").value,
			step_type: document.getElementById("step_type").value,
			date_range: date_range()
		};
		var url= "/fill_rate/index_ajax";
		new Ajax.Updater("chart_container", url, {parameters: params, method: "GET", evalScripts:true,
					onComplete:function(){$('please_wait').update("");
										//refresh menu side bar
										refresh_menu_data();
									}});
	}
	function load_charts_by_ecn(ecn_id, ecn_name)
	{
		$('ecn_filter').selected = ecn_name;
		$('ecn_filter').value = ecn_id;
		check_time();	//call function to check start and end time input by users
		please_wait();
		var params={
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			ecn_entry: ecn_id,
			// ts: document.getElementById("ts_filter").value,
			ts: getTradeServers(), // LuuNN: multi trade servers selections
			step_type: document.getElementById("step_type").value,
			date_range: date_range()
		};
		var url= "/fill_rate/index_ajax";
		new Ajax.Updater("chart_container", url, {parameters: params, method: "GET", evalScripts:true,
					onComplete:function(){$('please_wait').update("");
										//refresh menu side bar
										refresh_menu_data();
									}});
	}

	function link_to_trade_view(ecn_filter, start_time, end_time)
	{
		if(start_time == end_time)
		{
			window.location = "/trade_view?ecn_filter=" + ecn_filter + "&ts=" + getTradeServers();
		}
		else{
			// Get params when click in fill rate
			var paramsTS = '<%= params[:ts] ? params[:ts] : "" %>';
			setTSfromParams(paramsTS);
			//alert("Viewing Trade Output for multiple dates is not supported.");
			Ext.MessageBox.alert("Link to Trade View", "Viewing Trade View for multiple dates is not supported.");
		}
	   
	}

	function load2(code) {

		var params={
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			step_type: document.getElementById("step_type").value,
			date_range: date_range()
		};

		$("chart_container").innerHTML = "";
		var url= "/fill_rate/index_ajax";
		new Ajax.Updater("chart_container", url, {parameters: params, method: "GET", evalScripts:true,
					onComplete:function(){$('please_wait').update("");
										//refresh menu side bar
										refresh_menu_data();
									}});
	}

	function check_time()
	{
		var _start_time = document.getElementById("trade_start_time").value;
		var _end_time = document.getElementById("trade_end_time").value;

		var start_time_arr = _start_time.split(":");
		var end_time_arr = _end_time.split(":");

		/* Check start time */
		if (_start_time == "")
		{
			document.getElementById("trade_start_time").value = "6:00";
		}
		else
		{
			if (start_time_arr.length==1)
			{

				if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
				{
					 document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
				}
				else if (start_time_arr[0]<0 || start_time_arr[0]>23)
				{
					document.getElementById("trade_start_time").value = "6:00";
				}
			}
			else if (start_time_arr.length==2)
			{

				if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
					document.getElementById("trade_start_time").value = "6:00";
				else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
						document.getElementById("trade_start_time").value = "6:00";
					else if (start_time_arr[0] == "")
						document.getElementById("trade_start_time").value = "6:00";
			}
		}

		/* Check end time */
		if (_end_time == "")
		{
			document.getElementById("trade_end_time").value = "19:00";
		}
		else
		{
			if (end_time_arr.length==1)
			{
				if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
				{
					 document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
				}
				else if (end_time_arr[0]<0 || end_time_arr[0]>23)
				{
					document.getElementById("trade_end_time").value = "19:00";
				}
			}
			else if (end_time_arr.length==2)
			{
				if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
					document.getElementById("trade_end_time").value = "19:00";
				else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
						document.getElementById("trade_end_time").value = "19:00";
					else if (end_time_arr[0] == "")
						document.getElementById("trade_end_time").value = "19:00";
			}
		}


	}

	function check_date_and_step_type(el)
	{
		//Calculate number of days between start_date and end_date 
		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");

		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);

		if (start > end){
				if(el.id == "start_time"){
						_end_date.value = _start_date.value;
				}else{
						_start_date.value = _end_date.value;
				}
		}

		check_time();
		var period_days = cal_date_range();

		//Check to load default dynamic step types
/*		if (period_days>90)    //>3 months
		{
			//Default step is 1 week
			var optionStr = "<option value='91' selected>1 Day</option><option value='92' selected>1 Week</option><option value='93'>1 Month</option>";
			document.getElementById("step_type").innerHTML = optionStr;
		}
		else if (period_days>14) //>1-3 months
		{
			//Default step is 1 day
			var optionStr = "<option value='60'>1 Hour</option><option value='91' selected>1 Day</option><option value='92'>1 Week</option><option value='93'>1 Month</option>";
			document.getElementById("step_type").innerHTML = optionStr;
		}
		else if (period_days>7)
		{
			//Default step is 1 hour
			var optionStr = "<option value='30'>30 Minutes</option><option value='60' selected>1 Hour</option><option value='91'>1 Day</option><option value='92'>1 Week</option><option value='93'>1 Month</option>";
			document.getElementById("step_type").innerHTML = optionStr;
		}

		else if (period_days>2)
		{
			//Default step is 15 minutes
			var optionStr = "<option value='5'>5 Minutes</option><option value='15' selected>15 Minutes</option><option value='30'>30 Minutes</option><option value='60'>1 Hour</option><option value='91'>1 Day</option><option value='92'>1 Week</option><option value='93'>1 Month</option>";
			document.getElementById("step_type").innerHTML = optionStr;
		}
		else
		{
			//Default step is 5 minutes
			var optionStr = "<option value='5' selected>5 Minutes</option><option value='15'>15 Minutes</option><option value='30'>30 Minutes</option><option value='60'>1 Hour</option><option value='91'>1 Day</option><option value='92'>1 Week</option><option value='93'>1 Month</option>";
			document.getElementById("step_type").innerHTML = optionStr;
		}

*/
	}

	function cal_date_range()
	{
		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");

		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);

		var period_days = (end - start)/(1000*60*60*24);

		var current_step = document.getElementById("step_type").value;
		if (start == end && current_step != 15)
		{
			document.getElementById("step_type").value = 15;
		}
		else if (period_days >= 1 && current_step != 91)
		{
			document.getElementById("step_type").value = 91;
		}

		return period_days;
	}

	 function date_range() {
        var _start_date = document.getElementById("start_time");
        var _end_date = document.getElementById("end_time");
        var start = Date.parse(_start_date.value);
        var end = Date.parse(_end_date.value);
        var period_days = (end - start) / (1000 * 60 * 60 * 24);
        return period_days;
    }


	function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			load_charts();
		}
		return;
	}

	function isTimeNumber(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

		if (charCode == 58)
            return true;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }

	// Reset filter
	function reset_filter()
	{

		document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("end_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("trade_start_time").value = "2:00";
		document.getElementById("trade_end_time").value = "19:00";
		// document.getElementById("ts_filter").value = "0";
		clear_selection(); // LuuNN: multi trade servers selections
		document.getElementById("ecn_filter").value = "99";
		document.getElementById("entry_exit_id").value = "1";
		document.getElementById("side_id").value = "3";
		document.getElementById("iso_order_id").value = "0";
		var _start_date = document.getElementById("start_time");
		var _end_date = document.getElementById("end_time");
		var start = Date.parse(_start_date.value);
		var end = Date.parse(_end_date.value);
		var period_days = (end - start)/(1000*60*60*24);
		var current_step = document.getElementById("step_type").value;
		if (start == end && current_step != 15)
		{
			document.getElementById("step_type").value = 15;
		}
		else if (period_days >= 1 && current_step != 91)
		{
			document.getElementById("step_type").value = 91;
		}

	}

</script>

<script type="text/javascript" src="/javascripts/ext/ext-default.js"></script> 
