<%= javascript_include_tag 'swfobject' %>

<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:110px;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
		<table border="0" cellspacing="0" cellpadding="3" style="width:100%;">
		  <tr>
			<td >
			  <table width="100%" border="0" cellspacing="1" cellpadding="2">
				<tr class="text_filter">
				  <td align="left">
					<a id="index"  class="submenu-nonactive"  href="/<%= controller.controller_name%>/index">Entry/Exit/Order Type</a> |
					<a id="index2" class="submenu-nonactive"  href="/<%= controller.controller_name%>/index2">Launch/Entry</a> |
					<a id="index3" class="submenu-nonactive"  href="#" onclick="load_charts();">Fill_Rate_by_Launch </a> | <a id="fill_rate_by_shares" class="submenu-nonactive" href="/<%= controller.controller_name%>/fill_rate_by_shares">Fill Rate by Shares</a>
				  </tr>
			  </table>
			</td>
		  </tr>		  
		  <tr>
			<td align="CENTER" style="width:100%;"> 
					<table border="0" cellspacing="1" cellpadding="1">
					<tr class="text_filter">
						<td align="CENTER">Date From:
							<input readonly="readonly" value="<%= @uc.start_time.strftime("%m/%d/%Y") %>" name="start_time" id="start_time" size="10" type="text" onchange="check_date_and_step_type(this)">
							<img src="/images/calenda.gif" alt="calendar" name="ical1" width="20" align="ABSBOTTOM" id="ical1"/>
						</td>
						<td align="CENTER">To:
							<input readonly="readonly" value="<%= @uc.end_time.strftime("%m/%d/%Y") %>" name="end_time" id="end_time" size="10" type="text" onchange="check_date_and_step_type(this)">
							<img src="/images/calenda.gif" alt="calendar" name="ical2" width="20" align="ABSBOTTOM" id="ical2"/>
						</td>
						<td class="trade-servers-td">
							<div class="btn-group" id="btn-group">
								<span class="left margin-label-td">Trade Server:</span>
								<%= render :partial => 'layouts/multi_trade_servers_selection', :locals => {:list_trade_servers => ts_list[1..(ts_list.size-1)] } %>
							</div>
						</td>
						<td >Launch:
							<select id="launch_id" name="launch_id"   style="width:85px;" onchange="">
								<%= options_for_select(launch_type_list, @launch.to_i ) %>
							</select>      
						</td>
						<td >Step:
							<select id="step_type" name="step_type" onchange="" >
								<%= options_for_select(step_type, @uc.step_type.to_i ) %>
							</select>      
						</td>
						<td>
							<input name="submit" type="button" value="   Apply   " onclick="show_data();">
						</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="btnReset" type="button" value="  Reset  " id="btnReset" onclick="reset_filter();">
						</td>
					</tr>	  
					</table>
				</form>	        
			</td>

		  </tr>
		 </table>
		</div>
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
		<div id="flashcontent3"  style="width:100%;" class="chart_container"></div>
		<div id="flashcontent4"  style="width:100%;  class="chart_container"></div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>
<!--<%= javascript_include_tag "prototype" %>-->

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
   
	window.onload=function(el){
	Calendar.setup({
        inputField     :    "start_time",	// id of the input field
        ifFormat       :   '%m/%d/%Y',      // format of the input field
        button         :    "ical1",		// trigger for the calendar (button ID)
        align          :    "Bl",			// alignment (defaults to "Bl")
        singleClick    :    true
    });
  
	Calendar.setup({
        inputField     :    "end_time", 
        ifFormat       :    '%m/%d/%Y',
        button         :    "ical2",
        align          :    "Bl",
        singleClick    :    true
    });

	page1 = document.getElementById("fill_rate1")
	swap(page1);

	// Get params when click in fill rate
    var paramsTS = '<%= params[:ts] ? params[:ts] : "" %>';
    setTSfromParams(paramsTS);

	$("index3").className = "submenu-active";
	check_date_and_step_type(document.getElementById("start_time"));
	show_data();		//Call this function to load charts on the first loading

	}

	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
		};
		var url = "/fill_rate/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}

	//function show data
	function show_data()
	{
		load_entry_exit_fill_rate_chart();
	}

	//function load entry fill rate chart
	function load_entry_exit_fill_rate_chart()
	{
		please_wait();
		var params={
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
            end_time: document.getElementById("end_time").value,
			// ts: document.getElementById("ts_filter").value,
			ts: getTradeServers(), // LuuNN: multi trade servers selections
			step_type: document.getElementById("step_type").value,
			launch_type: document.getElementById("launch_id").value,
			date_range: date_range()
		};

		var url= "/fill_rate/entry_exit_fill_rate_by_time";

		new Ajax.Updater("flashcontent3", url, {parameters: params, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");refresh_menu_data();}});
	}

	//Function please_wait
	function please_wait()
	{
		var pos = $('flashcontent3').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top - 20;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}

	 function check_date_and_step_type(el) {
        //Calculate number of days between start_date and end_date
        var _start_date = document.getElementById("start_time");
        var _end_date = document.getElementById("end_time");
        var start = Date.parse(_start_date.value);
        var end = Date.parse(_end_date.value);
        if (start > end) {
            if (el.id == "start_time") {
                _end_date.value = _start_date.value;
            }
            else {
                _start_date.value = _end_date.value;
            }
        }
       
        var period_days = cal_date_range();
    }

    function cal_date_range() {
        var _start_date = document.getElementById("start_time");
        var _end_date = document.getElementById("end_time");
        var start = Date.parse(_start_date.value);
        var end = Date.parse(_end_date.value);
        var period_days = (end - start) / (1000 * 60 * 60 * 24);
        var current_step = document.getElementById("step_type").value;
        if (start == end && current_step != 15) {
            document.getElementById("step_type").value = 15;
        }
        else if (period_days >= 1 && current_step != 91) {
            document.getElementById("step_type").value = 91;
        }
        return period_days;
    }

    function date_range() {
        var _start_date = document.getElementById("start_time");
        var _end_date = document.getElementById("end_time");
        var start = Date.parse(_start_date.value);
        var end = Date.parse(_end_date.value);
        var period_days = (end - start) / (1000 * 60 * 60 * 24);
        return period_days;
    }

	 // Reset filter
    function reset_filter() {
		document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
        document.getElementById("end_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
        // document.getElementById("ts_filter").value = "0";
		clear_selection(); // LuuNN: multi trade servers selections
		document.getElementById("launch_id").value = "0";
        var _start_date = document.getElementById("start_time");
        var _end_date = document.getElementById("end_time");
        var start = Date.parse(_start_date.value);
        var end = Date.parse(_end_date.value);
        var period_days = (end - start) / (1000 * 60 * 60 * 24);
        var current_step = document.getElementById("step_type").value;
        if (start == end && current_step != 15) {
            document.getElementById("step_type").value = 15;
        }
        else if (period_days >= 1 && current_step != 91) {
            document.getElementById("step_type").value = 91;
        }
    }
</script>
