<table width="100%" border="0" cellspacing="1" cellpadding="2">
<tr>
  <td width="51%" valign="top" >               
    <table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
    <tbody>
      <tr class="table_trheader">
      <td class="table_tdheader" align= "left"   width="25%">Entry</td>     
      <td class="table_tdheader" align="center"  width="15%">Total</td>
      <td class="table_tdheader" align="center"  width="30%">Success</td>
      <td class="table_tdheader" align="center"  width="30%">Miss</td>
      </tr>
        <% i = 1
        j = 0
        ts_id = params[:ts] ? params[:ts] : "0"
         ecn_list_plus_bzx_smart_route().each{ |k |
          i += 1
        if !k.last then next end
        v = @summary[k[0]]  
        total_entry = (v["entry_succ"].to_i + v["entry_miss"].to_i)                 
        entry_percentage = 0
        entry_percentage_succ = 0
        entry_percentage_miss = 0
        entry_percentage_succ = 100 * v["entry_succ"].to_f / total_entry if total_entry > 0
        entry_percentage_miss = 100 * v["entry_miss"].to_f / total_entry if total_entry > 0
          %>         
      <tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
           <td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Entry&ts=<%= ts_id %>" <% else%> href = "/fill_rate/index2?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Entry','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
          <td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"].to_i + v["entry_miss"].to_i ,",") %> </td>          
          <td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"].to_i,",") %> [<%= number_with_precision(entry_percentage_succ ,2)%>%] </td>
          <td class="text_normal" align="right"><%= number_with_delimiter(v["entry_miss"].to_i,",") %> [<%= number_with_precision(entry_percentage_miss ,2)%>%] </td>
        </tr>
       <%
        j += 1
       }%>   
        <%
        v = @summary["0"]
        total_entry = (v["entry_succ"].to_i + v["entry_miss"].to_i)
        entry_percentage = 0
        entry_percentage_succ = 0
        entry_percentage_miss = 0
        entry_percentage_succ = 100 * v["entry_succ"].to_f / total_entry if total_entry > 0
        entry_percentage_miss = 100 * v["entry_miss"].to_f / total_entry if total_entry > 0               
       %>          
        <tr class="table_even_row" >          
          <td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/index2?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
          <td class="text_normal" align="right">
           <%= number_with_delimiter(v["entry_succ"] + v["entry_miss"] ,",") %>  </td>
          <td class="text_normal" align="right"> 
          <%= number_with_delimiter(v["entry_succ"],",") %>[<%= number_with_precision(entry_percentage_succ ,2)%>%] </td>
          <td class="text_normal" align="right">
          <%= number_with_delimiter(v["entry_miss"],",") %>  [<%= number_with_precision(entry_percentage_miss ,2)%>%] </td>
      </tr> 
    </tbody>
    </table>  
    </td>
    <td valign="top" width="49%">
    <table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
    <tbody>
        <tr class="table_trheader">
          <td class="table_tdheader" align = "left" width="25%">Exit</td>
          <td class="table_tdheader" align="center"  width="15%">Total</td>
          <td class="table_tdheader" align="center"  width="30%">Success</td>
          <td class="table_tdheader" align="center"  width="30%">Miss</td>
        </tr>
      <%
        i = 1
        j = 0
      ecn_list_plus_bzx_smart_route().each{ |k |
        i += 1 
        if !k.last then next end
        v = @summary[k[0]]
        total_exit = (v["exit_succ"] + v["exit_miss"])
        exit_percentage = 0
        exit_percentage_succ = 0
        exit_percentage_miss = 0
        exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
        exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0           
       %>   
      <tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
        <td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Exit&ts=<%= ts_id %>" <% else%> href = "/fill_rate/index2?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Exit','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
        <td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %> </td>
        <td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
        <td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %> [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
       </tr>
       <%
        j += 1
       }%>  
      <%
          v = @summary["0"] 
          total_exit = (v["exit_succ"] + v["exit_miss"]).to_i
          exit_percentage = 0
          exit_percentage_succ = 0
          exit_percentage_miss = 0
          exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
          exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0           
      %>      
      <tr class="table_even_row" >        
        <td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/index2?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
        <td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %>  </td>
        <td class="text_normal" align="right"><%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
        <td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %>  [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
      </tr>                       
      </tbody>
    </table>  
    </td>
  </tr>
</table>  
<%
  #Declare variables to store the value of generated CSV strings
  launch_entry_data_csv = ""
  ts_name = ""
  launch_entry_ecn = @summary_fill_rate["launch_entry"]
  ecn_identifier = @ecn_entry
  launch_indentifier = @ecn_launch_filter
  CreateLaunchEntryExitXML(@uc.ts.to_s,@ecn_launch_filter, "Entry","launch_type_fill_rate.xml", "Time")
  ts_list_temp = ts_list
  number_ts = ts_list_temp.size - 2
  launch_list_temp = launch_type_list
  i = 0
  launch_entry_ecn["all_ecn_all_ts"].each do |item|
    if @step == 5 || @step == 15 || @step == 30 || @step == 60
      launch_entry_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
    #1 day
    elsif @step == 91
      launch_entry_data_csv << item.date.to_s + ";"
    elsif @step == 92
      launch_entry_data_csv <<  "Week #{item.week_num};"
    elsif @step == 93
      launch_entry_data_csv <<   "Month #{item.month_num};"
    end
    # (0..8) -> 9 TS. Return index of TS
    launch_list_temp.each do |ecn|
      ecn_name = ""
      next if ecn[1].to_i == 0 
      ecn_name = ecn[0].downcase
      (0..number_ts).each do |ts|
        ts_name = ecn_name + "_ts" + ts_list_temp[ts+1][1].to_s
        launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].total).to_s + ";"
      end
      ecn_name_all_ts = ecn_name + "_all_ts"
      launch_entry_data_csv << get_percent((launch_entry_ecn[ecn_name_all_ts].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].filled, (launch_entry_ecn[ecn_name_all_ts][i].nil? || launch_entry_ecn[ecn_name_all_ts][i].nil?) ? 0 : launch_entry_ecn[ecn_name_all_ts][i].total).to_s + ";"
    end
    
    (0..number_ts).each do |ts|
      ts_name = "all_ecn_ts" + ts_list_temp[ts+1][1].to_s
      launch_entry_data_csv << get_percent((launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].filled, (launch_entry_ecn[ts_name].nil? || launch_entry_ecn[ts_name][i].nil?) ? 0 : launch_entry_ecn[ts_name][i].total).to_s + ";"
    end
    launch_entry_data_csv << get_percent((launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].filled, (launch_entry_ecn["all_ecn_all_ts"].nil? || launch_entry_ecn["all_ecn_all_ts"][i].nil?) ? 0 : launch_entry_ecn["all_ecn_all_ts"][i].total).to_s + "\\n"
    i += 1
  
  end

  if launch_entry_data_csv == "" then
    launch_list_temp.each do |ecn|
      ts_list_temp.each do |ts|
        launch_entry_data_csv << ";#"
      end
    end
  end

%>    
  <div id="flashcontent4"  style="width:100%;" class="chart_container"><strong>Loading chart...</strong> </div>
  <script type="text/javascript">
  launch_id = <%= launch_indentifier.to_i %>
    // <![CDATA[    
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "500", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amline/");
    so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/launch_type_fill_rate.xml"));
    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
    so.addVariable("chart_data", escape("<%= launch_entry_data_csv %>"));
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
    so.addParam("wmode", "opaque"); 
    //so.addParam("wmode", "transparent");
    so.write("flashcontent4");
    // ]]>
  </script>
