<table width="100%" border="0" cellspacing="1" cellpadding="2">

<tr>
	<td width="51%" valign="top" >						   
		<table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
		<tbody>
			<tr class="table_trheader">
			<td class="table_tdheader" align= "left"   width="25%">Entry</td>
			<td class="table_tdheader" align="center"  width="15%">Total</td>
			<td class="table_tdheader" align="center"  width="30%">Success</td>
			<td class="table_tdheader" align="center"  width="30%">Miss</td>
			</tr>
		  <% i = 1
			j = 0
			ts_id = params[:ts] ? params[:ts] : "0"
			ecn_list_plus_bzx_smart_route().each{ |k |
		    i += 1
					if !k.last then next end
					v = @summary[k[0]]

					total_entry = (v["entry_succ"].to_i + v["entry_miss"].to_i)
					entry_percentage = 0
					entry_percentage_succ = 0
					entry_percentage_miss = 0
					entry_percentage_succ = 100 * v["entry_succ"].to_f / total_entry if total_entry > 0
					entry_percentage_miss = 100 * v["entry_miss"].to_f / total_entry if total_entry > 0
       %>				 
				<tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
					 <td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Entry&ts=<%= ts_id %>" <% else%> href = "/fill_rate/index?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Entry','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
					<td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"].to_i + v["entry_miss"].to_i ,",") %> </td>				   
					<td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"].to_i,",") %> [<%= number_with_precision(entry_percentage_succ ,2)%>%] </td>
					<td class="text_normal" align="right"><%= number_with_delimiter(v["entry_miss"].to_i,",") %> [<%= number_with_precision(entry_percentage_miss ,2)%>%] </td>
		  </tr>

			 <%
				j += 1
			 }%>
				 
			  <%
			  v = @summary["0"]
				total_entry = (v["entry_succ"].to_i + v["entry_miss"].to_i)
				entry_percentage = 0
				entry_percentage_succ = 0
				entry_percentage_miss = 0
				entry_percentage_succ = 100 * v["entry_succ"].to_f / total_entry if total_entry > 0
				entry_percentage_miss = 100 * v["entry_miss"].to_f / total_entry if total_entry > 0

			 %>					 
				<tr class="table_even_row" >
					<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/index?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
					<td class="text_normal" align="right">
				   <%= number_with_delimiter(v["entry_succ"] + v["entry_miss"] ,",") %>  </td>
					<td class="text_normal" align="right"> 
					<%= number_with_delimiter(v["entry_succ"],",") %>[<%= number_with_precision(entry_percentage_succ ,2)%>%] </td>
					<td class="text_normal" align="right">
					<%= number_with_delimiter(v["entry_miss"],",") %>  [<%= number_with_precision(entry_percentage_miss ,2)%>%] </td>
		  </tr>
		</tbody>
		</table>  
		</td>

		<td valign="top" width="49%">
		<table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
		<tbody>
				<tr class="table_trheader">
					<td class="table_tdheader" align = "left" width="25%">Exit</td>
					<td class="table_tdheader" align="center"  width="15%">Total</td>
					<td class="table_tdheader" align="center"  width="30%">Success</td>
					<td class="table_tdheader" align="center"  width="30%">Miss</td>
				</tr>
			<%
			  i = 1
				j = 0 

				ecn_list_plus_bzx_smart_route().each{ |k |
			  i += 1 
				if !k.last then next end
				v = @summary[k[0]]
				total_exit = (v["exit_succ"] + v["exit_miss"])
				exit_percentage = 0
				exit_percentage_succ = 0
				exit_percentage_miss = 0
				exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
				exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0
			 %>
				 
			<tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Exit&ts=<%= ts_id %>" <% else%> href = "/fill_rate/index?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Exit','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %> </td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %> [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			 </tr>
			 <%
				j += 1
			 }%>
			 
	   <%
				  v = @summary["0"]

					total_exit = (v["exit_succ"] + v["exit_miss"]).to_i
					exit_percentage = 0
					exit_percentage_succ = 0
					exit_percentage_miss = 0
					exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
					exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0
			%>
				 
			<tr class="table_even_row" >
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/index?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %>  </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %>  [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			</tr>
			</tbody>
		</table>
		</td>
	</tr>

</table>

<%
	#Declare variables to store the value of generated CSV strings
	entry_data_csv = ""
	exit_date_csv = ""
	order_type_data_csv=""
	ts_name = ""

	entry_exit = @summary_fill_rate["entry_exit"]
	launch_entry_ecn = @summary_fill_rate["launch_entry"]
	order_type = @summary_fill_rate["order_type"]
	ecn_identifier = @ecn_f_id
	isEntry_Exit = @isEntryExit
	side = @side_ind
	CreateEntryExitXMLFile(@uc.entry_exit, @uc.ecn_entry, @uc.ts) # LuuNN modifies to add multi trade servers
	CreateOrderTypeXML(@uc.entry_exit.to_i, @uc.ecn_entry.to_i, @uc.ts, @uc.side.to_i) # LuuNN modifies to add multi trade servers

	ts_list_temp_temp = ts_list
	number_ts = ts_list_temp_temp.size - 2


	i = 0
	if @step == 5 || @step == 15 || @step == 30 || @step == 60

		entry_exit["all_ts"].each do |item|
			entry_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
			exit_date_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
			# (0..8) -> 9 TS. Return index of TS
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				entry_data_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_total).to_s + ";"
				exit_date_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_total).to_s + ";"
			end
			entry_data_csv << get_percent(entry_exit["all_ts"][i].entry_filled, entry_exit["all_ts"][i].entry_total).to_s + "\\n"
			exit_date_csv << get_percent(entry_exit["all_ts"][i].exit_filled, entry_exit["all_ts"][i].exit_total).to_s + "\\n"

			i += 1
		end

		i=0
		order_type["all_ts"].each do |item|
			order_type_data_csv << Time.at(item.time_stamp).strftime("%H:%M") + ";"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].buy_filled, order_type["all_ts"][i].buy_total).to_s + ";"
            (0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].sell_filled, order_type["all_ts"][i].sell_total).to_s + "\\n"

			i+=1
		end

	#1 day
	elsif @step == 91

		entry_exit["all_ts"].each do |item|
			entry_data_csv << item.date.to_s + ";"
			exit_date_csv << item.date.to_s + ";"
			# (0..8) -> 9 TS. Return index of TS
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				entry_data_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_total).to_s + ";"
				exit_date_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_total).to_s + ";"
			end
			entry_data_csv << get_percent(entry_exit["all_ts"][i].entry_filled, entry_exit["all_ts"][i].entry_total).to_s + "\\n"
			exit_date_csv << get_percent(entry_exit["all_ts"][i].exit_filled, entry_exit["all_ts"][i].exit_total).to_s + "\\n"

			i += 1
		end

		i=0
		order_type["all_ts"].each do |item|

			order_type_data_csv << item.date.to_s + ";"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].buy_filled, order_type["all_ts"][i].buy_total).to_s + ";"
            (0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].sell_filled, order_type["all_ts"][i].sell_total).to_s + "\\n"

			i+=1

		end

	elsif @step == 92

		entry_exit["all_ts"].each do |item|
			entry_data_csv << "Week #{item.week_num};"
			exit_date_csv << "Week #{item.week_num};"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				entry_data_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_total).to_s + ";"
				exit_date_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_total).to_s + ";"
			end
			entry_data_csv << get_percent(entry_exit["all_ts"][i].entry_filled, entry_exit["all_ts"][i].entry_total).to_s + "\\n"
			exit_date_csv << get_percent(entry_exit["all_ts"][i].exit_filled, entry_exit["all_ts"][i].exit_total).to_s + "\\n"

			i += 1
		end

		i=0
		order_type["all_ts"].each do |item|

			order_type_data_csv << "Week #{item.week_num};"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].buy_filled, order_type["all_ts"][i].buy_total).to_s + ";"
            (0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].sell_filled, order_type["all_ts"][i].sell_total).to_s + "\\n"

			i+=1

		end

	elsif @step == 93
		entry_exit["all_ts"].each do |item|
			entry_data_csv <<  "Month #{item.month_num};"
			exit_date_csv <<  "Month #{item.month_num};"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				entry_data_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].entry_total).to_s + ";"
				exit_date_csv << get_percent(entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_filled, entry_exit[ts_name][i]==nil ? 0 : entry_exit[ts_name][i].exit_total).to_s + ";"
			end
			entry_data_csv << get_percent(entry_exit["all_ts"][i].entry_filled, entry_exit["all_ts"][i].entry_total).to_s + "\\n"
			exit_date_csv << get_percent(entry_exit["all_ts"][i].exit_filled, entry_exit["all_ts"][i].exit_total).to_s + "\\n"

			i += 1
		end

		i=0
		order_type["all_ts"].each do |item|

			order_type_data_csv <<   "Month #{item.month_num};"
			(0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].buy_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].buy_filled, order_type["all_ts"][i].buy_total).to_s + ";"
            (0..number_ts).each do |ts|
				ts_name = "ts" + ts_list_temp_temp[ts+1][1].to_s
				order_type_data_csv << get_percent(order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_filled, order_type[ts_name][i]==nil ? 0 : order_type[ts_name][i].sell_total).to_s + ";"
			end
			order_type_data_csv << get_percent(order_type["all_ts"][i].sell_filled, order_type["all_ts"][i].sell_total).to_s + "\\n"

			i+=1

		end

	end

	entry_data_csv = ";#;#;#;#;#;#;#;#;#;#" if entry_data_csv ==""
	exit_date_csv =  ";#;#;#;#;#;#;#;#;#;#" if exit_date_csv ==""
	order_type_data_csv = ";#;#;#;#;#;#;#;#;#;#;#;#;#;#;#;#;#;#;#;#" if order_type_data_csv ==""

%>    

<div id="flashcontent1"  style="width:100%;" class="chart_container"><strong>Loading chart...</strong> </div>
  <script type="text/javascript">   
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "320", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amline/");

	//document.write(ecn_identifier);
	ecn_id = <%=ecn_identifier%>
	isEntryExit = <%=isEntry_Exit%>
	side = <%=side%>
	//alert(side);
	so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/entry_exit_fill_rate.xml"));

   
    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
	if (isEntryExit == 1 )
	{
		so.addVariable("chart_data", escape("<%= entry_data_csv %>"));
	}
	else
	{
		so.addVariable("chart_data", escape("<%= exit_date_csv %>"));
	}
    
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
	so.addParam("wmode", "opaque");
	//so.addParam("wmode", "transparent");
    so.write("flashcontent1");

  </script>

   <div id="flashcontent2"  style="width:100%;" class="chart_container"><strong>Loading chart...</strong> </div>
  <script type="text/javascript">
    // <![CDATA[    
    var so = new SWFObject("/amcharts/libs/amline/amline.swf", "amline", "100%", "320", "8", "<%=  @color_config.chart_background %>");
    so.addVariable("path", "/amcharts/libs/amline/");
	so.addVariable("settings_file", escape("/amcharts/settings/ambar_common_settings.xml, /amcharts/settings/fill_rate/order_type_fill_rate.xml"));

    so.addVariable("additional_chart_settings", "<%= @color_config.line_config %>");
    so.addVariable("chart_data", escape("<%= order_type_data_csv %>"));
    so.addVariable("preloader_color", "<%=  @color_config.reloader %>");
	so.addParam("wmode", "opaque");
	//so.addParam("wmode", "transparent");
    so.write("flashcontent2");
    // ]]>
  </script> 
