<table width="100%" border="0" cellspacing="1" cellpadding="2">
	<td valign="top" width="51%">
		<table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
		<tbody>
			<tr class="table_trheader">
				<td class="table_tdheader" align = "left" width="25%">Entry</td>
				<td class="table_tdheader" align="center"  width="15%">Total</td>
				<td class="table_tdheader" align="center"  width="30%">Filled</td>
				<td class="table_tdheader" align="center"  width="30%">Cancelled</td>
			</tr>
			<%
			  i = 1
				j = 0
				ts_id = params[:ts] ? params[:ts] : "0"
			ecn_list_plus_bzx_smart_route().each{ |k |
			  i += 1 
				if !k.last then next end
				v = @summary[k[0]]
				total_exit = (v["entry_succ"] + v["entry_miss"])
				exit_percentage = 0
				exit_percentage_succ = 0
				exit_percentage_miss = 0
				exit_percentage_succ = 100 * v['entry_succ'].to_f / total_exit if total_exit > 0
				exit_percentage_miss = 100 * v['entry_miss'].to_f / total_exit if total_exit > 0
			 %>
				 
			<tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Entry&ts=<%= ts_id %>" <% else%> href = "/fill_rate/fill_rate_by_shares?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Entry','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"] + v["entry_miss"] ,",") %> </td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["entry_miss"],",") %> [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			 </tr>
			 <%
				j += 1
			 }%>
			 
			<%
				v = @summary["0"]
				total_exit = (v["entry_succ"] + v["entry_miss"]).to_i
				exit_percentage = 0
				exit_percentage_succ = 0
				exit_percentage_miss = 0
				exit_percentage_succ = 100 * v['entry_succ'].to_f / total_exit if total_exit > 0
				exit_percentage_miss = 100 * v['entry_miss'].to_f / total_exit if total_exit > 0
			%>		 
			<tr class="table_even_row" >
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/fill_rate_by_shares?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["entry_succ"] + v["entry_miss"] ,",") %>  </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["entry_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["entry_miss"],",") %>  [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			</tr>
		</tbody>
		</table>
	</td>
  	<td valign="top" width="49%">
		<table width="100%" border="1" class="table_normal" cellspacing="1" cellpadding="2">
		<tbody>
			<tr class="table_trheader">
				<td class="table_tdheader" align = "left" width="25%">Exit</td>
				<td class="table_tdheader" align="center"  width="15%">Total</td>
				<td class="table_tdheader" align="center"  width="30%">Filled</td>
				<td class="table_tdheader" align="center"  width="30%">Cancelled</td>
			</tr>
			<%
			  i = 1
				j = 0
				ts_id = params[:ts] ? params[:ts] : "0"
			ecn_list_plus_bzx_smart_route().each{ |k |
			  i += 1 
				if !k.last then next end
				v = @summary[k[0]]
				total_exit = (v["exit_succ"] + v["exit_miss"])
				exit_percentage = 0
				exit_percentage_succ = 0
				exit_percentage_miss = 0
				exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
				exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0
			 %>
				 
			<tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %> href = "/trade_view?ecn_filter=<%= k[2] %>_Exit&ts=<%= ts_id %>" <% else%> href = "/fill_rate/fill_rate_by_shares?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('<%= k[2] %>_Exit','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;"><%= display_ecn(k[2]) %></a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %> </td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %> [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			 </tr>
			 <%
				j += 1
			 }%>
			 
			<%
				v = @summary["0"]
				total_exit = (v["exit_succ"] + v["exit_miss"]).to_i
				exit_percentage = 0
				exit_percentage_succ = 0
				exit_percentage_miss = 0
				exit_percentage_succ = 100 * v['exit_succ'].to_f / total_exit if total_exit > 0
				exit_percentage_miss = 100 * v['exit_miss'].to_f / total_exit if total_exit > 0
			%>		 
			<tr class="table_even_row" >
				<td class="text_normal" align="left"><a class="table_tdlink" <% if @uc.start_time == @uc.end_time then %>  href = "/trade_view?ts=<%= ts_id %>" <% else%> href = "/fill_rate/fill_rate_by_shares?ts=<%= ts_id %>" <% end %> onclick = "link_to_trade_view('0','<%= @uc.start_time %>','<%= @uc.end_time %>'); return false;">Total</a></td>
				<td class="text_normal" align="right"> <%= number_with_delimiter(v["exit_succ"] + v["exit_miss"] ,",") %>  </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_succ"],",") %>[<%= number_with_precision(exit_percentage_succ ,2)%>%] </td>
				<td class="text_normal" align="right"><%= number_with_delimiter(v["exit_miss"],",") %>  [<%= number_with_precision(exit_percentage_miss ,2)%>%] </td>
			</tr>
		</tbody>
		</table>
	</td>
</table>

