<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:60px;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	width:100%;
	overflow:auto;
	
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="0" cellpadding="2">		  
			  <tr>			
				<td align="CENTER" class="text_filter">Date:
						<input readonly="readonly" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>" name="trade_date" id="trade_date" size="10"  type="text" onchange="check_Time(this)">
						
						<img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2"  name="ical2" style="cursor:pointer"/> 
							&nbsp;&nbsp;
				  <input type="button" value="   Apply   " onclick="show_postion_summary();">  &nbsp; <input id="btn_stop_current_trading" type="button" value="Stop Current Trading" onclick="stop_trading(this)" /> </td>			 
			  </tr>
			 </table>
		</div>		
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
		<div id="position_summary_container" style="width:100%;background:transparent;"> </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
	var pe = null;
    window.onload=function(el){
		Calendar.setup({
			inputField     :    "trade_date",
			ifFormat       :    '%m/%d/%Y',
			button         :    "ical2",
			align          :    "B1",
			singleClick    :    true
		});
		
		page1 = document.getElementById("position_summary1");
		swap(page1);
		document.getElementById('trade_date').onchange=function(el){};
        $('btn_stop_current_trading').disabled = true;
     

		show_postion_summary();
	}
  	function please_wait()
	{	
		var pos = $('position_summary_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top - 15;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'			
		};	
		var url = "/position_summary/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
	
    function stop_trading(el){
    //	el.value = "Stopping Current Trading...";
        el.disabled = true;
		new Ajax.Request('/position_summary/stop_trading',
						{asynchronous:true, 
							onComplete:function(e){
                            	
                            }
						 }
			  );//Ajax.Request function
    }
    
    function get_trading_status(){
    	new Ajax.Request('/position_summary/get_trading_status',
						{asynchronous:true, 
							onComplete:function(e){
                            	if(e.responseText == "1"){
                                	$('btn_stop_current_trading').disabled = true;
                                }else{
                                	$('btn_stop_current_trading').disabled = true;
                                }
                            }
						 }
			  );//Ajax.Request function
    }
    
	function show_postion_summary()
	{
		please_wait();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: $("trade_date").value
		};
		var url = "/position_summary/show_position" ;
		new Ajax.Updater('position_summary_container',url,{parameters: param, method: "GET", evalScripts:true,
							onComplete:function(){$('please_wait').update("");
							refresh_menu_data();
								}});		
		
	}	

	function sort_fields(field,dir_name,dir_value)	{		
			please_wait();
			var params = {
				authenticity_token: '<%= form_authenticity_token %>',
				trade_date: $("trade_date").value,
				order_field: field				
			};
			params[dir_name] = dir_value;
			var url = "/position_summary/show_position" ;
			new Ajax.Updater('position_summary_container',url,{parameters: params, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});			

	}
  
</script>
