<table width="100%" border="0" cellspacing="0" cellpadding="2"> <tr><td>
	<table width="100%" border="1" class="table_normal">
      <tr class="table_trheader">
        <td class="table_tdheader"  align="CENTER" width="5%">#</td>
        <td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('symbol','dir0','<%= @dir0 %>'); return false;" href="#">SYMBOL</a></td>
         <td align="CENTER" width="5%"><a class="table_tdheader" onclick="sort_fields('account','dir4', '<%= @dir4 %>'); return false;" href="#">Account</a> </td>
		<td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('net_quantity'); return false;" href="#">Open Qty</a> </td>
        <td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('matched_profit_loss','dir1','<%= @dir1 %>'); return false;" href="#">Net P&L</a> </td>
        <td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('total_market_value'); return false;" href="#">Open Mkt. Value</a> </td>
        <td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('total_quantity','dir2','<%= @dir2 %>'); return false;" href="#">Total Qty</a> </td>
        <td align="CENTER" width="15%"><a class="table_tdheader" onclick="sort_fields('last_update','dir3','<%= @dir3 %>'); return false;" href="#">Last Update </a></td>
      </tr>
	   <tr class="textbold_normal table_even_row">
	    <td colspan="2" align="CENTER"> Total</td>
	    <td align="RIGHT">&nbsp;</td>
		 <td align="RIGHT">&nbsp;</td>
	    <td align="RIGHT"><%=
		if @total[1] >= 0
			 number_to_currency(@total[1],{:unit=>"", :precision=>2, :delimiter => ","})
		 else
			 "(" << number_to_currency(-@total[1],{:unit=>"", :precision=>2, :delimiter => ","}) << ")"
		 end
		  %></td>
	    <td align="RIGHT" "><%= number_to_currency(@total[2], :unit=>"",:precision=>2, :delimiter => ",") %></td>
	    <td align="RIGHT" ><%= number_with_delimiter(@total[0].to_i, ",") %></td>
	    <td align="RIGHT">&nbsp;</td>
	    </tr>
      <% 
	  i = 0
	  @traded_stocks.each{ |stock| 
	  	i += 1
		net_pl = stock.matched_profit_loss - stock.total_fee
	  %>
	 
	  <tr  <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
	    <td class="text_normal" align="right"><%= number_with_delimiter( i , ",") %>&nbsp;&nbsp;</td>
        <td class="text_normal" align="left"><%= stock.symbol %></td>
		<td class="text_normal" align="center"><%= account_mapping[stock.account.to_i] %></td>
        <td class="text_normal" align="RIGHT"><%= 
		if stock.net_quantity.to_i >= 0
			number_with_delimiter(stock.net_quantity.to_i, ",")
		else
			"(" << number_with_delimiter(-stock.net_quantity.to_i, ",") << ")"
		end
		 %></td>
        <td class="text_normal" align="RIGHT"><%=
		if net_pl >= 0
			 number_to_currency(net_pl.to_f,{:unit=>"", :precision=>2, :delimiter => ","})
		 else
			 "(" << number_to_currency(-net_pl.to_f,{:unit=>"", :precision=>2, :delimiter => ","}) << ")"
		 end
		  %></td>
        <td class="text_normal" align="RIGHT"><%= number_to_currency(stock.total_market_value, :unit=>"",:precision=>2, :delimiter => ",") %></td>
        <td class="text_normal" align="RIGHT"><%= number_with_delimiter(stock.total_quantity, ",") %></td>
        <td class="text_normal" align="RIGHT"><%= stock.last_update.strftime("%H:%M:%S") %></td>
      </tr>
	  <%}%>
   </table>
</td></tr></table>
   