<style type="text/css">
.x-btn button, .dialog_content
{
	font: 12px Arial,verdana,helvetica;
}

.row-quarter
{
	background-color: #DDD;
	float: left;
	margin-left: 1px;
	text-align: center;
	width: 120px;
	height: 18px;
	padding-top: 2px;
}

<%
	side_mapping = {"BO"=>"BUY", "BC"=>"BUY", "S " => "SELL", "SS" => "SHORT SELL"}
%>

</style>

<table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-spacing: 1px; border-color: EEEEEE;"> 
<tr>
<td>
		<%
			oid = 0


			@an_order. each { |an_order|
		%>
		<table width="100%" border="1" cellspacing="1" cellpadding="4" class="dialog_content">
			<tr>
				<td width="16%" style="background-color: DDDDDD" > CIOrdID: </td>
				<td width="34%" id="order_id_detail" value="<%= an_order.order_id %>"> <%= an_order.order_id %></td>
				<td width="16%" style="background-color: DDDDDD">Symbol: </td>
				<td width="34%" id="symbol_detail" value="<%= an_order.symbol %>"><%= an_order.symbol %> </td>
			</tr>
			<tr>
				<td style="background-color: DDDDDD"> Action: </td>
				<td id="action_detail" value="<%= an_order.side %>"> <%= side_mapping[an_order.side] %></td>
				<td style="background-color: DDDDDD"> ECN: </td>
				<td id="ecn_detail" value="<%= an_order.ecn %>"><%= display_ecn(an_order.ecn) %> </td>
			</tr>
			<tr>
				<td style="background-color: DDDDDD">Shares: </td>
				<td  id="shares_detail" value="<%= an_order.shares %>"> <%= an_order.shares %></td>
				<td style="background-color: DDDDDD">Price: </td>
				<td id="price_detail" value="<%= an_order.price %>"> <%= number_to_currency(an_order.price.to_f ,{:unit=>"", :precision=>2, :delimiter => ","}) %> </td>
			</tr>
		</table>
		<% 
			oid = an_order.oid.to_i

			}

		%>
</td>
</tr>
</table>
<div style="padding-left: 56px">
<div id="appendDiv" style="display:block;"> 
	<div id="msgLabel" style="display:none; padding-top: 10px;" >
		<div class="row-quarter">Msg Type</div>
		<div class="row-quarter">Shares</div>
		<div class="row-quarter">Price</div>
		<div class="row-quarter" style="text-align: center; width: 50px">Action</div>
	</div>
</div>
</div>

<table width="100%" style="padding-top:4px;">
	<tr >
		<td width="50%" align="right"><input type="button" style="padding: 0 10px; height: 22px;" id="button_add_fill" value="Add Fill" onclick="add_fill()"  class="dialog_content"> </td>
		<td width="50%" align="left"><input type="button" style="padding: 0 10px; height: 22px;" id="button_add_cancel" value="Add Cancel" onclick="add_cancel()" class="dialog_content"> </td>
	</tr>
</table>


