<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:8%;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="trade_break" class="submenu-nonactive" href="/<%= controller.controller_name%>/index">Bulk Trade Break 333</a> |
					  <a id="broken_trade" class="submenu-nonactive" href="#" onclick="show_broken_trade();">CEE Viewer</a>  | <a id="modify_position" class="submenu-nonactive" href="/<%= controller.controller_name%>/position">Modify Positions</a></td>
					</tr>
				</table></td>
			  </tr>		  
				<tr class="text_filter">    
				  <td align="CENTER" valign="BOTTOM">
				  Type:
							<%
								brokentypes=[["Broken",0],["Adjusted",1]]
							%>
						  <select name="brokentype" id="brokentype" maxlength="10" onchange="show_broken_trade();">
							  <%= options_for_select(brokentypes,@brokentype.to_i) %>
						  </select>
					Date:
					<input readonly="readonly" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>" name="trade_date" id="trade_date" size="10"  type="text" onchange="check_Time(this)">
					<img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2"  name="ical2" style="cursor:pointer"/>      
				  &nbsp;&nbsp;
				  <input type="button" value="  Apply  " onclick="show_broken_trade();"></td>
				</tr>
			  </table>
		</div>
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2">
		<div id="utilities_show_broken" style="width:100%; background:transparent;"> 
		</div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<script language="javascript">
  window.onload = function(e){
    Calendar.setup({
      inputField     :    "trade_date",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical2",
      align          :    "B2",
      singleClick    :    true
    });

    page1 = document.getElementById("utilities1");
    swap(page1);
	$("broken_trade").className = "submenu-active";
    document.getElementById('trade_date').onchange=function(el){};
	show_broken_trade();
  }
  //Function show_broken_trade
  function show_broken_trade()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			brokentype: $("brokentype").value
		};

	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function sort_fields
  function sort_fields(field, dir)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			brokentype: $("brokentype").value,
			sort_field: field,
			dir: dir
		};

	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function page_view
  function page_view()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			brokentype: $("brokentype").value,
			page: $("page").value
		};

	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});
  }

  //Function undo_broken
  function undo_broken(id)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			brokentype: $("brokentype").value,
			undo: 1,
			broken_id: id
		};

	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});
  }

</script>
