<style type="text/css">
.lm_container2{
  width:100%;
  height:100%;
}
.lm_top2{
  width:100%;
  height:98px;  
}
.lm_left2{
  width:0px;
  height:100%;
}
.lm_center2{
  width:100%;
  overflow:auto;  
}
.lm_right2{
  width:0px;
  height:100%;
}
.lm_bottom2{
  width:100%;
  height:0px; 
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
  <div style="width:100%; align:center; text-align:center;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">     
      <tr>
      <td >
        <table width="100%" border="0" cellspacing="1" cellpadding="2">
        <tr class="text_filter">
          <td align="left">
          <a id="broken_trade" class="submenu-nonactive" href="/<%= controller.controller_name%>/index">CEE Viewer</a> | <a id="trade_break" class="submenu-nonactive" href="#" onclick="show_trade_break(); return false;">Bulk Trade Break</a> | <a id="modify_position" class="submenu-nonactive" href="/<%= controller.controller_name%>/position">Modify Positions</a>
          | <a id="hung_order" class="submenu-nonactive" href="/<%= controller.controller_name%>/hung_order" onclick="show_hung_order();">Hung Order</a>    
          </td>
        </tr>     
      </table></td>
      </tr>
      <tr>
      <td align="CENTER">
        <table  border="0" cellspacing="1" cellpadding="2">
      <tr class="text_filter">
      <td >Time From:
      <input name="trade_start_time" id="trade_start_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%= @uc.trade_start_time%>" >
      To:
      <input name="trade_end_time" id="trade_end_time" type="text" size="6" maxlength="5" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%= @uc.trade_end_time%>" >
          </td>
        <td >Date:
        <input readonly="readonly" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>" name="trade_date" id="trade_date" size="10"  type="text" onchange="check_Time(this)">     
        <img src="/images/calenda.gif" width="20" align="ABSBOTTOM"  id="ical2"  name="ical2" style="cursor:pointer"/>      
        </td> 
      </tr>
      </table>
    </td>
    </tr>
      <tr class="text_filter">
        <td align="center" width="100%" id="ecnlist">       
          <% ecn_list_plus_bzx_smart_route().each{ |ecn|
            if !ecn.last then next end
          %>    
              <a id="<%= ecn[2] %>" onclick="ecn_filter('<%= ecn[2]%>'); return false;" href="#" <%= if ecn[2].to_s == @uc.ecn.to_s then 'class="location"' else 'class="locationlink"' end %> ><%= display_ecn(ecn[2].upcase) %> </a>
            &nbsp;<font class="verticalbarspace">|</font>&nbsp; 
          <%}%>          
          <a id="allecn" onclick="ecn_filter('0'); return false;" <%= if (@uc.ecn.to_s == "0" || @uc.ecn == nil) then 'class="location"' else 'class="locationlink"' end %> href="#" >
              ALL
          </a>  
        </td>
      </tr> 
      <tr><td align="CENTER"><table cellspacing="1" cellpadding="2">
          <tr class="text_filter">      
          <td>Symbol: <input name="symbol" value="<%= @uc.symbol %>" type="text" size="10" maxlength="8" id="symbol" class="txt" onkeypress = "getEnterKey(event)">
          </td>
          <td>Filled Shares >=<input name="fill_share" value="<%= @fill_share %>" type="text" size="6" maxlength="9" id="fill_share" class="txt" onkeydown = "getEnterKey(event)" onkeypress = "return isNumberKey(event)">
          </td>
          <td>Filled Price From: <input name="price_from" value="<%= @uc.price_from %>" type="text" size="6" maxlength="10" id="price_from" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress = "return isFloatNumber(event)">
            To: <input name="price_to" value="<%= @uc.price_to %>" type="text" size="6" maxlength="10" id="price_to" class="txt_number" onkeydown = "getEnterKey(event)" onkeypress = "return isFloatNumber(event)">
          </td>
          <%  buysells=[["All",0],["Buy",1],["Sell",2],["Short Sell",3]]  %>
          <td>Buy/Sell: <select name="buysell" id="buysell" onchange="show_trade_break();" style="width:90px;">
              <%= options_for_select(buysells,@buysell.to_i) %>
            </select>
          </td>
          <td >&nbsp;<input name="btnSubmit" type="button" value=" Apply " id="btnSubmit" onclick="show_trade_break();"></td>
          <td >&nbsp;&nbsp;<input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td> 
          </tr>      
      </table></td></tr>  
      </table>
  </div>    
  </div><!--end top2-->
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2">
    <div id="utilities_trade_break" style="width:100%; background:transparent;"> </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Loading ... &nbsp;
    <br>
</div>

<div id="mybreak_dialog" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">Bulk Trade Break</div>
  <div class="x-dlg-bd">
    <div id="break_center" class="x-layout-active-content" style="margin-right:0;padding:0;"> 
    <table cellspacing="1" cellpadding="2" width="100%" height="100%" style="background-color:#C3DAF9;">
        <tr>
          <td style="font:normal 12px verdana,tahoma,sans-serif;">Filing Status:</td>
          <td>
              <select name="cee_status_1" id="cee_status_1" maxlength="4" style="width:100%;">
                <%= options_for_select(filing_status_list,0) %>
              </select>
          </td>
        </tr>
        <tr>
          <td style="font:normal 12px verdana,tahoma,sans-serif;">CEE Note:</td>
          <td><input name="cee_note_1" id="cee_note_1" type="text"  class="ext-mb-input" value="" style="width:100%;"></td>
        </tr>
     </table>
    </div>
  </div>
</div>

<div id="mycee_dialog" style="visibility:hidden;position: fixed;margin-right:15;">
  <div class="x-dlg-hd" style="text-align:center">CEE Filing</div>
  <div class="x-dlg-bd">
    <div id="cee_center" class="x-layout-active-content" style="margin-right:0;padding:0;"> 
     <table cellspacing="1" cellpadding="2" width="100%" height="100%" style="background-color:#C3DAF9;">
        <tr>
          <td style="font:normal 12px verdana,tahoma,sans-serif;">Filing Status:</td>
          <td>
              <select name="cee_status_2" id="cee_status_2" maxlength="4" style="width:100%;">
                <%= options_for_select(filing_status_list,0) %>
              </select>
          </td>
        </tr>
        <tr>
          <td style="font:normal 12px verdana,tahoma,sans-serif;">CEE Note:</td>
          <td><input name="cee_note_2" id="cee_note_2" type="text"  class="ext-mb-input" value="" style="width:100%;"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- </form> -->
<script language="javascript">
  window.onload = function(e){
    Calendar.setup({
      inputField     :    "trade_date",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical2",
      align          :    "B2",
      singleClick    :    true
    });
                
    page1 = document.getElementById("utilities1");
    swap(page1);
    $("trade_break").className = "submenu-active";    
    document.getElementById('trade_date').onchange=function(el){};
    show_trade_break();            
  }
  //global variable
  var break_dialog;
  var cee_dialog;
  function please_wait()
  { 
    var pos = $('utilities_trade_break').cumulativeOffset();
    var _wait = $('please_wait');
      _wait.update("Please wait...");
      _wait.style.position = "absolute";
      _wait.style.top = pos.top;
      _wait.style.left = pos.left - 150;
      _wait.show();
  }

  //function refresh menu (date: 2010/02/25)
  function refresh_menu_data()
  {
    var param = {
      authenticity_token: '<%= form_authenticity_token %>'      
    };  
    var url = "/utilities/menu_refresh" ;
    new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
  }
  
  //Function show_trade_break
  function show_trade_break()
  {
    var ecn = '<%= @uc.ecn.to_s %>';    
    if ($('hidden_ecn'))
    {
      ecn = $('hidden_ecn').value;
    }  
    //alert('<%= @uc.ecn.to_s %>' + ' : ' + ecn);
    disable_highlight_all_ecn();
    enable_highlight_ecn(ecn);
    check_time();
    //check_price_error();
    please_wait();    
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      trade_date: document.getElementById("trade_date").value,
      trade_start_time: document.getElementById("trade_start_time").value,
      trade_end_time: document.getElementById("trade_end_time").value,
      symbol: $("symbol").value,      
      fill_share: $("fill_share").value,
      price_from: $("price_from").value,
      price_to: $("price_to").value,
      buysell: $("buysell").value,
      ecn: ecn   
    };
    
  var url = "/utilities/trade_break" ;
  new Ajax.Updater('utilities_trade_break',url,{parameters: param, method: "GET", evalScripts:true,
          onComplete:function(){$('please_wait').update("");
            refresh_menu_data(); }}); 
  }
  
  //Funtion page_view
  function page_view(pa)
  {
    var ecn = '<%= @uc.ecn.to_s %>';    
    if ($('hidden_ecn'))
    {
      ecn = $('hidden_ecn').value;
    }
    please_wait();
    //check_price_error();
    if (pa == 1)
    {
      $('page2').value = $('page1').value;
    }
    else
    {
      $('page1').value = $('page2').value;
    }
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      trade_date: document.getElementById("trade_date").value,
      trade_start_time: document.getElementById("trade_start_time").value,
      trade_end_time: document.getElementById("trade_end_time").value,
      symbol: $("symbol").value,      
      fill_share: $("fill_share").value,
      price_from: $("price_from").value,
      price_to: $("price_to").value,
      buysell: $("buysell").value,
      ecn: ecn,
      page: $('page1').value
    };        
    var url = "/utilities/trade_break" ;
    new Ajax.Updater('utilities_trade_break',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }
  
  //Funtion sort by title header of table 
  function sort_fields(sort_field, dir, ecn)
  { 
    please_wait();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      trade_date: document.getElementById("trade_date").value,
      trade_start_time: document.getElementById("trade_start_time").value,
      trade_end_time: document.getElementById("trade_end_time").value,
      symbol: $("symbol").value,      
      fill_share: $("fill_share").value,
      price_from: $("price_from").value,
      price_to: $("price_to").value,
      buysell: $("buysell").value,
      ecn: ecn,
      sort_field: sort_field,
      dir: dir
    };           
    var url = "/utilities/trade_break" ;
    new Ajax.Updater('utilities_trade_break',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }
  
  //function filter by ecn
  function ecn_filter(ecn)
  {
    please_wait();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      trade_date: document.getElementById("trade_date").value,
      trade_start_time: document.getElementById("trade_start_time").value,
      trade_end_time: document.getElementById("trade_end_time").value,
      symbol: $("symbol").value,      
      fill_share: $("fill_share").value,
      price_from: $("price_from").value,
      price_to: $("price_to").value,
      buysell: $("buysell").value,
      ecn: ecn
    };
    
    disable_highlight_all_ecn();
    enable_highlight_ecn(ecn);

    var url = "/utilities/trade_break" ;
    new Ajax.Updater('utilities_trade_break',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }

  function test_lert(){
    //$('hecn').value = el.id;
    //$('frm_filter').submit();
    Ext.MessageBox.alert("Trade Adjustment Error");
    //alert("hello mr tuan");
  }

  function show_msg_note(fill_ids, status, note)
  {                        
    Ext.MessageBox.confirm('Trade Break', 'Apply fields to all executions and break?', function(btn){                              
      if(btn=="yes"){   
        //Ext.MessageBox.wait('','Please wait..........');          
        new Ajax.Request('/utilities/break_all_trade?fill_id=' + fill_ids + '&status=' + status + '&note=' + note,
        {asynchronous:true, 
          onComplete:function(e){
            //window.location.href = window.location.href;
          show_trade_break();
          }//function
        }
      );//Ajax.Request function
      }
    });       
                                
  }//end function show_msg_note

  /*********************************************************************************
   * Method name    : break_all_trades
   * Input          : 
   * Output         :
   * Date created   : 
   * Developer      : TuanBD
   * Description    : Break list of trades
  **********************************************************************************/
  function break_all_trades(fill_ids)
  {
      break_dialog = null;
      if(!break_dialog)
      {
        break_dialog = new Ext.LayoutDialog("mybreak_dialog", { 
          modal:true,
          width:300,
          height:150,
          shadow:false,
          minWidth:300,
          minHeight:150,
          proxyDrag: false,
          fixedcenter: true,
          center: {
            split:true,
            initialSize: 260,
            minSize: 260,
            maxSize: 260,
            titlebar: false,
            collapsible: true,
            animate: true,
            autoScroll:true
          }
        });
              
        break_dialog.addButton('Break', function(btn){
          var status = $('cee_status_1').getValue();
          var note = $('cee_note_1').value;
          if (is_valid_filing_status(status)){
            show_msg_note(fill_ids, status, note);
            break_dialog.hide();
            $('cee_status_1').value = "0";
            $('cee_note_1').value = "";
            //break_trades(dialog, ids, status, note);
          }else{
            Ext.MessageBox.alert("Error!", "Invalid filing status. Please, enter valid filing status!");
            //$('cee_status_1').focus();
          }
          }, break_dialog);
          break_dialog.addButton('Cancel', function(){
            break_dialog.hide();
            $('cee_status_1').value = "0";
            $('cee_note_1').value = "";
          }
         , break_dialog);
         var break_layout = break_dialog.getLayout();
         break_layout.beginUpdate();                     
         break_layout.add('center', new Ext.ContentPanel('break_center'));
         break_layout.endUpdate();
      }
      break_dialog.show();
    //$('break_center').innerHTML = "";
      load_filing_status('break_center',"1");
      
  }
  
  /*********************************************************************************
   * Method name    : add_cee_filing_all_trades
   * Input          : 
   * Output         :
   * Date created   : 
   * Developer      : TuanBD
   * Description    : 
  **********************************************************************************/
  function add_cee_filing_all_trades(ids)
  {
      var list_ids = ids;
      cee_dialog = null;
      if(!cee_dialog)
      {
        cee_dialog = new Ext.LayoutDialog("mycee_dialog", { 
          modal:true,
          width:300,
          height:150,
          shadow:false,
          minWidth:300,
          minHeight:150,
          proxyDrag: false,
          fixedcenter: true,
          center: {
            split:true,
            initialSize: 260,
            minSize: 260,
            maxSize: 260,
            titlebar: false,
            collapsible: true,
            animate: true,
            autoScroll:true
          }
        });
            
        cee_dialog.addButton('Save', function(){
          var status = $('cee_status_2').getValue();
          var note = $('cee_note_2').value;
          if (is_valid_filing_status(status)){
          //alert( "Save button: " + list_ids);
          
            new Ajax.Request('/utilities/filing_status?fill_id=' + list_ids + '&status=' + status + '&note=' + note,
              {asynchronous:true, 
                onComplete:function(e){
                  //window.location.href = window.location.href;
                //show_trade_break();
                }//function
              }
            );//Ajax.Request function
            cee_dialog.hide();
            $('cee_status_2').value = "0";
            $('cee_note_2').value = "";                      
          }else{
            Ext.MessageBox.alert("Error!", "Invalid filing status. Please, enter valid filing status!");
          }
        }, cee_dialog);
       
        cee_dialog.addButton('Cancel', function(){
            //alert( "cancel button: " + list_ids );
            
            cee_dialog.hide();
            $('cee_status_2').value = "0";
            $('cee_note_2').value = "";
         }
       , cee_dialog);
       var cee_layout = cee_dialog.getLayout();
       cee_layout.beginUpdate();                     
       cee_layout.add('center', new Ext.ContentPanel('cee_center'));
       cee_layout.endUpdate();
     }
    cee_dialog.show();
    //$('cee_center').innerHTML = "";
    load_filing_status('cee_center',"2");
     
  }
  
   /*********************************************************************************
   * Method name    : load_filing_status
   * Input          : fill_id
   * Output         :
   * Date created   : September 10, 2010
   * Developer      : TuanBD
   * Description    : load filing status and CEE note into dialog
  **********************************************************************************/
  function load_filing_status(div_id, type_num)
  {
   var ecn = '<%= @uc.ecn.to_s %>';   
    if ($('hidden_ecn'))
    {
      ecn = $('hidden_ecn').value;
    }
    disable_highlight_all_ecn();
    enable_highlight_ecn(ecn);
    var trade_date =  document.getElementById("trade_date").value;
    var trade_start_time = document.getElementById("trade_start_time").value;
    var trade_end_time = document.getElementById("trade_end_time").value;
    var symbol =  $("symbol").value;      
    var fill_share = $("fill_share").value;
    var price_from = $("price_from").value;
    var price_to = $("price_to").value;
    var buysell = $("buysell").value;
    new Ajax.Updater(div_id,"/utilities/get_filing_status?type_num=" + type_num + "&trade_date=" + trade_date + "&trade_start_time=" + trade_start_time + "&trade_end_time=" + trade_end_time + "&symbol=" + symbol + "&fill_share=" + fill_share + "&price_from=" + price_from + "&price_to=" + price_to + "&buysell=" + buysell + "&ecn=" + ecn, {asynchronous:true, evalScripts:true, onComplete:function(r){
       // Ext.MessageBox.alert("Hello", "I'm done.");
      }});
  }
  
  /*********************************************************************************
   * Method name    : is_valid_filing_status
   * Input          : string text
   * Output         :
   * Date created   : 
   * Developer      : TuanBD
   * Description    : check the status of trade break
  **********************************************************************************/
  function is_valid_filing_status(sText){
    var ValidChars = ["1", "2", "3"];    
    for (i = 0; i < ValidChars.length ; i++) 
    {
      if (ValidChars[i] == sText.strip()) 
      {       
        return true;
      }
    }    
    return false;   
  }
  
  /*********************************************************************************
   * Method name    : check_value
   * Input          : object
   * Output         :
   * Date created   : 
   * Developer      : TuanBD
   * Description    : 
  **********************************************************************************/
  function check_value(el)
  {
    var value = el.getValue();
    el.value = value.strip().toUpperCase();
  }
  
  function disable_highlight_all_ecn()
  {
    $('ARCA').className = 'locationlink';
    $('OUCH').className = 'locationlink';
    $('RASH').className = 'locationlink';
    $('NYSE').className = 'locationlink';
    $('BATZ').className = 'locationlink';
    $('BZSR').className = 'locationlink';
    $('EDGX').className = 'locationlink';
    $('EDGA').className = 'locationlink';
    $('OUBX').className = 'locationlink';
    $('BATY').className = 'locationlink';
    $('PSX').className = 'locationlink';
    $('allecn').className = 'locationlink';
  }
  
  function enable_highlight_ecn(ecn_name)
  {
    if(ecn_name == 'ARCA')
    {
      $('ARCA').className = 'location';
    }else if(ecn_name == 'OUCH'){
      $('OUCH').className = 'location';
    }else if(ecn_name == 'RASH'){
      $('RASH').className = 'location';
    }else if(ecn_name == 'BATZ'){
      $('BATZ').className = 'location';
    }else if(ecn_name == 'BZSR'){
      $('BZSR').className = 'location';
    }else if(ecn_name == 'NYSE'){
      $('NYSE').className = 'location';
    }else if(ecn_name == 'EDGX'){
      $('EDGX').className = 'location';
    }else if(ecn_name == 'EDGA'){
      $('EDGA').className = 'location';
    }else if(ecn_name == 'OUBX'){
      $('OUBX').className = 'location';
    }else if(ecn_name == 'BATY'){
      $('BATY').className = 'location';
    }else if(ecn_name == 'PSX'){
      $('PSX').className = 'location';
    }
    else
    {
       $('allecn').className = 'location';
    }
    
  }
  
  function getEnterKey(e)
  {
    var uinocde = e.keyCode?e.keyCode:e.charCode;
    if(uinocde == 13)
    {
      show_trade_break();
    }
    return;
  }
  
  function isNumberKey(evt)
  {  
    var charCode = (evt.which) ? evt.which : event.keyCode;

     if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
     return true;
  }
  
  function isFloatNumber(evt)
  {  
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode == 46)
      return true; 
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }
  
  function isTimeNumber(evt)
  {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode == 58)
      return true;
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }
  
  /* Check errors  in price text box filter */
  function check_price_error()
  {
    var price_to = $("price_to").value;
    var price_from = $("price_from").value;  
    if (price_from.trim() != '')
    {
      price_from = price_from.split(".")[0] + "." + price_from.split(".")[1];
      if (price_from[0] == '.')
      {
        price_from = "0" + price_from;
      }
      $("price_from").value = price_from;
    }
    if (price_to.trim() != '')
    {
      price_to = price_to.split(".")[0] + "." + price_to.split(".")[1];
      if (price_to[0] == '.')
      {
        price_to = "0" + price_to;
      }
      $("price_to").value = price_to; 
    }
  }
  
  function check_time()
  {
    var _start_time = document.getElementById("trade_start_time").value;
    var _end_time = document.getElementById("trade_end_time").value;
    var start_time_arr = _start_time.split(":");
    var end_time_arr = _end_time.split(":"); 
    /* Check start time */
    if (_start_time == "")
    {
      document.getElementById("trade_start_time").value = "6:00";
    }
    else
    {
      if (start_time_arr.length==1)
      {
        
        if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
        {
           document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
        }
        else if (start_time_arr[0]<0 || start_time_arr[0]>23)
        {
          document.getElementById("trade_start_time").value = "6:00";
        }
      }
      else if (start_time_arr.length==2)
      {
        if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
          document.getElementById("trade_start_time").value = "6:00";
        else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
            document.getElementById("trade_start_time").value = "6:00";
          else if (start_time_arr[0] == "")
            document.getElementById("trade_start_time").value = "6:00";
      }
    }

    /* Check end time */
    if (_end_time == "")
    {
      document.getElementById("trade_end_time").value = "19:00";
    }
    else
    {
      if (end_time_arr.length==1)
      {
        if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
        {
           document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
        }
        else if (end_time_arr[0]<0 || end_time_arr[0]>23)
        {
          document.getElementById("trade_end_time").value = "19:00";
        }
      }
      else if (end_time_arr.length==2)
      {
        if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
          document.getElementById("trade_end_time").value = "19:00";
        else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
            document.getElementById("trade_end_time").value = "19:00";
          else if (end_time_arr[0] == "")
            document.getElementById("trade_end_time").value = "19:00";
      }
    }
    
  }
  
  /*********************************************************************************
  * Method name     : reset_ecn
  * Input       : 
  * Output      :
  * Date created    : 18-04-2014
  * Developer     : HungLN
  * Description   : Reset ecn to ALL
  **********************************************************************************/
  function reset_ecn()
  {
    var ecn = 0;  
    please_wait();
    var param = {
      authenticity_token: '<%= form_authenticity_token %>',
      trade_date: document.getElementById("trade_date").value,
      trade_start_time: document.getElementById("trade_start_time").value,
      trade_end_time: document.getElementById("trade_end_time").value,
      symbol: $("symbol").value,      
      fill_share: $("fill_share").value,
      price_from: $("price_from").value,
      price_to: $("price_to").value,
      buysell: $("buysell").value,
      ecn: ecn
    };
    
    disable_highlight_all_ecn();
    enable_highlight_ecn(ecn);
    var url = "/utilities/trade_break" ;
    new Ajax.Updater('utilities_trade_break',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");}});
  }
  
  // Reset filter
  function reset_filter()
  { 
    document.getElementById("trade_date").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
    document.getElementById("trade_start_time").value = "2:00";
    document.getElementById("trade_end_time").value = "19:00";
    document.getElementById("symbol").value = "";
    document.getElementById("fill_share").value = "";
    document.getElementById("price_from").value = "";
    document.getElementById("price_to").value = "";
    document.getElementById("buysell").value = "0";   
    reset_ecn();
  }
  
</script>
<!-- <script type="text/javascript" src="/javascripts/ext/adapter/prototype/ext-prototype-adapter.js"></script> -->
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
