<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:60px;
}
.lm_left2{
	width:0px;
	height:100%;

}
.lm_center2{
	width:100%;
	overflow:auto;

}
.lm_right2{
	width:0px;
	height:100%;

}
.lm_bottom2{
	width:100%;
	height:0px;
}
.row-quarter-content
{
	float: left;
	margin-left: 1px;
	width: 120px;
	padding-top: 4px;
	text-align: center;
}

.row-quarter-content input
{
	padding: 0 2px;
}

.row-quarter-content span
{
	padding: 3px 5px 0 5px;
}

</style>
</head>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="broken_trade" class="submenu-nonactive" href="/<%= controller.controller_name%>/index" onclick="show_broken_trade();">CEE Viewer</a> | <a id="trade_break" class="submenu-nonactive" href="/<%= controller.controller_name%>/bulk">Bulk Trade Break</a> | <a id="modify_position" class="submenu-nonactive" href="/<%= controller.controller_name%>/position">Modify Positions</a> 
						| <a id="hung_order" class="submenu-nonactive" href="#" onclick="show_hung_order();">Hung Order</a>
					  </td> 
					</tr>
				</table></td>
			  </tr>
					<table width="38%" border="0" cellspacing="1" cellpadding="2" style="padding-left: 10px;" align="CENTER">

						<tr class="text_filter" >    
							<td>Symbol:
								  <input name="symbol" value="<%= @uc.symbol %>" type="text" size="10" maxlength="8" id="symbol" class="txt" onkeypress = "getEnterKey(event)">
							</td>
							<%	buysells=[["All",0],["Buy",1],["Sell",2],["Short Sell",3]]	%>
							<td>Buy/Sell: <select name="side" id="side" onchange="show_hung_order();" style="width:5s0px;">
								  <%= options_for_select(buysells,@buysell.to_i) %>
							  </select>
							</td>

							<td>&nbsp;<input type="button" value="  Apply  " onclick="show_hung_order();"></td>
							<td >&nbsp;<input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td>

						</tr>
					</table>
			  </table>
		</div>
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2">
		<div id="utilities_show_hung" style="width:100%; background:transparent;"> 
		</div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Loading ... &nbsp;
    <br>
</div>

<div id="mydlg_add" style="">
  <div class="x-dlg-hd" style="text-align:center; display: block">Add Fill/Cancel Order</div>
  <div class="x-dlg-bd">
    <div id="center_order" class="x-layout-inactive-content">
		  <div id="tree_panel" style="text-align:left"></div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0"> 

						<table width="80%" border="0" cellspacing="0" cellpadding="0" align="CENTER" >
							<tr>
								<td align="LEFT">CIOrdID: </td>
								<td align="RIGHT">Symbol: </td>
							</tr>
							<tr>
								<td align="LEFT">Action:</td>
								<td align="RIGHT">ECN: </td>
							</tr>
							<tr>
								<td align="LEFT">Shares: </td>
								<td align="RIGHT">Price: </td>
							</tr>
						</table>

			</table>

    </div>
  </div>
  <div class="x-dlg-ft">
  </div>
</div>

<script language="javascript">
  window.onload = function(e){
    page1 = document.getElementById("utilities1");
    swap(page1);
	$("hung_order").className = "submenu-active";
	 //document.getElementById('trade_date').onchange=function(el){};
	  show_hung_order();
  }
	var fill_count = 0;
	var cancel_count = 0;
	var totalshares = 0;
	var fill_shares_number = 0;
	var cancel_shares_number = 0;
	var current_price_for_fill = 0;
  /*********************************************************************************
   * Method name 		: show_hung_order
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: KhanhTT
   * Description		: show list of hung orders
  **********************************************************************************/
  function show_hung_order()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			symbol: document.getElementById('symbol').value,
			side: document.getElementById('side').value
		};

	var url = "/utilities/show_hung_order" ;
	new Ajax.Updater('utilities_show_hung',url,{parameters: param, method: "GET", evalScripts:true,
						onComplete:function(){
								//refresh menu side bar
								refresh_menu_data();
							}});
  }
  
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
		};
		var url = "/utilities/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}

	function please_wait()
	{
		var pos = $('order_view_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
  //Function sort_fields
  function sort_fields(field, dir)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			symbol: document.getElementById('symbol').value,
			side: document.getElementById('side').value,
			sort_field: field,
			dir: dir
		};

	var url = "/utilities/show_hung_order" ;
	new Ajax.Updater('utilities_show_hung',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function page_view
	  function page_view()
	  {
			var param = {
				authenticity_token: '<%= form_authenticity_token %>',
				symbol: document.getElementById('symbol').value,
				side: document.getElementById('side').value,
				page: $("page").value
			};

		var url = "/utilities/show_hung_order" ;
		new Ajax.Updater('utilities_show_hung',url,{parameters: param, method: "GET", evalScripts:true});
	  }
	function check_all(source) 
	{
		  checkboxes = document.getElementsByName('foo');
		  
		  for (var i in checkboxes)
		  {
			checkboxes[i].checked = source.checked;
		  }
	}

	function cancel_all_checked()
	{
		var list_order_id = "";
		var count=0;
		checkboxes = document.getElementsByName('foo');

		for (var i in checkboxes)
		{
			if (checkboxes[i].checked == true && checkboxes[i].value > 0) 
			{
				if (count == 0) {
					list_order_id = checkboxes[i].value;
				} else {
					list_order_id = list_order_id + "_" + checkboxes[i].value;
				}
				count = count + 1;
			}
		}

		if (count > 0)
		{
			var param = {
				list_order: list_order_id
			}
			url = "/utilities/cancel_all_checked";
			new Ajax.Request(url,{parameters:param, asynchronous:true, evalScripts:true, onComplete:function(request)
			{ 
				// do nothing 
				show_hung_order();
			}
			});

		}


	}

	function show_msg_result (msg)
	{
		alert(msg);
	}

	 var dialog_order;
	var oid_tmp;
	function process_hung_order(e1)
	{

		fill_count = 0;
		totalshares = 0;
		var fill_shares_list = "";
		var fill_price_list = "";
		var cancel_shares = "";
		var i = 0;
		var tmpID = "";
		var blankTextbox = 0;
		var fill_value_zero = 0;
		oid_tmp = e1.id;
		cancel_count = 0;
		if(!dialog_order)
		{ 
			  dialog_order = new Ext.LayoutDialog("mydlg_add", {
				modal:false,
				resizable: false,
				width:550,
				height:350,
				shadow:false,
				minWidth:250,
				minHeight:250,
				proxyDrag: false,
				fixedcenter: true,

				center: {
				  autoScroll:true  }
		  });
		//	dialog_order.addKeyListener(27, dialog_order.hide, dialog_order); 

		if (cancel_count > 0)
		{
			document.getElementById("button_add_fill").disabled = true;
			document.getElementById("button_add_cancel").disabled = true;
		}

		dialog_order.addButton('Submit', function(btn)
		{
				fill_shares_number = 0;
				cancel_shares_number = 0;
				fill_shares_list = "";
				fill_price_list = "";
				cancel_shares = "";
				blankTextbox = 0;
				fill_value_zero = 0;
				for (i=1; i <= fill_count ; i++)
				{
					tmpID = "fillshares_" + i;
					fill_shares_list = fill_shares_list + "_" + document.getElementById(tmpID).value;
					fill_shares_number = fill_shares_number + parseInt(document.getElementById(tmpID).value);
					if (document.getElementById(tmpID).value.trim() == '')
					{
						blankTextbox = 1;
					}
					if (parseInt(document.getElementById(tmpID).value) == 0)
					{
						fill_value_zero = 1;
					}

					tmpID = "fillprice_" + i;
					fill_price_list = fill_price_list + "_" + parseFloat(document.getElementById(tmpID).value.replace(",",""));
					if (document.getElementById(tmpID).value.trim() == '')
					{
						blankTextbox = 1;
					}

					if (parseFloat(document.getElementById(tmpID).value.replace(",","")) == 0)
					{
						fill_value_zero = 1;
					}
				}

				for (i=1;i <= cancel_count ; i++)
				{
					tmpID = "txtCancel";
					cancel_shares = document.getElementById("txtCancel").value;
					cancel_shares_number = cancel_shares_number + parseInt(document.getElementById(tmpID).value);
					if (document.getElementById(tmpID).value.trim() == '')
					{
						blankTextbox = 1;
					}
				}

				if (blankTextbox == 0 && fill_value_zero == 0) 
				{
					if (cancel_shares_number + fill_shares_number == parseInt(document.getElementById("shares_detail").innerHTML))
					{
						if (confirmProcess(fill_shares_number,cancel_shares_number) == true)
						{

							var param = {
								oid: oid_tmp,
								fill_shares_list: fill_shares_list,
								fill_price_list: fill_price_list,
								cancel_shares: cancel_shares
							}
							cancel_shares = "";
							fill_shares_list = "";
							fill_price_list = "";

							url = "/utilities/process_fill_cancel";
							new Ajax.Request(url,{parameters:param, asynchronous:true, evalScripts:true, onComplete:function(request)
							{ 
								// do something 
								dialog_order.hide();
								refresh_menu_data();
								show_hung_order();
							}
							});
						}
					}
					else
					{
						if (cancel_shares_number + fill_shares_number < parseInt(document.getElementById("shares_detail").innerHTML))
						{
							var tmp_cancel = parseInt(document.getElementById("shares_detail").innerHTML) - (cancel_shares_number + fill_shares_number);

							var str = "";
							if (fill_shares_number > 0)
							{
								str = str + "Fill " + fill_shares_number + " shares. ";
							}

							if (cancel_shares_number > 0)
							{
								str = str + " Cancel " + cancel_shares_number + " shares." ;
							}
							str = tmp_cancel +  " remaining shares will be canceled! Are you sure you want to do this?";
							var ret = confirm(str);
							if (ret == true)
							{


								var tmp = 0;
								if (parseInt(cancel_shares) > 0 )
								{
									tmp =  parseInt(cancel_shares) + tmp_cancel;
								}
								else
								{
									tmp = tmp_cancel;
								}
								cancel_shares = "" + tmp;

								var param = {
									oid: oid_tmp,
									fill_shares_list: fill_shares_list,
									fill_price_list: fill_price_list,
									cancel_shares: cancel_shares
								}
								cancel_shares = "";
								fill_shares_list = "";
								fill_price_list = "";

								url = "/utilities/process_fill_cancel";
								new Ajax.Request(url,{parameters:param, asynchronous:true, evalScripts:true, onComplete:function(request)
								{ 
									// do something 
									dialog_order.hide();
									refresh_menu_data();
									show_hung_order();
								}
								});
							}
							else
							{
							 // do nothing
							}

						}
						else
						{
							alert("Number of input shares are larger than number of current shares. Please check again.");
						}

					}
				} 
				else
				{
					alert('Invalid values. Please check again.');

				}
			}
			, dialog_order);
			dialog_order.addButton('Cancel', dialog_order.hide, dialog_order);

		  number_of_fill_cancel = 0;
		  var layout = dialog_order.getLayout();
		  layout.beginUpdate();
		  layout.add('center', new Ext.ContentPanel('center_order'));
		  layout.endUpdate();

		}
		dialog_order.show();
		$("center_order").innerHTML = "";
		var oid_temp = e1.id;
		var param = {
			oid: oid_temp
		}
		 new Ajax.Request("/utilities/order_info", {parameters: param, asynchronous:true, evalScripts:true, onComplete:function(request)
		 {
       
			$("center_order").innerHTML = request.responseText;

		}});

	}

	function confirmProcess(fi, ca)
	{
		var message_str = "Are you sure you want to";
		if (fi > 0)
		{
			message_str = message_str + " fill " + fi + " shares";
		}
		if (ca > 0)
		{
			if (fi >0)
			{
				message_str = message_str + " and";
			}
			message_str = message_str + " cancel " + ca + " shares";
		}
		message_str = message_str + " ?"
		return confirm(message_str);

	}


	function add_cancel()
	{
		var totalshares = parseInt(document.getElementById("shares_detail").innerHTML);
		var divTag = document.createElement("div");	  
		var i = 0;
		var tmpID = "";
		var currentShares = totalshares;
		document.getElementById('msgLabel').style.display = 'block';
		if (fill_count >= 1)
		{
			currentShares = totalshares;
			for (i=1; i<= fill_count; i++)
			{
				var index = i;
				tmpID = "fillshares_" + index;
				currentShares = currentShares - parseInt(document.getElementById(tmpID).value);

			}
		}
		else
		{
			currentShares = totalshares;
		}

		if (currentShares > 0)
		{
			cancel_count = cancel_count + 1;
			var divTag = document.createElement("div");	  
			divTag.id =  "frmCanncel" ;

			divTag.className ="dynamicDiv";
			divTag.setAttribute("align","left");
			var txt = "<div class='row-quarter-content' style='text-align: left'> <span> Cancel </span> </div> <div class='row-quarter-content'> <input type='text' value='' size='13' maxlength=\"12\" name=\"txtCancel\" id=\"txtCancel\" readonly onkeypress='return isNumberKey(event)' onchange='checkTextboxInput(this)' > </div> <div class='row-quarter-content'>&nbsp;</div>";
			img_delete = "<div class='row-quarter-content' style='text-align: center; width: 50px'><img src='/images/close.png' width='20' onclick=\"delete_cancel('" + divTag.id + "');\" ></div>";
			divTag.innerHTML =  txt + img_delete;
			document.getElementById("appendDiv").appendChild(divTag);

			document.getElementById("txtCancel").value = currentShares;

			document.getElementById("button_add_fill").disabled = true;
			document.getElementById("button_add_cancel").disabled = true;
		}
		else
		{
			alert('All shares are filled.');
		}
	}

	function add_fill()
	{


		var totalshares = parseInt(document.getElementById("shares_detail").innerHTML);
		var divTag = document.createElement("div");	  
		var i = 0;
		var tmpID = "";
		var currentShares = totalshares;
		fill_count = fill_count + 1;
		document.getElementById('msgLabel').style.display = 'block';
		if (fill_count == 1) 
		{
			currentShares = totalshares;
		}
		else
		{
			currentShares = totalshares;
			for (i=1; i< fill_count; i++)
			{
				var index = i;
				tmpID = "fillshares_" + index;
				currentShares = currentShares - parseInt(document.getElementById(tmpID).value);

			}

		}

		if (currentShares > 0)
		{
			divTag.id =  "frmFill_" + fill_count;
			current_share_for_fill = currentShares;
			divTag.className ="dynamicDiv";
			divTag.setAttribute("align","left");
			img_delete = "<div class='row-quarter-content' style='text-align: center; width: 50px'> <img src='/images/close.png' width='20' onclick=\"deleteDiv('" + divTag.id + "');\" > </div>";
			var txt1 = " <div class='row-quarter-content'> <input type=\"text\" value=\"\"  size='13' maxlength=\"12\" onkeypress='return isNumberKey(event)' onchange='checkTextboxInput(this, fill_count)' name=\"txtFillShares\" id=\"fillshares_" + fill_count + "\" onblur='check_valid_share(this)' onchange=\"validateDecimal(this);\" onkeypress=\"return isNumberKey(event)\"> </div>";
			var txt2 = " <div class='row-quarter-content'> <input type=\"text\" value=\"\"  size='13' maxlength=\"12\" onkeypress='return isFloatNumber(event)' onchange='checkTextboxInput(this, fill_count)' name=\"txtFillPrice\" id=\"fillprice_" + fill_count + "\" onblur='check_valid_price(this)' onkeypress=\"validateDecimal(this);\" > </div>";
			divTag.innerHTML = "<div class='row-quarter-content' style='text-align: left'> <span>Fill " + fill_count + "</span> </div>" + txt1 + txt2 + img_delete;
 
			document.getElementById("appendDiv").appendChild(divTag);
			tmpID = "fillshares_" + fill_count;

			document.getElementById(tmpID).value = "" + currentShares;
			tmpID = "fillprice_" + fill_count;
			var str_tmp = document.getElementById("price_detail").innerHTML;
			document.getElementById(tmpID).value = str_tmp.trim();
			current_price_for_fill = parseFloat(document.getElementById(tmpID).value.replace(",",""));
		}
		else
		{
			alert('All shares are filled.');
			fill_count = fill_count - 1;
		}



		//$('appendDiv').appendChild(divTag);
	}

	function deleteDiv(div_id)
	{

		var count_id = div_id.split("_")[1];
		var id_start =  parseInt(count_id);
		var i = 0;
		var tmpId = "frmFill_";

		tmpId = "fillshares_" + id_start;
		totalshares = totalshares + parseInt(document.getElementById(tmpId).value);
		for (i=id_start; i < fill_count; i++)
		{
			tmpId = "fillshares_" + i;
			tmpId_next = "fillshares_" + (i+1);

			document.getElementById(tmpId).value = document.getElementById(tmpId_next).value;
			tmpId = "fillprice_" + i;
			tmpId_next = "fillprice_" + (i+1);
			document.getElementById(tmpId).value = document.getElementById(tmpId_next).value;
		}
		tmpId = "frmFill_" + fill_count;
		var  tmp = document.getElementById(tmpId);
		tmp.parentNode.removeChild(tmp);
		fill_count = fill_count - 1;
		if (fill_count == 0 && cancel_count == 0)
		{
			document.getElementById('msgLabel').style.display = 'none';
		}
		//document.getElementById("appendDiv").removeChild(div_id);
	}

	function delete_cancel(div_id)
	{
		var  tmp = document.getElementById(div_id);
		var cancel_value = parseInt(document.getElementById("txtCancel").value);
		if (fill_count > 0)
		{
			var tmpID = "";
			tmpID = "fillshares_" + (fill_count);
			document.getElementById(tmpID).value = parseInt(document.getElementById(tmpID).value) + cancel_value;
		}
		tmp.parentNode.removeChild(tmp);
		cancel_count = cancel_count - 1;
		if (fill_count == 0 && cancel_count == 0)
		{
			document.getElementById('msgLabel').style.display = 'none';
		}
		document.getElementById("button_add_fill").disabled = false;
		document.getElementById("button_add_cancel").disabled = false;
	}

	function checkTextboxInput(e1)
	{

		if (e1.id.value == '')
		{
			document.getElementById("button_add_fill").disabled = true;
			document.getElementById("button_add_cancel").disabled = true;
		}
		else
		{
			if (cancel_count == 0)
			{
				document.getElementById("button_add_fill").disabled = false;
				document.getElementById("button_add_cancel").disabled = false;
			}
		}
	}

	function isTimeNumber(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

		if (charCode == 58)
            return true;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	function isNumberKey(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }

	function isFloatNumber(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

		if (charCode == 46)
            return true;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }

	function validateDecimal(sender) 
	{
            if (sender.value.match("^[0-9](\.[0-9]+)?$"))
				return true;
            else
                return false;
    }

	function verify_all_check()
	{


		var count=0;
		checkboxes = document.getElementsByName('foo');

		for (var i in checkboxes)
		{
			if (checkboxes[i].checked == true && checkboxes[i].value > 0) 
			{
				count = count + 1;
			}
		}

		if (count < checkboxes.length)
		{
			document.getElementById("checkall_id").checked = false;
		}
		if (count == checkboxes.length)
		{
			document.getElementById("checkall_id").checked = true;
		}
	}
	function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			show_hung_order();
		}
		return;
	}

	function check_valid_share(e)
	{

		if (parseInt(e.value) == 0 || e.value.trim() == '' )
		{
			alert('Invalid shares ' + e.id.split("_")[1] + '. Please check again.');
			var totalshares = parseInt(document.getElementById("shares_detail").innerHTML);
			var currentShares = totalshares;
			var i = 0;
			if (fill_count == 1) 
			{
				currentShares = totalshares;
			}
			else
			{
				currentShares = totalshares;
				for (i=1; i<= fill_count; i++)
				{
					var index = i;
					tmpID = "fillshares_" + index;
					currentShares = currentShares - parseInt(document.getElementById(tmpID).value);

				}

			}
			e.value = currentShares;

			e.style.background = 'pink';
		}
		else
		{

			e.style.background = 'white';
		}

	}
	function check_valid_price(e)
	{
		if (parseInt(e.value) == 0 || e.value.trim() == '')
		{
			alert('Invalid price ' + e.id.split("_")[1] + '. Please check again.');
			e.value = current_price_for_fill;
			e.style.background = 'pink';
		}
		else
		{
			e.style.background = 'white';
		}
	}

	// Reset filter
	function reset_filter()
	{
		document.getElementById("symbol").value = "";
		document.getElementById("side").value = "0";
	}



</script>
<script type="text/javascript" src="/javascripts/ext/ext-default.js"></script>
<div id="Fillfrm" style="visibility: hidden">
	 <input name="symbol" value=" type="text" size="10" maxlength="8" id="symbol" class="txt" onkeypress = "getEnterKey(event)">
</div>
