<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:60px;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	width:100%;
	overflow:auto;
	
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
</style>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
			  <tr>
				<td >
				  <table width="100%" border="0" cellspacing="1" cellpadding="2">
					<tr class="text_filter">
					  <td align="left">
						<a id="broken_trade" class="submenu-nonactive" href="#" onclick="show_broken_trade();">CEE Viewer</a> | <a id="trade_break" class="submenu-nonactive" href="/<%= controller.controller_name%>/bulk">Bulk Trade Break</a> | <a id="modify_position" class="submenu-nonactive" href="/<%= controller.controller_name%>/position">Modify Positions</a> 
						| <a id="hung_order" class="submenu-nonactive" href="/<%= controller.controller_name%>/hung_order" onclick="show_hung_order();">Hung Order</a>
					  </td> 
					</tr>
				</table></td>
			  </tr>		  
				<tr class="text_filter">    
				  <td align="CENTER" valign="MIDDLEN">
				  Type:
							<%
								brokentypes=[["Broken",0],["Adjusted",1], ["Filed",2]]
								list_status=[["All",0],["F",1], ["CF",2], ["MR",3]]
							%>
						  <select name="brokentype" id="brokentype" maxlength="10" onchange="show_broken_trade();">
							  <%= options_for_select(brokentypes,@brokentype.to_i) %>
						  </select>&nbsp;
				Filing Status:
				      <select name="filing_status" id="filing_status" maxlength="10" style="width:70px;">
							  <%= options_for_select(list_status,@filing_status.to_i) %>
						  </select>
        Date From:
				<input readonly="readonly" name="start_time" id="start_time" value="<%= @uc.start_time.strftime("%m/%d/%Y") %>"  size="10"  type="text" onchange="check_Time(this)">
				<img src="/images/calenda.gif" width="20" alt="calendar" align="ABSBOTTOM" name="ical1" id="ical1" style="cursor:pointer"/>
				To:
				<input readonly="readonly" name="end_time" id="end_time" value="<%= @uc.end_time.strftime("%m/%d/%Y") %>"  size="10"  type="text" onchange="check_Time(this)">
				<img src="/images/calenda.gif" width="20" alt="calendar" align="ABSBOTTOM" name="ical2" id="ical2" style="cursor:pointer"/>
				
				  &nbsp;&nbsp;
				<input type="button" value="  Apply  " onclick="show_broken_trade();">
				<input name="btnReset" type="button" value=" Reset " id="btnReset" onclick="reset_filter();"></td>

				</tr>						
			  </table>
		</div>	
	</div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart">
		<div id="utilities_show_broken" style="width:100%; background:transparent;"> 		
		</div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->

<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script language="javascript">
  window.onload = function(e){
    Calendar.setup({
      inputField     :    "start_time",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical1",
      align          :    "B1",
      singleClick    :    true
    });
	Calendar.setup({
        inputField     :    "end_time", 
        ifFormat       :    '%m/%d/%Y',
        button         :    "ical2",
        align          :    "Bl",
        singleClick    :    true
    });

    page1 = document.getElementById("utilities1");
    swap(page1);
	  $("broken_trade").className = "submenu-active";
    //document.getElementById('start_time').onchange=function(el){};
    //document.getElementById('end_time').onchange=function(el){};
	  show_broken_trade();
  }

  /*********************************************************************************
   * Method name 		: show_broken_trade
   * Input				  : 
   * Output			    :
   * Date created		: 
   * Developer			: TuanBD
   * Description		: show_broken_trade
  **********************************************************************************/
  function show_broken_trade()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			brokentype: $("brokentype").value,
			status: $("filing_status").value
		};
		
	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true,
						onComplete:function(){
								//refresh menu side bar
								refresh_menu_data();
							}});	
  }
  	//function refresh menu (date: 2010/02/25)
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
            start_time: document.getElementById("start_time").value,
            end_time:document.getElementById("end_time").value		
		};	
		var url = "/utilities/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});
	}
  //Function sort_fields
  function sort_fields(field, dir)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			brokentype: $("brokentype").value,
			status: $("filing_status").value,
			sort_field: field,
			dir: dir
		};
		
	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});	
  }
  //Function page_view
  function page_view()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			brokentype: $("brokentype").value,
			status: $("filing_status").value,
			page: $("page").value
		};
		
	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});	
  }

  //Function undo_broken
  function undo_broken(id)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			start_time: document.getElementById("start_time").value,
			end_time: document.getElementById("end_time").value,
			brokentype: $("brokentype").value,
			status: $("filing_status").value,
			undo: 1,
			broken_id: id
		};
		
	var url = "/utilities/show_broken" ;
	new Ajax.Updater('utilities_show_broken',url,{parameters: param, method: "GET", evalScripts:true});	
  }
  
  	// Reset filter
	function reset_filter()
	{	
		document.getElementById("start_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("end_time").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("brokentype").value = "0";
		document.getElementById("filing_status").value = "0";
	
	}

</script>
