<div style="width:100%;">
	<div style="width:100%; align:center; text-align:center;">
		<table width="100%" border="0" cellspacing="1" cellpadding="2">		  
		  <tr>
			<td >
			  <table width="100%" border="0" cellspacing="1" cellpadding="2">
				<tr class="text_filter">
				  <td align="left">
					<a id="broken_trade" class="submenu-nonactive" href="/<%= controller.controller_name%>/index">CEE Viewer</a> | <a id="trade_break" class="submenu-nonactive" href="/<%= controller.controller_name%>/bulk">Bulk Trade Break</a> | <a id="modify_position" class="submenu-nonactive" href="#" onclick="show_position();">Modify Positions</a>
					| <a id="hung_order" class="submenu-nonactive" href="/<%= controller.controller_name%>/hung_order" onclick="show_hung_order();">Hung Order</a> 
					 </td>
				</tr>
			</table></td>
		  </tr>		  
			<tr class="text_filter">    
			  <td align="CENTER" valign="BOTTOM">      
			  </td>
			</tr>
		  </table>
	</div>
	<br/>
	<div id="utilities_position" style="width:100%; background:transparent;"> 

	</div>
</div>

<script language="javascript">
	var pe = null;
    window.onload=function(el){
		page1 = document.getElementById("utilities1");
		swap(page1);
		$("modify_position").className = "submenu-active";
		//document.getElementById('trade_date').onchange=function(el){};

		show_position();
	}

  //Function show_position
  function show_position()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function sort_fields
  function sort_fields(field,dir)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			order_field: field,
			dir: dir
		};

	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //add long/short createLongShortSubmit
  function add_longshort()
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			createLongShortSubmit: 1
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function create_new_longshort
  function create_new_longshort()
  {
		var params = {
			authenticity_token: '<%= form_authenticity_token %>',
			insertLongShortSubmit: 1,
			symbol: $('symbol').value,
			side_select: $('side_select').value,
			shares: $('shares').value,
			account_value : $('account_id').value,
			price: $('price').value
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: params, method: "GET", evalScripts:true});
  }
  //Edit long/short
  function edit_longshort(id, acc)
  {
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			edit: 1,
			edit_id: id,
			account_value: acc
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: param, method: "GET", evalScripts:true});
  }
  //Function update_longshort
  function update_longshort()
  {
		var params = {
			authenticity_token: '<%= form_authenticity_token %>',
			updateLongShort: 1,
			id: $('id').value,
			symbol: $('symbol').value,
			side_select: $('side_select').value,
			shares: $('shares').value,
			account_value : $('account_id').value,
			price: $('price').value
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: params, method: "GET", evalScripts:true});
  }
  //Function delete_longshort
  function delete_longshort(id)
  {
		//alert('i am here! ' + id );
		var params = {
			authenticity_token: '<%= form_authenticity_token %>',
			del: 1,
			del_id: id
		};
	var url = "/utilities/show_position" ;
	new Ajax.Updater('utilities_position',url,{parameters: params, method: "GET", evalScripts:true});
  }

	function isNumberKey(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }


	function isFloatNumber(evt)
    {

        var charCode = (evt.which) ? evt.which : event.keyCode;

		if (charCode == 46)
            return true;

         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }

	function check_price_error()
	{
		var price_to = document.getElementById("price_to").value;
		var price_from = document.getElementById("price_from").value;

		if (price_from.trim() != '')
		{
			price_from = price_from.split(".")[0] + "." + price_from.split(".")[1];
			if (price_from[0] == '.')
			{
				price_from = "0" + price_from;
			}
			document.getElementById("price_from").value = price_from;
		}

		if (price_to.trim() != '')
		{
			price_to = price_to.split(".")[0] + "." + price_to.split(".")[1];
			if (price_to[0] == '.')
			{
				price_to = "0" + price_to;
			}
			document.getElementById("price_to").value = price_to;

		}
	}

	function _delete(id)
	{
		window.location=window.location + "?id=" + id;
	}
 
  function show_msg_note(id)
  {

   				 	Ext.MessageBox.confirm('Message Note', 'Do  you want to delete this symbol?', function(btn){
						if(btn=="yes")
						{
							 new Ajax.Request('/utilities/modify_long_short?del_id=' + id + '&del=true',
								{asynchronous:true, 
									onComplete:function(e){
										window.location.href = window.location.href;
									}//function
								 }
							  );//Ajax.Request function
						}
					});


  }//end function show_msg_note
		<% if params[:del_id] && params[:del]%>
			$("deleted").className = "Location";

		<%end%>
</script>
<script type="text/javascript" src="/javascripts/ext/adapter/prototype/ext-prototype-adapter.js"></script>
<script type="text/javascript" src="/javascripts/ext/ext-all.js"></script>
