<table width="100%" border="0" cellspacing="0" cellpadding="2">  
  <% hash_param = {:trade_date => @uc.trade_date.strftime('%m/%d/%Y'), 
                  :brokentype => @brokentype,
                  :status => @filing_status,
                  :dir => @dir, 
                  :sort_field => @order_field
                }
  %>
  
  <%
    end_index = @offset + @items_per_page
    start_index = 0
    if  @count > 0
      start_index = @offset + 1
    end
    if end_index > @count
      end_index = @count
    end
  %>
  <tr>
    <td align='right'>
      <table>
        <tr>
          <td align="left" nowrap class="text_filter">&nbsp;&nbsp;<%= link_to "XLS Export", {:controller=>"utilities", :action=>"xls_export_broken", :params =>hash_param}, {:class=>"exportlink"} %>
      		</td>
      		<td>&nbsp;</td>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'utilities_show_broken'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>            
			<%= text_field_tag 'page', next_page, {:size => 1, :maxlength => 10, :class=>"input0"} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader">
          <td nowrap class="table_tdheader"  align="CENTER" width="5%">#</td>
          <td nowrap align="CENTER" width="7%"><a class="table_tdheader" href="#" onclick="sort_fields('cl_order_id','<%= @dir%>'); return false;">ClOrdID</a> </td>
          <td nowrap align="CENTER" width="7%"><a class="table_tdheader" href="#" onclick="sort_fields('symbol','<%= @dir%>'); return false;">Symbol </a></td>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('side','<%= @dir%>'); return false;">Action</a></td>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('filled_shares','<%= @dir%>'); return false;">Filled Shares </a></td>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('filled_price','<%= @dir%>'); return false;">Filled Price</a></td>
          <% if params[:brokentype] && params[:brokentype].to_i == 1 %>
            <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('adjusted_price','<%= @dir%>'); return false;">Adjusted Price </a></td>
          <% end %>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('ecn','<%= @dir%>'); return false;">ECN</a></td>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('trade_date','<%= @dir%>'); return false;">Date</a></td>
          <td nowrap align="CENTER" width="8%"><a class="table_tdheader" href="#" onclick="sort_fields('trade_time','<%= @dir%>'); return false;">Trade Time</a></td>
          <td nowrap align="CENTER" width="6%"><a class="table_tdheader" href="#" onclick="sort_fields('filing_status','<%= @dir%>'); return false;">Filing Status</a></td>
          <td nowrap align="CENTER" width="15%"><a class="table_tdheader" href="#" onclick="sort_fields('cee_note','<%= @dir%>'); return false;">CEE Notes</a></td>
          <td nowrap align="CENTER" width="5%">&nbsp;</td>
        </tr>
        <%
        #rand_filing_status = [" ", "F", "CF", "MR"]
        i = 0
        @brokens.each{ |broken|
          i += 1
        %>
          <tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
            <td class="text_normal" align="right"><%= number_with_delimiter(@offset + i, {:delimiter=>","})%></td>
            <td class="text_normal" align="right"> <%= broken.cl_order_id%>&nbsp;</td>
            <td class="text_normal" align="left"><%= broken.symbol%></td>
            <td class="text_normal" align="left"><%= broken.side2%></td>
            <td class="text_normal" align="RIGHT"><%= number_with_delimiter(broken.filled_shares, {:delimiter=>","})%></td>
            <td class="text_normal" align="RIGHT"><%= number_to_currency(broken.filled_price,{:unit=>"",:precision=>2, :delimiter=>","}) %></td>
            <% if params[:brokentype] && params[:brokentype].to_i == 1 %>
              <td class="text_normal" align="RIGHT"><%= number_to_currency(broken.adjusted_price, {:unit=>"",:precision=>2, :delimiter=>","}) %></td>
            <% end %>
            <td class="text_normal" align="center"> <%= display_ecn(broken.ecn) %> </td>
            <td class="text_normal" align="RIGHT"> <%= broken.trade_date.strftime("%Y-%m-%d")%></td>
            <td class="text_normal" align="RIGHT"> <%= broken.trade_time.strftime("%H:%M:%S:")%><%= "%06d" % (broken.trade_time.usec.to_i) %> </td>
            <td class="text_normal" align="center"> <%= broken.filing_status.to_s if broken.filing_status %> </td>
            <td class="text_normal" align="left" > <%= broken.cee_note.to_s if broken.cee_note %> </td>
            <td align="center"> <a class="text_normal" href="#" onclick="undo_broken('<%= broken.id%>'); return false;">Undo</a> </td>
          </tr>
        <%}%>
    </table></td>
  </tr>
  <tr>
    <td align='right'>
      <table>
        <tr>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'utilities_show_broken'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>
			<%= text_field_tag 'page', next_page, {:size => 1, :maxlength => 10,:class=>"input0"} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>  
</table>
