<% 
	acc_map = account_mapping
	@ListAccount = []
	count = 0
	acc_map.each { |x|
		tmp = []
		tmp << x.to_s
		tmp << count.to_i
		count = count + 1
		@ListAccount << tmp
	}

%>
<table width="100%" border="0" cellspacing="0" cellpadding="2"> 
	<tr>
		<td align="left" class="text_filter"> This is current long/short on <%= @last_trade_date.to_date %> </td>
	</tr>
  <% if @add_long_short != nil %>
  
  <tr>
		<td><table width="100%" border="0" cellspacing="2" cellpadding="2">
			<tr>
				<td>&nbsp;</td><td>&nbsp;</td>
			</tr>
			<tr class="text_filter">

				<td  align="LEFT" width="50">Symbol</td>
				<td align="LEFT" > <input name="symbol" value="<%= %>" type="text" size="10" maxlength="8" id="symbol" class="txt" width="200" ></td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50">Side</td>
				<td align="LEFT" >
					<select name="side_select" id="side_select" maxlength="8">
						<%= options_for_select(@buy_sell, 1) %>
					</select>
					</td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50" >Shares</td>
				<td align="LEFT" ><input name="shares" value="<%=  %>" type="text" size="10" maxlength="9" id="shares" class="txt"  onkeypress="return isNumberKey(event);"> </td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50">Price</td>
				<td align="LEFT" ><input name="price" value="<%= %>" type="text" size="10" maxlength="10" id="price" class="txt" onkeypress="return isFloatNumber(event);"></td>
			</tr>
			<tr class="text_filter">
				<td align="LEFT" width="50">Account</td>
				<td>
				<select name="account" id="account_id" maxlength="12">
					<%= options_for_select(@ListAccount, @AccountSelect) %>
				</select>
				</td>
			</tr>
			<tr>
				<td >&nbsp;</td>
				<td ><input name="insertLongShortSubmit" type="button" value=" Create new" id="btnSubmit" onclick="create_new_longshort();"></td>
			</tr>
		</table></td>
  </tr>
  <%else%>
  <tr>
	<td align="left"><input name="createLongShortSubmit" type="button" value=" Create a new long/short" id="btnSubmit" onclick="add_longshort();"></td>
  </tr>
  <%end%>
 
  <tr>
		<td><table width="100%" border="0" cellspacing="2" cellpadding="2">
			<% if @edit_long_short != nil %>
			<tr class="text_filter">
				<td  >&nbsp;</td>
				<td > <input name="id" value="<%= @edit_long_short.first.id %>" type="hidden" size="10" maxlength="8" id="id" class="txt" width="200" ></td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50">Symbol</td>
				<td align="LEFT" > <input readonly="readonly" name="symbol" value="<%= @edit_long_short.first.symbol %>" type="text" size="10" maxlength="8" id="symbol" class="txt" width="200" ></td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50">Side</td>
				<td align="LEFT" >
					<select name="side_select" id="side_select" maxlength="8">
						<%= 
						selected_value = 1
						selected_value = -1 if @edit_long_short.first.net_quantity < 0

						options_for_select(@buy_sell, selected_value) 
						%>
					</select>
					</td>
			</tr>
			<tr class="text_filter">
				<td  align="LEFT" width="50" >Shares</td>
				<td align="LEFT" ><input name="shares" value="<%= @edit_long_short.first.net_quantity.to_i.abs %>" type="text" size="10" maxlength="9" id="shares" class="txt" onkeypress="return isNumberKey(event);" > </td>
			</tr>
			<tr class="text_filter">
				<td align="LEFT" width="50">Price</td>
				<td align="LEFT" ><input name="price" value="<%= (@edit_long_short.first.average_price.to_f * 100).round.to_f/100 %>" type="text" size="10" maxlength="10" id="price" class="txt" onkeypress="return isFloatNumber(event);" ></td>
			</tr>
			<tr class="text_filter">
				<td align="LEFT" width="50">Account</td>
				<td>
				<select name="account" id="account_id" maxlength="12" disabled="disabled">
					<%= options_for_select(@ListAccount, @AccountSelect) %>
				</select>
				</td>
			</tr>
			<tr class="text_filter">
				<td >&nbsp;</td>
				<td ><input name="updateLongShort" type="submit" value=" Save " id="btnSubmit" onclick="update_longshort();"></td>
			</tr>
			</form>
			<%end%>
		</table></td>
  </tr>
   <tr>
    <td><table width="100%" border="1" class="table_normal">
      <tr class="table_trheader">
        <td class="table_tdheader" align="CENTER" width="4%">#</td>
        <td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('symbol','<%= @dir%>'); return false;">SYMBOL</a></td>
		<td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('account','<%= @dir%>'); return false;">Account</a> </td>
        <td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('net_quantity','<%= @dir%>'); return false;">Side</a> </td>
        <td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('net_quantity','<%= @dir%>'); return false;">Shares</a> </td>
        <td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('average_price','<%= @dir%>'); return false;">Price</a> </td>
		<td align="CENTER" width="10%"><a class="table_tdheader" href="#" onclick="sort_fields('date','<%= @dir%>'); return false;">Date</a> </td>
		<td align="CENTER" width="10%">&nbsp;</td>
		<td align="CENTER" width="10%">&nbsp;</td>
      </tr>
	       
      <% 
	  i=0
	  @long_shorts.each{ |row| 
	  	i += 1
		side = "S"
		if row.net_quantity.to_i >= 0 then side = "B" end
	  %>

	  <tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
	    <td class="text_normal" align="right"><%= i%></td>
        <td class="text_normal" align="LEFT"><%= row.symbol%></td>
		<td class="text_normal" align="center"><%= account_mapping[row.account.to_i] %></td>
		<td class="text_normal" align="center"><%= side %></td>
		<td class="text_normal" align="RIGHT">
			<%= 
			if row.net_quantity.to_i >= 0
			number_with_delimiter(row.net_quantity.to_i, ",")
			else
			 number_with_delimiter(-row.net_quantity.to_i, ",") 
			end
			%>
		</td>
		<td class="text_normal" align="RIGHT"><%= number_to_currency(row.average_price.to_f,{:unit=>"",:precision=>2,:delimiter=>","}) %></td>
		<td class="text_normal" align="RIGHT"><%= row.date %></td>


       <td align="CENTER"> <a class="text_normal" href="#" onclick="edit_longshort('<%= row.id%>' , '<%= row.account.to_i %>'); return false;">Edit</a> </td>
    <!--  <td align="CENTER"  id="deleted" onclick="show_msg_note(<%= row.id%>);" style="cursor:pointer;"><a href="javascript:">Delete</a> </td>  -->
	  <td align="CENTER"> <a class="text_normal" href="#" onclick="delete_longshort('<%= row.id %>'); return false;">Delete</a> </td> 


      </tr>
	 <%}%>
    </table></td>
  </tr>
  
</table>

