<table width="100%" border="0" cellspacing="0" cellpadding="2"> 
	<tr>
		<td align="left" class="text_filter"> This is current Hung Orders on <%= @last_trade_date %> </td>
	</tr>
	<%
		end_index = @offset + @items_per_page
		start_index = 0
		if  @count > 0
			start_index = @offset + 1
		end
		if end_index > @count
			end_index = @count
		end

		side_mapping = {"BO"=>"BUY", "BC"=>"BUY", "S " => "SELL", "SS" => "SHORT SELL"}
	%>
	<tr>	  
		<td align='right'>
			<table>
				<tr>
					<td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
					<td><%= will_paginate @object_pages,:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'utilities_show_hung'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0 %></td>
					<% 
						page_count = 0
						page_count = @object_pages.total_pages
						if page_count > 1
							next_page = (params[:page] || 1).to_i + 1 
							next_page = page_count if next_page > page_count
					%>
					<td>
						<% form_tag({:controller => 'utilities'}, {:method => :get, :id => 'form1'}) do
								params.each{|k, v|
									if k != 'page' && k != 'action' && k != 'controller' %>
										<%= hidden_field_tag k, v %>
									<%end
								}%>
						<% end -%>
						<%= text_field_tag 'page', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view();'} %>
					</td>
					<td>
						<%= link_to_remote(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view()'}) %>
					</td>
					<% end %>
				</tr>
			</table>
    </td>
	</tr>
  <tr>
    <td nowrap><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader" >
          <td nowrap class="table_tdheader"  align="CENTER" width="5%"><input type="checkbox" name="checkall" id="checkall_id" onchange="check_all(this); return false;" ></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('order_id','<%= @dir %>'); return false;" href="#">CIOrdID</a></td>
		  <td nowrap align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('symbol','<%= @dir %>'); return false;" href="#">SYMBOL</a></td> 
		  <td nowrap align="CENTER" width="10%"><a class="table_tdheader" onclick="sort_fields('side','<%= @dir %>'); return false;" href="#">Action</a> </td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader"  onclick="sort_fields('shares','<%= @dir %>'); return false;" href="#">Shares</a></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('price','<%= @dir %>'); return false;" href="#">Price</a></td>
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('ecn','<%= @dir %>'); return false;" href="#">ECN</a></td>          
          <td nowrap align="CENTER" width="9%"><a class="table_tdheader" onclick="sort_fields('time_in_force','<%= @dir %>'); return false;" href="#">TIF</a></td>
          <td nowrap align="CENTER" width="10%"><a class="table_tdheader" onclick="sort_fields('status','<%= @dir %>'); return false;" href="#">Status</a></td>
          <td nowrap align="CENTER" width="10%"><a class="table_tdheader" onclick="sort_fields('time_stamp','<%= @dir %>'); return false;" href="#">Time</a></td>
        </tr>
        <% 

        i = 0
        @hung_orders.each{ |an_order|  
			i += 1
			status = ""
			if an_order["status"] == "Sent" || an_order["status"] == "Live" || an_order["status"] == "Broken"
				status = an_order["status"]
			elif an_order.left_shares.to_i == 0
				status = "Fully Filled"
			elsif an_order.left_shares.to_i < an_order.shares.to_i
				status = "Partially Filled"
			elsif an_order.status[0..5] == "Cancel"
				status = "Cancelled"
			else
				status = an_order.status
			end

        %>
          <tr onmouseover="n_over(this)" onmouseout="n_out(this)" id="<%= i %>" <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %> >
            <td class="text_normal" align="CENTER"><input type="checkbox" name="foo" value="<%= an_order.oid %>" id="<%= an_order.oid %>" onchange="verify_all_check();"></td>
            <td class="text_normal" align="RIGHT" id="<%= an_order.oid %>" onclick="process_hung_order(this)" > <%= an_order.order_id %></td>
			<td class="text_normal" align="LEFT" id="<%= an_order.oid %>" onclick="process_hung_order(this)"><%= an_order.symbol%></td>
            <td class="text_normal" align="LEFT" id="<%= an_order.oid %>" onclick="process_hung_order(this)"><%= side_mapping[an_order.side] %></td>
            <td class="text_normal" align="RIGHT" id="<%= an_order.oid %>" onclick="process_hung_order(this)"><%= number_with_delimiter( an_order.shares , :delimiter => ",") %></td>
            <td class="text_normal" align="RIGHT" id="<%= an_order.oid %>" onclick="process_hung_order(this)"><%= number_to_currency(an_order["price"].to_f,{:unit=>"", :precision=>2, :delimiter => ","})  %></td>
            <td class="text_normal" align="CENTER" id="<%= an_order.oid %>" onclick="process_hung_order(this)"> <%= display_ecn(an_order.ecn) %> </td>	                
            <td class="text_normal" align="CENTER" id="<%= an_order.oid %>" onclick="process_hung_order(this)" > <%= an_order.time_in_force.strip %> </td>
            <td class="text_normal"align="LEFT" id="<%= an_order.oid %>" onclick="process_hung_order(this)"><%= status %></td>
            <td class="text_normal" align="LEFT" style="padding-left:8px;" id="<%= an_order.oid %>" onclick="process_hung_order(this)" ><%= an_order.time_stamp %></td>
          </tr>
        <%}%>
    </table>
	</td>
  </tr>

  <tr >
		<td align='left'>
			<input type="button" value="  Cancel All Checked  " onclick="cancel_all_checked();">
		</td>
  </tr>


</table>
 
