<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <!--  <form id="myform_break" onSubmit="test_lert();"  > -->
  <% hash_param = {:trade_date => @uc.trade_date.strftime('%m/%d/%Y'), 
                  :trade_start_time => @uc.trade_start_time,  
                  :trade_end_time => @uc.trade_end_time, 
                  :symbol => @uc.symbol,
                  :fill_share => @fill_share,
                  :ecn => @uc.ecn,  
                  :price_from => @uc.price_from, 
                  :price_to => @uc.price_to, 
                  :buysell => @buysell, 
                  :dir => @dir, 
                  :sort_field => @order_field
                }
  %>
  <%
    end_index = @offset + @items_per_page
    start_index = 0
    if  @count > 0
      start_index = @offset + 1
    end
    if end_index > @count
      end_index = @count
    end
  %>
  <tr>
    <td align='right'>
      <table cellspacing="0" cellpadding="0" border="0">
        <tr>
		  <td nowrap width="50%" align="right" class="text_filter">Total shares: <%= number_with_delimiter(@total_filled_shares,:delimiter=>",") %></td>		   
       <td>&nbsp;<input type="hidden" name="ecn" id="hidden_ecn" value="<%= @uc.ecn.to_s%>" /></td>      
       <td nowrap width="47%" align="right"><%= link_to "XLS Export", {:controller=>"/utilities", :action=>"xls_export", :params =>hash_param}, {:class=>"exportlink"} %> &nbsp;<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td nowrap width="5%" align="right"><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'utilities_trade_break'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td nowrap width="5%" align="right">
            <% form_tag({:controller => 'utilities', :action => 'trade_break'}, {:method => :get, :id => 'form1'}) do
                params.each{|k, v|
                  if k != 'page' && k != 'action' && k != 'controller' %>
                    <%= hidden_field_tag k, v %>
                  <%end
                }%>                
            <% end -%>
			<%= text_field_tag 'page1', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\');'} %>
          </td>
          <td nowrap>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px',:title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="1" class="table_normal">
        <tr class="table_trheader">
          <td class="table_tdheader"  align="CENTER" width="8%">#</td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('cl_order_id','<%= @dir%>','<%= @uc.ecn%>'); return false;">ClOrdID</a> </td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('symbol','<%= @dir%>','<%= @uc.ecn%>'); return false;">Symbol </a></td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('filled_shares','<%= @dir%>','<%= @uc.ecn%>'); return false;">Filled Shares </a></td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('filled_price','<%= @dir%>','<%= @uc.ecn%>'); return false;">Filled Price</a></td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('ecn','<%= @dir%>','<%= @uc.ecn%>'); return false;">ECN</a></td>
		  <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('action','<%= @dir%>','<%= @uc.ecn%>'); return false;">Type</a></td>
          <td align="CENTER" width="13%"><a class="table_tdheader" href="#" onclick="sort_fields('trade_time','<%= @dir%>','<%= @uc.ecn%>'); return false;">Trade Time</a></td>        
        </tr>
        <%     
        i = 0
        @tradebreaks.each{ |breaks|  
          i += 1
		  if (breaks.action.to_s == "SS")
				action_t = "SS"
			else
				action_t = breaks.action.first
			end
        %>
          <tr <% if i % 2 == 0 then %> class="table_even_row" <% else %> class="table_odd_row"<% end %>>
            <td class="text_normal" align="right"><%= number_with_delimiter(@offset + i,:delimiter=>",")%>&nbsp;</td>
            <td class="text_normal" align="right"> <%= breaks.cl_order_id%>&nbsp;</td>
            <td class="text_normal" align="left"><%= breaks.symbol%></td>
            <td class="text_normal" align="RIGHT"><%= number_with_delimiter(breaks.filled_shares,:delimiter=>",")%></td>
            <td class="text_normal" align="RIGHT"><%= number_to_currency(breaks.filled_price,{:unit=>"", :precision=>2, :delimiter => ","}) %>&nbsp;</td>
            <td class="text_normal" align="center"> <%= display_ecn(breaks.ecn) %> </td>
			<td class="text_normal" align="center"><%= action_t %></td>
            <td class="text_normal" align="RIGHT"> <%= breaks.trade_time.strftime("%H:%M:%S:")%><%=  "%06d" %  (breaks.trade_time.usec.to_i) %> </td>        
          </tr>
        <%}%>
    </table></td>
  </tr>
  <tr>
    <td align='right'>
      <table>
        <tr>
          <td><span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span></td>
          <td><%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'utilities_trade_break'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %></td>
          <% 
			page_count = 0
			page_count = @object_pages.total_pages
			if page_count > 1
				next_page = (params[:page] || 1).to_i + 1 
				next_page = page_count if next_page > page_count
		  %>
          <td>            
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'2\');'} %>
          </td>
          <td>
            <%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title =>"Go to this page"}), '#', {:onclick => 'page_view(\'2\'); return false;'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align='RIGHT'><input name="btnCee_filing" type="button" value="      CEE Filing       " id="btnCee_filing" onclick="add_cee_filing_all_trades('<%= @fill_ids %>')" >&nbsp;&nbsp;&nbsp;<input name="btnBreak" type="button" value="Break all trades" id="btnBreak" onclick="break_all_trades('<%= @fill_ids %>')"></td>
  </tr>
</table>
