<style type="text/css">
.lm_container2{
	width:100%;
	height:100%;
}
.lm_top2{
	width:100%;
	height:90px;	
}
.lm_left2{
	width:0px;
	height:100%;
	
}
.lm_center2{
	/*width:100%;
	overflow:auto;*/
	overflow: hidden;
}
.lm_right2{
	width:0px;
	height:100%;
	
}
.lm_bottom2{
	width:100%;
	height:0px;	
}
</style>
<%
cross_status_list = [["All", 1],["Cross Detected", -1],["Missed", 2],["Stuck", 3],["Loss", 4],["Profit", 5],["Not Easy to Borrow",6],["All Traded", 0]]

list_iso_orders = [["All Orders", "0"], ["ISO Orders", "1"]] 

	sort_type = [["Descending","desc"], ["Ascending","asc"] ]
%>
<!--  add to move paging out of scroll -->
<script type="text/javascript" src="/javascripts/layout_paging_zone.js"></script>
<!-- # -->
<!--  add to overwrite mouse wheel event to set window vertially scroll -->
<script type="text/javascript" src="/javascripts/mousewheel_scroll.js"></script>
<!-- # -->

<script type = "text/javascript">
//alert(window.innerWidth);
</script>
<div class="lm_container lm_container2">    
   <div class="lm_top lm_top2" >
		<div style="width:100%; align:center; text-align:center;">
		<table border="0" cellspacing="0" cellpadding="3" style="width:100%;">
		  <tr>
			<td align="CENTER" style="width:100%;"> 
					<table border="0" cellspacing="1" cellpadding="1">
					<tr>
					<td align="CENTER">
						<table border="0" cellspacing="1" cellpadding="1">
						<tr class="text_filter">
								<td >Time From:
								<input name="trade_start_time" id="trade_start_time" type="text" class ="txt_number" size="6" maxlength="5" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_start_time%>" >
								</td>
								<td >To:
								<input name="trade_end_time" id="trade_end_time" type="text" class ="txt_number" size="6" maxlength="5" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isTimeNumber(event)" value="<%=@uc.trade_end_time%>">
								</td>	  
								<td >Date:
								<input readonly="readonly" name="trade_date" id="trade_date" value="<%= @uc.trade_date.strftime("%m/%d/%Y") %>"  size="10"  type="text"  onchange="check_Time(this)"> 
							<img src="/images/calenda.gif" alt="calendar"  name="ical2" width="20" align="ABSBOTTOM"  id="ical2" style="cursor:pointer"/> </td>
							<td >
								<select name="iso_order" id="iso_order" style="width:100px;">
								<%= options_for_select(list_iso_orders,@iso_order.to_s) %>
								</select></td> 
								<td >Status:
								<select id="cmb_cross_status" name="cross_status" onchange="on_cross_status_change(this);" style="width:150px;">
								  <%= options_for_select(cross_status_list, @uc.cross_status ) %>
							  </select>      </td>
							</tr>

						</table>
					</td>
					</tr>
					<tr>
						<table border="0" cellspacing="1" cellpadding="1">
							<tr class="text_filter">						  
											  
							  <td >Symbol:
							  <input name="symbol" value="<%= @uc.symbol.to_s %>" type="text" class="txt" maxlength="8" id="symbol" size="10" style="width:70px;" onkeypress = "getEnterKey(event)"></td>
							  <td >Trade ID >=<input name="trade_id" value="<%= @trade_id.to_i %>" type="text" class="txt" maxlength="6" id="trade_id" size="6" style="width:60px;" onkeydown = "getEnterKey(event)" onkeypress="return isNumberKey(event)"></td>
							  <td >ECN:
							    <select id="ecn_filter" name="ecn_filter" onchange="" style="width:175px;">
							      <%= options_for_select(list_ecn_filters_trade_view, @ecn_entryexit.to_s ) %>			
							    </select>      
								</td>						  
								<td class="trade-servers-td" >
									<div class="btn-group" id="btn-group">
										<span class="left margin-label-td">Trade Server:</span>
										<%= render :partial => 'layouts/multi_trade_servers_selection', :locals => {:list_trade_servers => ts_list[1..(ts_list.size-1)] } %>
									</div>   
								</td>
								<td >Sort by:
								<select id="sort_filter" name="sort" onchange="show_trade_view();" >
									 <%= options_for_select(sort_type,@sort_type) %>
								 
								</select>      </td>
							  
								<td><input name="submit" type="button" value="   Apply   " onclick="show_trade_view();"></td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="btnReset" type="button" value="  Reset  " id="btnReset" onclick="reset_filter();">
								</td>
							</tr>
						</table>
						
					<td>
					</td>
					</tr>
					  
					</table>
				</form>	        
			</td>
			
		  </tr>
		 </table>
		
		</div>		
   </div><!--end top2-->
 
   <div class="lm_left lm_left2"> </div> 
   <div class="lm_center lm_center2 scroll_div_with_chart" id="trade-view-center-div">
		<div id="trade_view_container" style="background:transparent;" class="width-auto" > </div>
   </div>   
   <div class="lm_right lm_right2"></div>
  <div class="lm_bottom lm_bottom2"> </div> 
</div><!--end contain2-->


<div  class="text_filter" id='please_wait' style="display:none; position:absolute;background:#6699FF;">
    <br>
    &nbsp; Please wait ... &nbsp;
    <br>
</div>

<script language="javascript">
	//  add event resize on window
	var rtime = new Date(1, 1, 2000, 12,00,00);
	var timeout = false;
	var delta = 200;
	window.onresize = function() {
	    rtime = new Date();
	    if (!timeout) {
	        timeout = true;
	        setTimeout(resizeend, delta);
	    }
	}

	function resizeend() {
	    if (new Date() - rtime < delta) {
	        setTimeout(resizeend, delta);
	    } else {
	        timeout = false;
	        setPositionOfTradeViewContent("tradeview-content", "trade-view-center-div", "trade_view_container", "tradeview-paging-top");
	    }               
	}
	// --------------------------------

  window.onload=function(el){
    Calendar.setup({
      inputField     :    "trade_date",
      ifFormat       :    '%m/%d/%Y',
      button         :    "ical2",
      align          :    "B1",
      singleClick    :    true
    });

    page1 = document.getElementById("trade_view1");
    swap(page1);
	
	 // Get params when click in fill rate
    var paramsTS = '<%= @uc.ts ? @uc.ts : "" %>';
	setTSfromParams(paramsTS);
	
    document.getElementById('trade_date').onchange=function(el){};
    on_cross_status_change($('cmb_cross_status'));
	show_trade_view();
  }
  	function please_wait()
	{	
		var pos = $('trade_view_container').cumulativeOffset();
		var _wait = $('please_wait');
		    _wait.update("Please wait...");
			_wait.style.position = "absolute";
			_wait.style.top = pos.top;
			_wait.style.left = pos.left - 150;
			_wait.show();
	}
	function refresh_menu_data()
	{
		var param = {
			authenticity_token: '<%= form_authenticity_token %>'	
		};	
		var url = "/trade_view/menu_refresh" ;
		new Ajax.Updater('menu_summary_info',url,{parameters: param, method: "GET", evalScripts:true});

	}
	function show_trade_view()
	{	
		please_wait();
	    check_time();
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			trade_id: document.getElementById("trade_id").value,
			cross_status: document.getElementById("cmb_cross_status").value,
			//ts: document.getElementById("cmb_ts").value,
			ts: getTradeServers(), // Multi trade servers selections
			sort_filter: document.getElementById("sort_filter").value,
			ecn_filter: $('ecn_filter').value,
			iso_order: $('iso_order').value
		};		

		var url = "/trade_view/show_detail" ;
		new Ajax.Updater('trade_view_container',url,{parameters: param, method: "GET", evalScripts:true,
			onComplete:function(){
				$('please_wait').update("");
				//refresh side bar of menu
				refresh_menu_data();
				setPositionOfTradeViewContent("tradeview-content", "trade-view-center-div", "trade_view_container", "tradeview-paging-top");
				resizeScrollDivWhenClick("tradeview-paging-top", "tradeview-paging-bottom", "tradeview-content", "trade-view-center-div", "trade_view_container", "tradeview-paging-top");
		 	}});	
		
	}
	
	function page_view(pa)
	{	
		please_wait();
		check_time();
		if (pa == 1)
		{
			document.getElementById('page2').value = document.getElementById('page1').value;
		}
		else
		{
			document.getElementById('page1').value = document.getElementById('page2').value;
		}
		var param = {
			authenticity_token: '<%= form_authenticity_token %>',
			trade_date: document.getElementById("trade_date").value,
			trade_start_time: document.getElementById("trade_start_time").value,
			trade_end_time: document.getElementById("trade_end_time").value,
			symbol: document.getElementById("symbol").value,
			trade_id: document.getElementById("trade_id").value,
			cross_status: document.getElementById("cmb_cross_status").value,
			//ts: document.getElementById("cmb_ts").value,
			ts: getTradeServers(), // Multi trade servers selections
			sort_filter: document.getElementById("sort_filter").value,
			ecn_filter: $('ecn_filter').value,
			page: document.getElementById('page1').value,
			iso_order: $('iso_order').value
		};		

		var url = "/trade_view/show_detail" ;
		new Ajax.Updater('trade_view_container',url,{parameters: param, method: "GET", evalScripts:true,onComplete:function(){$('please_wait').update("");setPositionOfTradeViewContent("tradeview-content", "trade-view-center-div", "trade_view_container", "tradeview-paging-top");resizeScrollDivWhenClick("tradeview-paging-top", "tradeview-paging-bottom", "tradeview-content", "trade-view-center-div", "trade_view_container", "tradeview-paging-top");}});
	}
  /****************************************************************
   * Function name: on_cross_status_change
   * Input: cross_status combobox
   * Output: Enable, Disable cmb_ts according to cross status
   * Return: N/A
   * Date created: January 14, 2008
   * Developer: Hungpk
   * Description:
   ***************************************************************/

  function on_cross_status_change(el){
    if( el.value == "1" || el.value == "-1"){
		document.getElementById("btn-dropdown").disabled = true; 
     
    }else{
		document.getElementById("btn-dropdown").disabled = false; 

    }
  }
  function getEnterKey(e)
	{
		var uinocde = e.keyCode?e.keyCode:e.charCode;
		if(uinocde == 13)
		{
			show_trade_view();
		}
		return;
	}
	function isNumberKey(evt)
    {
		
        var charCode = (evt.which) ? evt.which : event.keyCode;
	
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	
	function isTimeNumber(evt)
    {
		
        var charCode = (evt.which) ? evt.which : event.keyCode;
		
		if (charCode == 58)
            return true;
		
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;
    }
	
	function check_time()
	{
		var _start_time = document.getElementById("trade_start_time").value;
		var _end_time = document.getElementById("trade_end_time").value;

		var start_time_arr = _start_time.split(":");
		var end_time_arr = _end_time.split(":");
		
		/* Check start time */
		if (_start_time == "")
		{
			document.getElementById("trade_start_time").value = "6:00";
		}
		else
		{
			if (start_time_arr.length==1)
			{
				
				if (start_time_arr[0]>=0 && start_time_arr[0]<=23)
				{
					 document.getElementById("trade_start_time").value = start_time_arr[0]+":"+"00";
				}
				else if (start_time_arr[0]<0 || start_time_arr[0]>23)
				{
					document.getElementById("trade_start_time").value = "6:00";
				}
			}
			else if (start_time_arr.length==2)
			{
		
				if (start_time_arr[0]< 0 || start_time_arr[0] > 23)
					document.getElementById("trade_start_time").value = "6:00";
				else if (start_time_arr[1] != "00" && start_time_arr[1] < 0 || start_time_arr[1] > 59)
						document.getElementById("trade_start_time").value = "6:00";
					else if (start_time_arr[0] == "")
						document.getElementById("trade_start_time").value = "6:00";
			}
		}

		/* Check end time */
		if (_end_time == "")
		{
			document.getElementById("trade_end_time").value = "19:00";
		}
		else
		{
			if (end_time_arr.length==1)
			{
				if (end_time_arr[0]>=0 && end_time_arr[0]<=23)
				{
					 document.getElementById("trade_end_time").value = end_time_arr[0]+":"+"00";
				}
				else if (end_time_arr[0]<0 || end_time_arr[0]>23)
				{
					document.getElementById("trade_end_time").value = "19:00";
				}
			}
			else if (end_time_arr.length==2)
			{
				if (end_time_arr[0]< 0 || end_time_arr[0] > 23)
					document.getElementById("trade_end_time").value = "19:00";
				else if (end_time_arr[1] != "00" && end_time_arr[1] < 0 || end_time_arr[1] > 59)
						document.getElementById("trade_end_time").value = "19:00";
					else if (end_time_arr[0] == "")
						document.getElementById("trade_end_time").value = "19:00";
			}
		}
		
	
	}
	
	// Reset filter
	function reset_filter()
	{	
		document.getElementById("trade_date").value = "<%=@uc.last_date_trading.strftime("%m/%d/%Y")%>";
		document.getElementById("trade_start_time").value = "2:00";
		document.getElementById("trade_end_time").value = "19:00";
		document.getElementById("iso_order").value = "0";
		document.getElementById("cmb_cross_status").value = "0";
		document.getElementById("symbol").value = "";
		document.getElementById("trade_id").value = "0";	
		document.getElementById("ecn_filter").value = "0";	
		document.getElementById("btn-dropdown").disabled = false; 
		//document.getElementById("cmb_ts").value = "0";
        clear_selection(); // Multi trade servers selections		
		document.getElementById("sort_filter").value = "desc";
	
	}


</script>
