<% require 'util' %>
<%
	end_index = @offset + @items_per_page
	start_index = 0
	if  @count > 0
	start_index = @offset + 1
	end
	if end_index > @count
	end_index = @count
	end
%>
<div class="center-layout-paging" id="tradeview-paging-top">
	<div class="left center-layout-paging-item">
		<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="tradeview-link-list-top">
		<%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'trade_view_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %>
	</div>
	<% 
		page_count = 0
		page_count = @object_pages.total_pages
		if page_count > 1
			next_page = (params[:page] || 1).to_i + 1 
			next_page = page_count if next_page > page_count				
	%>
		<div class="left center-layout-paging-item">
			<%= text_field_tag 'page1', next_page , {:size => 1, :maxlength => 10,:class=>"input0", :onchange=>'page_view(\'1\');'} %>
		</div>
		<div class="left center-layout-paging-item">
			<%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title=>"Go to this page"}), '#', {:onclick => 'page_view(\'1\'); return false;'}) %>
		</div>
	<% end %>
</div>
<div class="clear-both center-layout-content" id="tradeview-content">
	<table cellspacing="0" cellpadding="0">
		<%

	        cross_ids = @data.keys
			if @sort_code == 1
				cross_ids = cross_ids.sort{|x,y| y<=>x}
			else
				cross_ids = cross_ids.sort{|x,y| x<=>y}
			end
			ts_list_temp = ts_list
			if @oldView == 1
				cross_ids.each{ |k|
				  cross = @data[k]

		%>

			<tr>
			<td>			
  				<table class="table_normal" border="1" cellspacing="2" cellpadding="2">
					<tr>
	  					<td class="textbold_normal">&nbsp;&nbsp;&nbsp;&nbsp;[<%= k %>]: <%=cross["symbol"].strip%> &nbsp;&nbsp;</td>
					</tr>
					<%
						ts_ids = cross.keys
						
						ts_ids.delete_if{|x| x=="symbol"}
						ts_ids.sort!{|x,y| x<=>y}
						ts_ids.each{ |k2|
						  v = cross[k2]
						  v.sort! {|x,y| [x.timestamp,x.raw_content[0..1].to_i,x.id]<=>[y.timestamp,y.raw_content[0..1].to_i,y.id]}						  
					%>
  					<tr>
						<td nowrap>
	  						<table border="0" class="table_normal text_normal">
								<tr <% if v[0].trade_id == nil then %> class="not_traded" <% end %>>
		  							<td colspan="2" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%= 
									  ts_id_mapping = ts_mapping(k2+1) 							 						   
									  ts_list_temp[ts_id_mapping][0].to_s %>
									</td>
								</tr>
								<%
									if v.first.content && v.first.content != nil then %>
									<tr>
										<td width="70" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;ISO: <%=(if v.first.content != nil then
												if v.first.content[0..8] != '_ 1 0.01;' then v.first.content
												else 'no BBO information during pre/post market time'
												end
											end)%>
										</td>
									</tr>
								<% end %>
								<% v.each { |content|
								  logs = content.raw_content.split(" ",4)						 
								%>
							  	<tr <% if content.trade_id == nil then %> class="not_traded" <% end %>>
									<td width="70" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%= Time.at(logs[2].to_i).strftime("%H:%M:%S")%>.<%=Time.at(logs[2].to_f).usec %></td>
									<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%= parse_raw_cross(content.raw_content)%></td>
							  	</tr>
								<% } %>
							</table>
						</td>
					</tr>
					<%}%>
				</table>
			</td>
		</tr>
		<%
		}
		%>
		<%
			else	
			
				cross_ids.each{ |k|
				  cross = @data[k]

		%>

			<tr>
				<td>
					<table class="table_normal" border="1" cellspacing="2" cellpadding="2">
					<tr>
  						<td class="textbold_normal">&nbsp;&nbsp;&nbsp;&nbsp;[<%= k %>]: <%=cross["symbol"].strip%> &nbsp;&nbsp;</td>
					</tr>
					<%
						ts_ids = cross.keys
						ts_ids.delete_if{|x| x=="symbol"}
						ts_ids.sort!{|x,y| x<=>y}
						ts_ids.each{ |k2|
						  v = cross[k2]	
						  v.sort! {|x,y| x.timestamp<=>y.timestamp}
              start_timestamp = v.first.timestamp
              v.each {|x| x.timestamp = start_timestamp if x.raw_content[0..1].to_i == 0}
						  v.sort! {|x,y| [x.timestamp,x.raw_content[0..1].to_i,x.id]<=>[y.timestamp,y.raw_content[0..1].to_i,y.id]}
					 
					%>
  					<tr>
						<td nowrap>
	  						<table border="0" class="table_normal text_normal">
								<tr <% if v[0].trade_id == nil then %> class="not_traded" <% end %>>
		  							<td colspan="2" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%=						 
									   ts_id_mapping = ts_mapping(k2+1) 							 						   
									   ts_list_temp[ts_id_mapping][0].to_s %></td>
								</tr>
								<%
								  if v[0].trade_id != nil then
								%>
									<%if v.first.raw_content != nil and v.first.raw_content[0..1].to_i != 0 then %>
									<tr>
										<td width="70" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<%
											iso_time = 0
											timestamp_int = v.first.timestamp.to_i
								
										
											if (timestamp_int >= @iso_start_time and timestamp_int <= @iso_end_time) then
												iso_time = 1
											end
										%>
										<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;
										<%= 
											if iso_time == 0 then  
												'ISO: no BBO information during pre/post market time' 
											else 
												'ISO turned off, no BBO information' 
											end
										%></td>
									</tr>
									<% end %>
								<% end%>
								<% 
									vv = v
									v.each { |content|  
										
										 if content.raw_content != nil then
											logs = content.raw_content.split(" ",4)
											
											if content.raw_content[0..1].to_i == 0 then
											%>
											<tr>
												<td width="70" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
												<%
													dem  = 0
													vv.each { |x|
														if x.raw_content[0..1].to_i == 0 then
															dem = dem + 1
														end	
													}
													entry_iso = "Entry: "
													exit_iso = "Exit: "
													if dem <= 2 then
												%>
												<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp; ISO <%= if content.bbo_id == 0 then entry_iso else exit_iso end %>&nbsp;
												 <%= content.raw_content[2..content.raw_content.length - 1]%></td>
												<%
													else
														exit_iso = "Exit "
														exit_iso << (content.bbo_id.to_s) << " :"
												%>
													<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp; ISO <%= if content.bbo_id == 0 then entry_iso else exit_iso end %>&nbsp;
													<%= content.raw_content[2..content.raw_content.length - 1]%></td>
												<%
													end
												%>
											</tr>
											<% else %>
											  <tr <% if content.trade_id == nil then %> class="not_traded" <% end %>>
												<td width="70" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%= Time.at(logs[2].to_i).strftime("%H:%M:%S")%>.<%= "%06d" % Time.at(logs[2].to_f).usec %></td>
												<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;<%= parse_raw_cross(content.raw_content)%></td>
											  </tr>
											<% 
												end
										end
								} %>
							</table>
						</td>
					</tr>
					<%}%>
				</table>
			</td>
		</tr>
		<%
			}
		%>
		<%
			end
		%>
	</table>
</div>
<div class="center-layout-paging" id="tradeview-paging-bottom">
	<div class="left tradeview-paging-item">
		<span class="pagination"><%= "[#{start_index}-#{end_index} of #{@object_pages.total_entries}]" %></span>
	</div>
	<div class="left center-layout-paging-item" id="tradeview-link-list-bottom">
		<%= will_paginate @object_pages, {:renderer => 'RemoteLinkRenderer',:remote =>{:update=> 'trade_view_container'},:previous_label => image_tag('prev.gif'), :next_label => image_tag('next.gif'), :inner_window => 2, :outer_window => 0} %>
	</div>
	<% 
		page_count = 0
		page_count = @object_pages.total_pages
		if page_count > 1
			next_page = (params[:page] || 1).to_i + 1 
			next_page = page_count if next_page > page_count
	%>
		<div class="left center-layout-paging-item">
			<%= text_field_tag 'page2', next_page, {:size => 1, :maxlength => 10,:class=>"input0",:onchange=>'page_view(\'2\');'} %>
		</div>
		<div class="left center-layout-paging-item">
			<%= link_to(image_tag('search.gif', {:style => 'margin-bottom:-3px', :title=>"Go to this page"}), '#', {:onclick => 'page_view(\'2\');return false;'}) %>
		</div>
	<% end %>
</div>